<div class="Pagetitle">Classroom List</div>
<br>
<div class="columns is-mobile">
    <div class="column is-half">
        <div class="buttons">
            <div class="button buttonlogout is-responsive " onclick="history.back()">
                Back
            </div>
        </div>


    </div>
    <div class="column is-half">
        <div class="buttons is-right">
            <button class="button buttonlogout is-responsive" id="createnewroom" onclick="gotocreateroom()">Create new room</button>
        </div>
    </div>
</div>




<br>
<div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
    <table id="mytable" class="table is-bordered is-striped is-hoverable is-fullwidth">
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: #C3B091;">
            <a class="sorting" id='headerCampus' onclick="sorting('sorting','mytable','headerCampus',0);">&#8593;</a>
            Campus
        </th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: #C3B091;">
            <a class="sorting" id='headerRID' onclick="sorting('sorting','mytable','headerRID',1);">&#8593;</a>
            Room Name
        </th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: #C3B091;">
            <a class="sorting" id='headerStatus' onclick="sorting('sorting','mytable','headerStatus',2);">&#8593;</a>Status</th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: #C3B091;">Add timeslot</th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: #C3B091;">Delete</th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: #C3B091;">View</th>

        <% allClassroomlist.forEach( function(classroom) { %>
            <%if(classroom.Campus !='' ){%>


                <tr>
                    <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                        <%=classroom.Campus%>
                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                        <%=classroom.RID%>
                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                        <div class="buttons is-centered">
                            <%if(classroom.status == "Close"){%>
                                <button class="button buttonlogout is-responsive" style="background-color: rgb(200, 130, 60);" onclick="changestatus('<%=classroom.Campus%>','<%=classroom.RID%>','<%=classroom.status%>')"><%=classroom.status%></button>
                            <%}else{%>
                                <button class="button buttonlogout is-responsive" onclick="changestatus('<%=classroom.Campus%>','<%=classroom.RID%>','<%=classroom.status%>')"><%=classroom.status%></button>
                            <%}%>
                        </div>
                        
                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                        <div class="buttons is-centered">
                            <button class="button buttonlogout is-responsive" type="button" onclick="redirect('/addtimeslot/<%= classroom.Campus%>/<%= classroom.RID%>')">Add</button>
                       </div>

                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                        <div class="buttons is-centered">
                        <button class="button buttonlogout is-responsive"onclick="deleteclassroom('<%= classroom.Campus %>','<%= classroom.RID%>')">
                            Delete
                        </button>
                    </div>
                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                        <div class = "buttons is-centered">
                            <button class="button buttonlogout is-responsive" onclick="redirect('/view/<%= classroom.Campus%>/<%= classroom.RID%>')">view</button>
                       </div>
                    </td>
                </tr>
                <%}%>
                    <% }); %>

    </table>
</div>

<script>
    function gotocreateroom() {
        location.assign("/createnewclassroom");
    }


    async function deleteclassroom(campus, rid) {
        var r = confirm("Confirm Delete " + rid + " in " + campus + " ?");
        var requestBody = JSON.stringify({ Campus: campus, RID: rid });
        if (r) {

            var response = await fetch("/classroomlist", {
                method: "DELETE",
                body: requestBody
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Classroom deleted.");
                location.reload();
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };


    function sorting(thissortingclass, thistable, idlocation, tablelocation) {

        for (var i = 0; i < document.getElementsByClassName(thissortingclass).length; i++) {

            if (i != tablelocation) {

                document.getElementsByClassName(thissortingclass)[i].innerHTML = '↑'
            }
        }

        if (document.getElementById(idlocation).innerHTML == '↑') {
            document.getElementById(idlocation).innerHTML = '\&\#8595;';
            sortingtable(thistable, "dsc", tablelocation);
        } else {
            document.getElementById(idlocation).innerHTML = '\&\#8593;'
            sortingtable(thistable, "asc", tablelocation);
        }

    }

    function sortingtable(thistable, ordering, tablelocation) {
        var table, rows, switching, i, x, y, shouldSwitch, switchcount = 0;
        table = document.getElementById(thistable);
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {

                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[tablelocation];
                y = rows[i + 1].getElementsByTagName("TD")[tablelocation];

                if (ordering == "asc") {
                    if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (ordering == "dsc") {
                    if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }

            if (shouldSwitch) {

                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && ordering == "asc") {
                    ordering = "dsc";
                    switching = true;
                }
            }
        }
    }

    function backback(){
        location.assign("/Mainclassroommanagement")
    }

    function redirect(path){
        location.assign(path)
    }

    async function changestatus(campus,rid,status){
        var requestBody = JSON.stringify({ Campus: campus, RID: rid,Status:status });
            var response = await fetch("/classroomlist", {
                method: "POST",
                body: requestBody
            });

            if (response.ok) {
                location.reload();
            } 
    }

</script>