<div class="Pagetitle">Classroom Management Page</div>
<div class="buttons">
    <div class="button buttonlogout is-responsive " onclick="history.back()">
        Back
    </div>
</div>
<div class="table" style="width: 100%;overflow-x: scroll; overflow-y: scroll;">
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Campus</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Room Name</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Status</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Add timeslot</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Delete</th>


    <% allClassroomlist.forEach( function(classroom) { %>

        <tr>
            <td style="text-align: center;vertical-align:middle;">
                <%= classroom.Campus %>
            </td>
            <td style="text-align: center;vertical-align:middle;">
                <%= classroom.RID%>
            </td>
            <td style="text-align: center;vertical-align:middle;">
                <%= classroom.status%>
            </td>
            <td style="text-align: center;vertical-align:middle;">
                <a href="/read/<%= classroom.Campus %>/<%= classroom.RID%>">
                    <button class="button is-responsive" type="button">Add</button>
                </a>
                
            </td>
            <td style="text-align: center;vertical-align:middle;">
                <button class="button is-responsive" type="button"
                    onclick="deleteclassroom('<%= classroom.Campus %>','<%= classroom.RID%>')">Delete</button>
            </td>
        </tr>

        <% }); %>

</table>
</div>