<div>
    <div class="Pagetitle">Draft Schedule for <%=req.query.id%>
    </div>
    <div class="row">
        <div class="buttons">
            <div class="button buttonlogout" onclick="backback()">Back</div>
        </div>
    </div>
    <br>
    
        <div class = "columns is-centered is-mobile">
            <div class = "column ">
        <table class="table is-bordered is-striped is-hoverable is-narrow" style="margin-left: auto; margin-right: auto;">
            <tr>

                <%var displaydate=(new Date(setting.startday))%>
                    <% var printday=new Date(displaydate.getTime()+ 60*60*24*1000*(Page-1))%>
                        <%var enddisplaydate=new Date(displaydate.getTime()+ 60*60*24*1000*(6-displaydate.getDay()));%>
                        <%=enddisplaydate%>
                        <%boxes = boxes.filter((boxes)=> new Date(boxes.boxdate)<= enddisplaydate)%>
                        <%boxes = boxes.filter((boxes)=> new Date(boxes.boxdate) >= displaydate)%>
                        <%requestes = requestes.filter((requestes) => (new Date(requestes.RequestDate)).toLocaleDateString() <= enddisplaydate.toLocaleDateString())%>
                        <%requestes = requestes.filter((requestes) => (new Date(requestes.RequestDate)).toLocaleDateString() >= displaydate.toLocaleDateString())%>
                        <%
                        var appendlist = [];
                        for (var a = 0; a < ttb.length; a++) {
                            var starttimeay = ttb[a].starttime.split(":");
                            var endtimeay = ttb[a].endtime.split(":");
                          
                            if (parseInt(endtimeay[0]) - parseInt(starttimeay[0]) > 1) {
                              
                                var index = 1;
                                while (parseInt(endtimeay[0]) - parseInt(starttimeay[0]) > 1) {
                                    
                                    var element = JSON.parse(JSON.stringify(ttb[a]))
                                    element.starttime = (parseInt(starttimeay[0]) + index) + ":" + "30:00"
                                    element.endtime = (parseInt(starttimeay[0]) + index + 1) + ":" + "30:00"
                                    appendlist.push(element);
                                    endtimeay = element.starttime.split(":");
                                   
                                    index++;
                                   
                                }
                            } 
                            ttb[a].endtime = (parseInt(starttimeay[0])+1) + ":30:00";
                            
                        }
                       appendlist.forEach((element)=> ttb.push(element))
                        

                       ttb.sort((a, b) => {
                        if (a.weekdays < b.weekdays) return -1;
                        if (a.weekdays > b.weekdays) return 1;
                       if (a.starttime < b.starttime) return -1;
                        if (a.starttime > b.starttime) return 1;
                        })
                        console.log(ttb)
                    %>
                     
                        <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: darkorange;">
                                < </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                SUN
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                MON
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                TUE
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                WED
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                THU
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                FRI
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                                SAT
                            </th>
                            <th
                                style="font-size:25px;text-align: center;vertical-align:middle; background-color: darkorange;">
                                >
                            </th>
            </tr>
            <tr>
                <td style="font-size : 14px"></td>
                
                    <%for(var a=0 ; a < displaydate.getDay();a++){%>
                        <%printday=new Date(printday.getTime()-(displaydate.getDay()+a)*60*60*24*1000)%> 
                        <td style="font-size:18px;text-align: center;vertical-align:middle;"><%=printday.toLocaleDateString("en-GB")%></td>
                        <%}%>
                        <%printday = displaydate%>
                            <%for(var a=1 ; a <=(7- displaydate.getDay());a++){%>
                                <td style="font-size:18px;text-align: center;vertical-align:middle;">
                                    <%=printday.toLocaleDateString("en-GB")%>

                                </td>
                                <%printday=new Date(printday.getTime()+60*60*24*1000)%>
                                    <%}%>
                                        <td style="font-size : 14px"></td>
            </tr>
            <%printday = displaydate%>
            <%printday.setHours(8);printday.setMinutes(30);%>
            <%=printday%>
            <%for(var a = 0 ; a < 13;a++){%>
                <!--print line-->
                <tr>
                    
                    <%for (var b = 0 ; b < 8;b++){%>
                        <%if(b == 0){%>
                            
                            <td style="font-size : 14px"><%=printday.toLocaleTimeString("en-GB")%></td>
                            <%}else{%>
                                <%if(b <= displaydate.getDay()){%>
                                    <td style="font-size : 14px">hell0</td>                                   
                                     <%}else{%>
                                    <!--start checking-->
                                    <%var printed = false;%>
                                    <!--check schedule box-->
                                         <%if(boxes.length > 0 && printday.toLocaleDateString() == (new Date(boxes[0].boxdate)).toLocaleDateString()){%>
                                        
                                     
                                            <%if(printday.toLocaleTimeString("en-GB") == (new Date(boxes[0].boxdate)).toLocaleTimeString("en-GB")){%>
                                                
                                                <%printed = true;%>
                                            <td style="font-size : 14px">
                                                <table class="table is-narrow" style="margin-left: auto; margin-right: auto;">
                                                    <tr><th style="text-align: center;vertical-align:middle; background-color: bisque;">boxid:</th></tr>
                                                    <tr><td><%=boxes[0].boxID%></td></tr>
                                                    <tr><th style="text-align: center;vertical-align:middle; background-color: bisque;">SID:</th></tr>
                                                    <tr><td><%=boxes[0].SID%></td></tr>
                                                    <tr><th style="text-align: center;vertical-align:middle; background-color: bisque;">Campus:</th></tr>
                                                    <tr><td><%=boxes[0].Campus%></td></tr>
                                                    <tr><th style="text-align: center;vertical-align:middle; background-color: bisque;">RID:</th></tr>
                                                    <tr><td><%=boxes[0].RID%></td></tr>
                                                </table>
                                               
                                            </td>
                                            <%boxes.splice(0,1)%>
                                            
                                            <%if(boxes.length>1){%>
                                                <%var checkdate = new Date(boxes[0].boxdate)%>
                                                 <%while(checkdate.toLocaleDateString() == printday.toLocaleDateString()){%>
                                                    <%var element = (boxes.shift())%>
                                                    <%boxes.push(element);%>
                                                
                                                    <%checkdate = new Date(boxes[0].boxdate)%>
                                                    <%}%>
                                                <%}%>
                                           
                                            
                                               
                                            
                                                <%}else{%>
                                                  
                                                   
                                                 <!--not correct time but we need to move on to next day-->
                                                 <!--push all today to the back of the list-->
                                                 <%if(boxes.length>1){%>
                                                 <%while((new Date(boxes[0].boxdate)).toLocaleDateString() == printday.toLocaleDateString()){%>
                                                    <%boxes.push(boxes.shift())%>
                                                   
                                                 <%}%>
                                                 <%}%>
                                                    
                                                 <%}%>
                                                 
                                       <%}else{%>
                                       
                                       <%if(boxes.length>1){%>
                                       <%while(boxes.length >1 && (new Date(boxes[0].boxdate)).toLocaleDateString() == printday.toLocaleDateString()){%>
                                        <%boxes.push(boxes.shift())%>
                                     <%}%>
                                     <%}%>
                                        <%}%>  

                                        <!--check requestdate-->
                                        <%if(requestes.length > 0 && printday.toLocaleDateString() == (new Date(requestes[0].RequestDate)).toLocaleDateString()){%>
                                            
                                          
                                     
                                            <%if(printday.toLocaleTimeString("en-GB") < (requestes[0].RequestStartTime)  ){%>
                                             
                                                <%printed = true;%>
                                                <td style="font-size : 14px">
                                                    <table class="table is-narrow" style="margin-left: auto; margin-right: auto;">
                                                        <tr><th style="text-align: center;vertical-align:middle; background-color: plum;">Requestid:</th></tr>
                                                        <tr><td><%=requestes[0].ReqID%></td></tr>
                                                        <tr><th style="text-align: center;vertical-align:middle; background-color: plum;">Start Time :</th></tr>
                                                        <tr><td><%=requestes[0].RequestStartTime%></td></tr>
                                                        <tr><th style="text-align: center;vertical-align:middle; background-color: plum;">End Time :</th></tr>
                                                        <tr><td><%=requestes[0].RequestEndTime%></td></tr>
                                                        
                                                    </table>
                                                   
                                                </td>
                                                <%requestes.splice(0,1)%>
                                           
                                            <%if(requestes.length>1){%>
                                                <%var checkdate = new Date(requestes[0].RequestDate)%>
                                                 <%while(checkdate.toLocaleDateString() == printday.toLocaleDateString()){%>
                                                    <%var element = (requestes.shift())%>
                                                    <%requestes.push(element);%>
                                               
                                                    <%checkdate = new Date(requestes[0].RequestDate)%>
                                                    <%}%>
                                                <%}%>
                                                
                                                <%}else{%>
                                                  
                                                   
                                                 <!--not correct time but we need to move on to next day-->
                                                 <!--push all today to the back of the list-->
                                                 <%if(requestes.length>1){%>
                                                 <%while((new Date(requestes[0].RequestDate)).toLocaleDateString() == printday.toLocaleDateString()){%>
                                                    <%requestes.push(requestes.shift())%>
                                                   
                                                 <%}%>
                                                 <%}%>
                                                    
                                                 <%}%>
                                                 
                                       <%}else{%>
                                     

                                      
                                       <%if(requestes.length>1){%>
                                       <%while(requestes.length >1 && (new Date(requestes[0].RequestDate)).toLocaleDateString() == printday.toLocaleDateString()){%>
                                        <%requestes.push(requestes.shift())%>
                                     <%}%>
                                     <%}%>
                                        <%}%>  
                                        




                                        <!--check ttb-->
                                        <!--check requestdate-->
                                        
                                        <%if(ttb.length > 0 && printday.getDay() == ttb[0].weekdays){%>  
                                            <%var printdaysessiontime = new Date(printday.getTime()+60*60*1000)%>
                                            <%console.log((printday.toLocaleTimeString("en-GB") == (ttb[0].starttime)),"   ",(ttb[0].endtime == printdaysessiontime.toLocaleTimeString("en-GB")))%>
                                            
                                          
                                            <%if(printday.toLocaleTimeString("en-GB") == (ttb[0].starttime)  &&  ttb[0].endtime == printdaysessiontime.toLocaleTimeString("en-GB")){%>
                                                <%console.log("case 1")%>
                                                <%printed = true;%>
                                                <td style="font-size : 14px">
                                                    <table class="table is-narrow" style="margin-left: auto; margin-right: auto;">
                                                        <tr><th style="text-align: center;vertical-align:middle; background-color: pink;">Class:</th></tr>
                                                        <tr><td><%=ttb[0].cid%></td></tr>
                                                        <tr><th style="text-align: center;vertical-align:middle; background-color: pink;">Campus:</th></tr>
                                                        <tr><td><%=ttb[0].campus%></td></tr>
                                                        <tr><th style="text-align: center;vertical-align:middle; background-color: pink;">RID:</th></tr>
                                                        <tr><td><%=ttb[0].rid%></td></tr>
                                                        
                                                    </table>
                                                   
                                                </td>
                                                <%ttb.splice(0,1)%>
                                            <%if(ttb.length>1){%>
                                                <%var checkdate = ttb[0].weekdays%>
                                                 <%while(checkdate == printday.getDay()){%>
                                                    <%ttb.push(ttb.shift())%>
                                                   
                                                    <%checkdate = ttb[0].weekdays%>
                                                    <%}%>
                                                <%}%>
                                                
                                                <%}else{%>
                                                   <%console.log("case2")%>
                                                   
                                                 <!--not correct time but we need to move on to next day-->
                                                 <!--push all today to the back of the list-->
                                                 <%if(ttb.length>1){%>
                                                    <%var checkweek = ttb[0].weekdays%>
                                                    
                                                    <%while(ttb.length >1 && checkweek == printday.getDay()){%>
                                                        <%ttb.push(ttb.shift())%>
                                                        <%checkweek = ttb[0].weekdays%>
                                                        <%console.log("qweq",ttb)%>
                                                        <%break;%>
                                                        <%}%>
                                                 <%}%>
                                                 
                                                 <%}%>
                                                 
                                       <%}else{%>
                                       
                                      
                                       <%if(ttb.length>1){%>
                                    <%var checkdate = ttb[0].weekdays%>
                                       <%while(ttb.length >1 && (ttb[0].weekdays == printday.getDay())){%>
                                        <%ttb.push(ttb.shift())%>
                                            <%checkdate = ttb[0].weekdays%>
                                     <%}%>
                                     <%}%>
                                        <%}%>  
<%if(!printed){%><td style="font-size : 14px">111</td><%}%>



                                       <%printday=new Date(printday.getTime()+60*60*24*1000)%>
                                        <%}%>
                                
                                <%}%>
                                
                        <%}%>
                        <td style="font-size : 14px">222</td>
                </tr>
                <%printday=new Date(displaydate.getTime()+(a+1)*60*60*1000)%>
                <%}%>


        </table>
    </div>
        </div>
   

</div>
<script>
    function backback() {
        location.assign("/supervisorschedulelist")
    }
</script>