<div class="Pagetitle">Request List</div>
<br>
<div class="buttons">
    <div class="button buttonlogout is-responsive is-left" onclick="history.back()">
        Back
    </div>

</div>
<br>
<div style="overflow-x:auto;overflow-y:auto;">
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <tr>
        <th colspan="8"
            style="font-size: calc(20px + 0.390625vw);text-align: center;vertical-align:middle;background-color: rgb(229, 173, 89);">
            Supervisors Request List</th>
    </tr>
    <tr>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: blanchedalmond;">ReqID</th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: blanchedalmond;">TID</th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: blanchedalmond;">
            Unavaildable date</th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: blanchedalmond;">Start Time
        </th>
        <th style="font-size: calc(15px + 0.390625vw);text-align: center;vertical-align:middle;background-color: blanchedalmond;">EndTime
        </th>
    </tr>
    <% thissupervisorrequestlist.forEach( function(request) { const StartDay=new
        Date(request.RequestDate).toLocaleDateString('en-CA'); %>

        <tr>
            <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                <%= request.ReqID %>
            </td>
            <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                <%= request.TID %>
            </td>
            <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                <%= StartDay %>
            </td>

            <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                <%= request.RequestStartTime %>
            </td>
            <td style="text-align: center;vertical-align:middle;font-size: calc(13px + 0.390625vw);">
                <%= request.RequestEndTime%>
            </td>
            
        </tr>

        <% }); %>

</table>
</div>
<br><br>


<script>
    
</script>