<div>
    <div class="Pagetitle">Schedule List </div>

    <div class="rows">
        <div class="columns is-multiline is-mobile">
            <div class="column is-half-desktop is-3-mobile">
                <div class="buttons is-left">
                    <div class="button buttonlogout is-responsive" onclick="backback()">Back</div>
                </div>
            </div>

            <div class="column is-half-desktop is-9-mobile">
                <div class="buttons is-right">
                    <div class="button buttonlogout is-responsive " onclick="ReGeneration()">ReGenerate</div>
                </div>
            </div>
        </div>

    </div>


    <br>

    <div class="rows">
        <div class="row">
            <div class="columns is-centered is-multiline">
                <div class="column is-fullwidth-mobile is-8-desktop">
                    <div class="tabs is-toggle">
                        <ul>

                            <%plannumber.forEach(element=>{%>

                                <%if(req.query.planNo==element.planNo){%>
                                    <li class="is-active"><a>Plan No. <%=element.planNo%></a></li>
                                    <%}else{%>
                                        <%if(element.planStatus=="Manual Handling" ){%>
                                            <li style="background-color: rgb(245, 159, 159);"><a
                                                    href="/scheduledesign/scheduleList?planNo=<%=element.planNo%>">Plan
                                                    No.
                                                    <%=element.planNo%>
                                                </a></li>
                                            <%}else{%>
                                                <li><a href="/scheduledesign/scheduleList?planNo=<%=element.planNo%>">Plan
                                                        No.
                                                        <%=element.planNo%>
                                                    </a></li>
                                                <%}%>

                                                    <%}%>
                                                        <%})%>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <%if(planhandlecase !=null ){%>
            <div class="row">
                <div class="columns is-centered is-multiline">
                    <div class="column is-fullwidth-mobile is-6-desktop">
                        <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                                <tr>
                                    <th colspan="5"
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); background-color: rgb(250, 81, 81);">
                                        Untackled Cases : <%=planhandlecase.length%>
                                    </th>
                                </tr>
                                <tr>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw);vertical-align: middle;">
                                        StudentID
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw);vertical-align: middle;">
                                        StuName
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw);vertical-align: middle;">
                                        SupName
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw);vertical-align: middle;">
                                        ObsName
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw);vertical-align: middle;">
                                        Action
                                    </th>
                                </tr>
                                <%planhandlecase.forEach((element)=>{%>
                                    <tr>
                                        <td
                                            style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                            <%=element.sid%>
                                        </td>
                                        <td
                                            style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                            <%=element.stdname%>
                                        </td>
                                        <td
                                            style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                            <%=element.supname%>
                                        </td>
                                        <td
                                            style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                            <%=element.obsname%>
                                        </td>
                                        <td
                                            style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                            <div class="button greenbutton"
                                                onclick="Edit(null,'<%=element.sid%>','<%=req.query.planNo%>',null)">
                                                Edit </div>
                                        </td>
                                    </tr>
                                    <%})%>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>

                <div class="row">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-fullwidth-mobile is-9-desktop">
                            <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                                <table id="mytable" class="table is-bordered is-striped is-hoverable is-fullwidth">
                                    <tr>
                                        <%var thisplan = plannumber.find((plans)=> plans.planNo == req.query.planNo);var planhandlecasenum ; 
                                        if(planhandlecase == null){planhandlecasenum = 0} else{
                                            planhandlecasenum = planhandlecase.length
                                        }%>
                                        <th colspan="9"
                                            style="text-align:center; font-size: calc(20px + 0.390625vw); background-color: bisque;">
                                            Plan Number : <%=req.query.planNo%> (Handled : <%=plandetails.length%>)
                                                    <div class="buttons is-responsive is-right is-bordered">
                                                        <div class="button greenbutton"
                                                            onclick="output('<%=req.query.planNo%>')">
                                                            Output CSV file
                                                        </div>

                                                        
                                                       
                                                        <%if(thisplan.planStatus == "Selected"){%>
                                                            <div class="button greenbutton" disabled>Selected</div>
                                                            <%}else if(thisplan.planStatus == "Successful"){%>
                                                                <div class="button greenbutton"
                                                            onclick="Select('<%=req.query.planNo%>' , '<%=planhandlecasenum%>')">
                                                            Select As Final Schedule
                                                        </div>
                                                                <%}%>
                                                        
                                                    </div>


                                        </th> 
                                        
                                    </tr>
                                    <%if(thisplan.planStatus == "Selected"){%> <tr><th colspan="9" style="text-align:center; font-size: calc(20px + 0.390625vw); background-color: rgb(128, 248, 115);">(Current Selected Final Schedule)</th></tr> <%}%>
                                    </tr>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        Date
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        Time
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        Classroom
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        StdID
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        SupName
                                    </th>

                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        StuName
                                    </th>

                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        ObsName
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        Topic
                                    </th>
                                    <th
                                        style="text-align:center; font-size: calc(15px + 0.390625vw); vertical-align: middle;">
                                        Edit
                                    </th>
                                    </tr>

                                    <%plandetails.forEach(element=> {%>
                                        <tr>


                                            <td id="Date"
                                                style="text-align:center; font-size: calc(10px + 0.390625vw); vertical-align: middle;">
                                                <%=(new Date (element.Date)).toLocaleDateString("en-GB")%>
                                            </td>



                                            <td
                                                style="text-align:center; font-size: calc(10px + 0.390625vw); vertical-align: middle;">
                                                <%=element.Time%>
                                            </td>
                                            <% switch(element.Classroom){ case "FSC801C" :%>
                                                <td
                                                    style="background-color: rgb(247, 168, 168); text-align:center; font-size: calc(10px + 0.390625vw); vertical-align: middle;">
                                                    <%=element.Classroom%>
                                                </td>
                                                <%break;%>
                                                    <%case "FSC801D" :%>
                                                        <td
                                                            style="background-color: rgb(239, 128, 42); text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                            <%=element.Classroom%>
                                                        </td>
                                                        <%break;%>
                                                            <%case "FSC901C" :%>
                                                                <td
                                                                    style="background-color: rgb(249, 245, 147); text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                    <%=element.Classroom%>
                                                                </td>
                                                                <%break;%>
                                                                    <%case "FSC901D" :%>
                                                                        <td
                                                                            style="background-color: rgb(166, 249, 147); text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                            <%=element.Classroom%>
                                                                        </td>
                                                                        <%break;%>
                                                                            <%case "FSC901E" :%>
                                                                                <td
                                                                                    style="background-color: rgb(57, 111, 247); text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                    <%=element.Classroom%>
                                                                                </td>
                                                                                <%break;%>
                                                                                    <%case "RRS638" :%>
                                                                                        <td
                                                                                            style="background-color: rgb(147, 249, 247); text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                            <%=element.Classroom%>
                                                                                        </td>
                                                                                        <%break;%>
                                                                                            <%default: %>
                                                                                                <td
                                                                                                    style="background-color: rgb(160, 160, 254); text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                    <%=element.Classroom%>
                                                                                                </td>
                                                                                                <%}%>


                                                                                                    <td
                                                                                                        style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                        <%=element.StuID%>
                                                                                                    </td>
                                                                                                    <td
                                                                                                        style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                        <%=element.SupName%>
                                                                                                    </td>

                                                                                                    <td
                                                                                                        style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                        <%=element.StuName%>
                                                                                                    </td>

                                                                                                    <td
                                                                                                        style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                        <%=element.ObsName%>
                                                                                                    </td>
                                                                                                    <td
                                                                                                        style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                        <%=element.Topic%>
                                                                                                    </td>
                                                                                                    <td
                                                                                                        style="text-align:center; font-size: calc(10px + 0.390625vw);vertical-align: middle;">
                                                                                                        <div
                                                                                                            class="buttons is-responsive">
                                                                                                            <div class="button bluebutton is-multiline"
                                                                                                                onclick="Edit('<%=element.boxID%>','<%=element.StuID%>','<%=req.query.planNo%>','<%=element.Type%>')">
                                                                                                                Edit
                                                                                                            </div>
                                                                                                            <div class="button redbutton is-multiline"
                                                                                                                onclick="Remove('<%=element.boxID%>','<%=element.StuID%>','<%=req.query.planNo%>')">
                                                                                                                Remove
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                        </tr>
                                        <%})%>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    </div>





</div>


<script>
    function datecolor() {

    }

    async function ReGeneration() {
        var r = confirm("Are you sure to regenerat?\nThe currenet result will be displosed and cannot be recoverd.")
        if (r) {
            var response = await fetch("/scheduledesign/ReGen", {
                method: "POST",

            });
            if (response.status == 200) {
                alert("Records are removed, please process the scheduling process again")
                location.assign("/scheduledesign")
            } else {
                alert("Error exists during records removal.")
            }
        }
    }

    async function Select(planNo, manualcasenum) {
        if (manualcasenum != 0) { return alert("Cannot set this template as final schedule since there are still untackled caases") }

        var r = confirm("Confirm Selecting this template as final schedule?");

        if (r) {
            var reqbody = JSON.stringify({ planNo: planNo });
            var response = await fetch("/scheduledesign/select", {
                method: "POST",
                body: reqbody
            });
            console.log(response.status)
            if(response.status == 200){
                alert("Plan "+planNo+" Selected, this will be shown as final schedule towards all users after preset disclose date.\n"+
                "Please be reminded that after the disclose date, the schedule can not be modified, and this modify page will not be accessible")
                location.reload();
            }
        }

    }

    async function output(planNo) {
        var reqbody = JSON.stringify({ planNo: planNo });
        // console.log(reqbody);
        var response = await fetch("/scheduledesign/output", {
            method: "POST",
            body: reqbody
        });
        if (response.status == 200) {
            var filefile = await response.json();
            console.log(filefile)
            downloadBlob(filefile, "SchedulePlanNo" + planNo + ".csv", 'text/csv;charset=utf-8;')
            function downloadBlob(content, filename, contentType) {
                // Create a blob
                var blob = new Blob([content], { type: contentType });
                var url = URL.createObjectURL(blob);

                // Create a link to download it
                var pom = document.createElement('a');
                pom.href = url;
                pom.setAttribute('download', filename);
                pom.click();
            }
        }
    }
    function backback() {
        location.assign("/home");
    }
    async function Edit(boxid, sid, planNo, type) {
        location.assign("/scheduledesign/scheduleList/modifyschedule?boxid=" + boxid + "&sid=" + sid + "&planNo=" + planNo + "&type=" + type);
    }

    async function Remove(boxid, sid, planNo) {
        var r = confirm("Confirm to delete boxid " + boxid + "?");

        var requestbody = JSON.stringify({
            boxid: boxid,
            command: "delete",
            planNo: planNo,



        })
        // console.log(requestbody);

        if (r) {
            var response = await fetch("/scheduledesign/scheduleList/removeRecord", {
                // var response = await fetch("/supervisorschedulelist/modifyschedule", {
                method: "POST",
                body: requestbody,
            });
            if (response.status == 200) {
                location.reload();
            }
        }
        // location.assign("/scheduledesign/scheduleList/modifyschedule?boxid="+boxid+"&sid="+sid+"&planNo="+planNo+"&type="+type);
    }  
</script>