<div>


    <div class="Pagetitle"> Schedule Design</div>
    <div class="row">
        <div class="buttons">
            <div class="button buttonlogout is-responsive" onclick="backback()">Back</div>
        </div>
    </div>
    <br>
    
    <%if(erray.includes("A")){%>
        <div class="columns is-centered">
            <div class="column is-half">
                <article class="message is-danger">
                    <div class="message-header" style="font-size: 25px;">
                        <p>Cannot Design Schedule Now</p>
                    </div>
                    <div class="message-body" style="font-size: 20px;">
                        Cannot design the Presentation Schedule now since observers are not arranged.
                        <br>
                        Please arrange observers for students before processing
                    </div>
                </article>
            </div>
        </div>
        <%}else{%>
            <%if(warning=="401" ){%>
                <div class="columns is-centered">
                    <div class="column is-half">
                        <article class="message is-danger">
                            <div class="message-header" style="font-size: 25px;">
                                <p>Cannot Design Schedule Now</p>

                            </div>
                            <div class="message-body" style="font-size: 20px;">
                                Cannot design the Presentation Schedule now since the settings for
                                accpecting
                                inputs of timetable, requests, and preferences are still ongoing.
                            </div>
                        </article>
                    </div>
                </div>
                <%}else{%>
                    <div class="columns is-centered">
                        <div id="create" class="column is-half">
                            
                            <div class="scheduledesignchecking">
                                <div class="row">
                                    <div style="font-size: 25px; font-weight: bold;">
                                        Schedule Design
                                    </div>


                                </div>
                                <br>
                                <div class="row">
                                    <div style="font-size: 20px; ">
                                        Present Period = <u>
                                            <%=presentstartday.toLocaleDateString("en-GB")%>
                                                <%=presentstartday.toLocaleTimeString("en-GB")%>
                                        </u> to <u>
                                            <%=presentendday.toLocaleDateString("en-GB")%>
                                                <%=presentendday.toLocaleTimeString("en-GB")%>
                                        </u>
                                    </div>
                                    <br>
                                    <div class="control" id="typeOfPresentation">
                                        <label class="radio">
                                            <input type="radio" name="typeOfPresent" value="midterm">
                                            Midterm Present
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="typeOfPresent" value="final" checked>
                                            Final Present
                                        </label>
                                    </div>
                                    <br>
                                    <div class="buttons is-right">

                                        <div id="createdraftbtn" class="button is-warning is-medium is-responsive"
                                        style="border-color: black;"
                                            onclick="confirmcreate('<%=presentstartday%>','<%=presentendday%>')">
                                        
                                            Create Draft
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <%}%>
                        <%}%>




</div>
<script>
    function backback() {
        location.assign("/home");
    }

    async function confirmcreate(startdaydatetype, enddaydatetype) {
        var r = confirm("Confirm to create?");
        var boxlist = [];

        if (r) {
            alert("The Schedule takes time for generation.\n\nDO NOT leave the page or refresh the page while generating.\n\nOr else, the generation process may requires to start over again");
            // document.getElementById("createdraftbtn").innerText = "";
            // document.getElementById("createdraftbtn").classList.add("is-loading");
            document.getElementById("createdraftbtn").innerHTML = "<div class=\"loader\" id=\"loader\" style=\"visibility:visible; align-self: center;\"></div>";
            document.getElementById("createdraftbtn").setAttribute("disabled","");
            var typeOfPresentlist = document.getElementsByName("typeOfPresent");
            var typeOfPresent;

            for (var i = 0; i < typeOfPresentlist.length; i++) {
                if (typeOfPresentlist[i].checked) {
                    typeOfPresent = typeOfPresentlist[i].value;
                }
            }
            var requestbody = JSON.stringify({ typeOfPresent: typeOfPresent })
           
            var response = await fetch("/scheduledesign/genAvailable", {
                method: "POST",
                body: requestbody
            });
            if (response.ok) {
                response = await fetch("/scheduledesign/nqueenversion", {
                    method: "POST",
                    body: requestbody
                });
                if (response.ok) {
                    document.getElementById("loader").style.visibility = "hidden";
                    location.redirect(response.url)
                }else{
                    alert("Error exists when using combination version")
                }
                
            }else{
               alert("Error exists when generating")
            }
        }

    }
</script>