<div class="Pagetitle">Supervisor List</div>
<div class="rows">
    <div class="columns is-mobile">
        <div class="column is-half">
            <div class="buttons is-left">
                <div class="button buttonlogout is-responsive" onclick="backback()">
                    Back
                </div>
                
            </div>
        </div>
        <div class="column is-half">
            <div class="buttons is-right">
                <div class="button buttonlogout is-responsive"  style="float: right;" onclick="regenerate()">
                    Remove All Records
                </div>
            </div>
        </div>     
    </div>
        <!--
        <div class="column is-right is-half">
            <div class="buttons">
                <div class="button buttonlogout is-responsive is-right is-mobile"  style="float: right;" onclick="regenerate()">
                    Remove All Records
                </div>
            </div>
        </div>
-->
    </div>
</div>
<br><br>
<div class = "columns is-centered is-multiline" style = "padding: 20px;" >
    <%if(manualhandlecase != null){%>
         <div class = "column is-fullwidth-mobile is-half-desktop" style = "overflow: auto;">
            <table class="table is-bordered is-striped is-hoverable is-narrow" style="margin-left: auto; margin-right: auto;">
                <tr>
                    <thead>
                        <th
                        style="font-size:25px;text-align: center;vertical-align:middle; background-color: darkorange;" colspan="2">
                        Manual Handle Cases</th>
                    </thead>
                </tr>
                <tr>
                   
                    <th
                    style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                    SID
                </th>
               
                <th
                    style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                    View
                </th>
                </tr>
                <%for(var a = 0 ;a < manualhandlecase.length ; a++){%>
                    <tr>
                        
                        <td style="font-size: calc(15px + 0.390625vw);; text-align: center;vertical-align:middle;"><%=manualhandlecase[a].SID%></td>
                        
                        <td><div class="buttons is-centered">
                            <div class="button is-responsive" style="background-color:  lightgreen; border-color: black;"  onclick="HandleCase(null,'<%=manualhandlecase[a].SID%>',null,'<%=manualhandlecase[a].TID%>','1')">
                                edit</div>
                        </div></td>
                    </tr>
                <%}%>
                </table>
    </div>
        <%}%>
   
    <div class = "column is-fullwidth-mobile is-half-desktop" style = "overflow: auto;">
        <table id="mytable2" class="table is-bordered is-striped is-hoverable is-fullwidth">

    <tr>
        <th colspan="6"
            style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
            Supervisior List</th>
    </tr>
    <tr>
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
            <a class="sorting2" id='headerTID' onclick="sorting('sorting2','mytable2','headerTID',0);">&#8593;</a> TID
        </th>
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
            <a class="sorting2" id='headersupname'
                onclick="sorting('sorting2','mytable2','headersupname',1);">&#8593;</a> Supervisor Name
        </th>




    </tr>




    <% allsuplist.forEach( function(list) { %>

        <tr onclick="checkpath('<%=list.tid%>')">
            <td id="tid" style="font-size:20px;text-align: center;vertical-align:middle;">
                <%= list.tid %>
            </td>


            <td id="supname" style="font-size:20px;text-align: center;vertical-align:middle;">

                <%= list.supname %>

            </td>



        </tr>

        <%})%>
</table>
    </div>


</div>

<script>
    function backback(){
        location.assign("/home")
    }
    async function checkpath(tid) {
        console.log("checkthisuser have schdeule ", tid);
        location.assign("supervisorschedulelist/modifyschedule/"+tid+"/1");
    }
    async function regenerate(){
        var response = await fetch("/scheduledesign/removerecords", {
                method: "POST",
            });
            console.log(response);
            if(response.status == 200){
                location.assign("/scheduledesign")
            }
    }
    async function HandleCase(boxid,sid,type,id,Pagecount){
        location.assign("/supervisorschedulelist/modifyschedule/"+id+"/"+Pagecount+"/HandleManualCase?boxid="+boxid+"&sid="+sid+"&type="+type)
    }
</script>