<div class="Pagetitle">
    Update Submitted Timeslots for <%=thistimeslotinfo[0].Campus%>
        <%=thistimeslotinfo[0].RID%>
            <br>
            ReqID : <%=thistimeslotinfo[0].ReqID%>
</div>


<% var startstart=new Date(thistimeslotinfo[0].StartDate).toLocaleDateString()%>
    <% var endend=new Date(thistimeslotinfo[0].EndDate).toLocaleDateString()%>

        <div class="row">
            <button class="button buttonlogout"
                onclick="backback('/view/<%=thistimeslotinfo[0].Campus%>/<%=thistimeslotinfo[0].RID%>')">Back</button>
        </div>
        <br><br>
        <div class="columns is-centered " style="padding-left : 10px;padding-right : 10px;">
            <div class="column is-one-third updateclassroomtemplate">
                <table class="table is-fullwidth"
                    style=" background-color: transparent;text-align: center; font-size: 20px;">
                    <tr>
                        <th style=" text-align: center;">
                            StartDate
                        </th>
                        <td id="oldstartday">
                            <%=startstart%>
                        </td>
                        <td id="oldstarttime">
                            <%=thistimeslotinfo[0].StartTime%>
                        </td>
                    </tr>
                    <tr>
                        <th style=" text-align: center;">
                            EndDate
                        </th>
                        <td id="oldendday">
                            <%=endend%>
                        </td>
                        <td id="oldendtime">
                            <%=thistimeslotinfo[0].EndTime%>
                        </td>
                    </tr>
                    <tr>
                        <th style=" text-align: center;">
                            Remarks
                        </th>
                        <td colspan="2" id="oldremarks">
                            <%=thistimeslotinfo[0].Remarks%>
                        </td>
                    </tr>
                </table>


            </div>

            <div class="column is-one-third  updateclassroomtemplate">
                <table class="table is-fullwidth"
                    style=" background-color: transparent;text-align: center; font-size: 20px;">
                    <tr>
                        <th style=" text-align: center;">
                            StartDate
                        </th>
                        <td>
                            <input type="date" id="notokstartday" name="notokstartday">
                        </td>
                        <td>
                            <input type="time" id="starttime" name="starttime">
                        </td>
                    </tr>
                    <tr>
                        <th style=" text-align: center;">
                            EndDate
                        </th>
                        <td>
                            <input type="date" id="notokendday" name="notokendday">
                        </td>
                        <td>
                            <input type="time" id="endtime" name="endtime">
                        </td>
                    </tr>
                    <tr>
                        <th style=" text-align: center;">
                            Remarks
                        </th>
                        <td colspan="2">
                            <textarea class="textarea" id="remarks" name="remarks" placeholder=""></textarea>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="buttons is-right">
                        <button class=" button buttonlogout" onclick="Update()">
                            Update
                        </button>
                    </div>
                </div>
            </div>

        </div>


        <script>
            async function Update() {
                var newstartday;
                var newstarttime;
                var newendday;
                var newendtime;
                var newremarks;
               
                if (document.getElementById("notokstartday").value !="") {
                    newstartday = document.getElementById("notokstartday").value;
                } else{
                    newstartday = document.getElementById("oldstartday").innerText;
                }
                if (document.getElementById("notokendday").value !="") {
                    newendday = document.getElementById("notokendday").value;
                } else{
                    newendday = document.getElementById("oldendday").innerText;
                }
                if (document.getElementById("starttime").value !="") {
                    newstarttime = document.getElementById("starttime").value;
                } else{
                    newstarttime = document.getElementById("oldstarttime").innerText;
                }
                if (document.getElementById("endtime").value !="") {
                    newendtime = document.getElementById("endtime").value;
                } else{
                    newendtime = document.getElementById("oldendtime").innerText;
                }
                if (document.getElementById("remarks").value !="") {
                    newremarks = document.getElementById("remarks").value;
                } else{
                    newremarks = document.getElementById("oldremarks").innerText;
                }

                
                console.log(newstartday+"\n"+newstarttime+"\n"+newendday+"\n"+newendtime+"\n"+newremarks)

                var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });
            }
            function backback(link) {
                location.assign(link)
            }
        </script>