<div class="Pagetitle">All submitted Unavailable timeslots</div>
<div class="buttons">
    <div class="button buttonlogout is-left" onclick="history.back()">
        Back
    </div>

</div>

<div>
    <% if (req.session.role!="stu" ){%>
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <th style="font-size:25px;text-align: center;vertical-align:middle;background-color: #C3B091;">ReqID</th>
            <th style="font-size:25px;text-align: center;vertical-align:middle;background-color: #C3B091;">Unavaildable date</th>
            <th style="font-size:25px;text-align: center;vertical-align:middle;background-color: #C3B091;">Start Time</th>
            <th style="font-size:25px;text-align: center;vertical-align:middle;background-color: #C3B091;">EndTime</th>
            <%if(setting == null || new Date(setting.deadlinedate) > new Date()){%>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Action</th>
                <%}%>

            <% thisuserRequestlist.forEach( function(request) { const StartDay=new
                Date(request.RequestDate).toLocaleDateString('en-CA'); %>

                <tr>
                    <td style="text-align: center;vertical-align:middle;font-size:20px;">
                        <%= request.ReqID %>
                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size:20px;">
                        <%= StartDay %>
                    </td>

                    <td style="text-align: center;vertical-align:middle;font-size:20px;">
                        <%= request.RequestStartTime %>
                    </td>
                    <td style="text-align: center;vertical-align:middle;font-size:20px;">
                        <%= request.RequestEndTime%>
                    </td>   
                    <%if(setting == null || new Date(setting.deadlinedate) > new Date()){%>
                    <td style="text-align: center;vertical-align:middle;font-size:20px;">
                            <button class="button" type="button"
                            onclick="deleterequestfromsupervisor('<%= request.ReqID %>')">Delete</button>    
                    </td>
                    <%}%>
                </tr>

                <% }); %>

        </table>
        <%}else if(req.session.role=="stu" ) {%>
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">ReqID</th>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">Unavaildable date</th>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">Start Time</th>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">EndTime</th>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">Status</th>
                <%if(setting == null || new Date(setting.deadlinedate) > new Date()){%>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">Action</th>
                <%}%>
                <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: burlywood;">View Details</th>

                <% thisuserRequestlist.forEach( function(request) { const StartDay=new
                    Date(request.RequestDate).toLocaleDateString('en-CA'); %>

                    <tr>
                        <td style="text-align: center;vertical-align:middle;font-size:20px;">
                            <%= request.ReqID %>
                        </td>
                        <td style="text-align: center;vertical-align:middle;font-size:20px;">
                            <%= StartDay %>
                        </td>
                        <td style="text-align: center;vertical-align:middle;font-size:20px;">
                            <%= request.RequestStartTime %>
                        </td>
                        <td style="text-align: center;vertical-align:middle;font-size:20px;">
                            <%= request.RequestEndTime%>
                        </td>
                        
                        <td id="status" style="text-align: center;vertical-align:middle;">
                            <% if(request.status=="Require Proof" ){%>
                                <div style="color: red;  font-weight: bold;">
                                    <%= request.status%>
                                </div>
                                <%}else if(request.status=="Pending" ){%>
                                    <div style="color: rgb(158, 73, 201);  font-weight: bold;">
                                        <%= request.status%>
                                    </div>
                                    <%}else if(request.status=="Approved" ){%>
                                        <div style="color: green;  font-weight: bold;">
                                            <%= request.status%>
                                        </div>
                                        <%}else if(request.status=="Rejected" ){%>
                                            <div style="color: orange;  font-weight: bold;">
                                                <%= request.status%>
                                            </div>
                                            <%}else if(request.status=="Enforce Rejected" ){%>
                                                <div style="color: brown;  font-weight: bold;">
                                                    <%= request.status%>
                                                </div>
                                               
                                                <%}else if(request.status=="Enforce Approved" ){%>
                                                    <div style="color: yellowgreen;  font-weight: bold;">
                                                        <%= request.status%>
                                                    </div>
                                                    <%}%>
                                                <br>
                                                <%var lasttime=new Date(request.submission)%>
                                                    <div style="Padding :0px; font-size: 10px;"> Last Updated at:
                                                        <%=lasttime.toLocaleDateString()%> ,
                                                            <%=lasttime.toLocaleTimeString("en-US")%>
                                                    </div>


                        </td>  
                        <%if((setting == null || new Date(setting.deadlinedate) > new Date()) &&request.status != "Approved" && request.status != "Rejected" && request.status != "Enforced Reject"){%>    
                        <td style="text-align: center;vertical-align:middle;font-size:20px;">
                              <button class="button" type="button"
                                onclick="deleterequestfromstudent('<%= request.ReqID %>','<%= request.status %>')">Delete</button>
                        
                                
                            </td><%}%>
                        <td style="text-align: center;vertical-align:middle;font-size:20px;">
                            
                                <button class="button" type="button" onclick="Viewqrequest('<%= request.ReqID %>')">view</button>
                            
                        </td>
                    </tr>

                    <% }); %>

            </table>
            <%}%>


</div>

<script>
    async function Viewqrequest(ReqID){
        
        location.assign("/requestdetail/" + ReqID);
   
    }
    async function deleterequestfromstudent(reqid, status) {
        var r = confirm("Confirm Delete " + reqid + " ?");
        var requestBody = JSON.stringify({ ReqID: reqid });
        if (r) {

            var response = await fetch("checkrequest", {
                method: "DELETE",
                body: requestBody
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Request deleted.");
                location.assign("/checkrequest");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    }
    async function deleterequestfromsupervisor(reqid) {
        var r = confirm("Confirm Delete " + reqid + " ?");
        var requestBody = JSON.stringify({ ReqID: reqid });
        if (r) {

            var response = await fetch("checkrequest", {
                method: "DELETE",
                body: requestBody
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Request deleted.");
                location.assign("/checkrequest");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };


</script>