<div class="Pagetitle">Classroom List</div>
<br>
<div class="columns is-mobile">
    <div class="column is-half">
        <div class="buttons">
            <div class="button buttonlogout " onclick="history.back()">
                Back
            </div>
        </div>


    </div>
    <div class="column is-half">
        <div class="buttons is-right">
            <button class="button" id="createnewroom" onclick="gotocreateroom()">Create new room</button>
        </div>
    </div>
</div>




<br>
<div>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <th style="font-size:20px;text-align: center;vertical-align:center;">Campus</th>
        <th style="font-size:20px;text-align: center;vertical-align:center;">Room Name</th>
        <th style="font-size:20px;text-align: center;vertical-align:center;">Status</th>
        <th style="font-size:20px;text-align: center;vertical-align:center;">Add timeslot</th>
        <th style="font-size:20px;text-align: center;vertical-align:center;">Delete</th>
        <th style="font-size:20px;text-align: center;vertical-align:center;">View</th>

        <% allClassroomlist.forEach( function(classroom) { %>

            <tr>
                <td style="text-align: center;vertical-align:center;">
                    <%= classroom.Campus %>
                </td>
                <td style="text-align: center;vertical-align:center;">
                    <%= classroom.RID%>
                </td>
                <td style="text-align: center;vertical-align:center;">
                    <%= classroom.status%>
                </td>
                <td style="text-align: center;vertical-align:center;">
                    <a href="/addtimeslot/<%= classroom.Campus%>/<%= classroom.RID%>">
                        <button class="button" type="button">Add</button>
                    </a>

                </td>
                <td style="text-align: center;vertical-align:center;">
                    <button class="button" type="button"
                        onclick="deleteclassroom('<%= classroom.Campus %>','<%= classroom.RID%>')">
                        Delete
                    </button>
                </td>
                <td style="text-align: center;vertical-align:center;">
                    <a href="/view/<%= classroom.Campus%>/<%= classroom.RID%>">
                        <button class="button" type="button">view</button>
                    </a>
                </td>
            </tr>

            <% }); %>

    </table>
</div>

<script>
    function gotocreateroom() {
        location.assign("/createnewclassroom");
    }


    async function deleteclassroom(campus, rid) {
        var r = confirm("Confirm Delete " + rid + " in " + campus + " ?");
        var requestBody = JSON.stringify({ Campus: campus, RID: rid });
        if (r) {

            var response = await fetch("/classroomlist", {
                method: "DELETE",
                body: requestBody
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Classroom deleted.");
                location.reload();
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };

</script>