
<div>
    <div class="Pagetitle">
        Schdule Draft
    </div>
    <div class="buttons">
        <div class="button buttonlogout is-left" onclick="backback()">
            Back
        </div>
    
    </div>
    
    <%var startday = new Date(startdate);%>
    <%var endday = new Date(enddate);%>
    
    <%=startday%>  
    <br>
    <%=endday%>
    <%var day="";%>
    
    <%var printday=7-startday.getDay();%>
    <table class="table tablenothover is-bordered is-striped is-halfwidth center">
    <tr>
        <th class="th" style="width: 5%;vertical-align:middle;"> 
            <%if(startday.toLocaleDateString() != orgstart.toLocaleDateString()){%>
          

            <div class="buttons is-centered">
                <button class="button  is-small is-warning" onclick="changepage('<%=pagenum%>','back')"> < </button>
             </div>

            <%}%>
        </th>
        <%for(var i = 0 ; i < startday.getDay()-1 ; i++){%>
            <!--empty box-->
            <th class="th" style="width: 10%;font-size:20px;text-align: center;vertical-align:middle;background-color: blanchedalmond;"></th>
            <%}%>
        <%for(var i = 0 ; i < printday ; i++){%>
            <!--weekday boc-->
            <th class="th" style="width: 10%;font-size:20px;text-align: center;vertical-align:middle;background-color: blanchedalmond;">
              
               <%if(startday <= endday){%>
                <% switch (startday.getDay()) {
                    case 1: %>
                  MON
                  <% break;
                    case 2: %>
                  TUE
                  <% break;
                    case 3: %>
                  WED
                  <% break;
                    case 4: %>
                    THU
                    <% break;
                    case 5: %>
                    FRI
                    <% break;
                    case 6: %>
                    SAT
                  <% break;
                    default:
                    break; } %>
                    <%=startday.getDate()%>/<%=(startday.getMonth()+1)%>
                <%startday = new Date(startday.getTime() + 1*24*60*60*1000)%>
                <%}%>
            </th>
            
                
                <%}%>
                
        
        <th class="th" style="width: 5%;vertical-align:middle;" >
            <%if(startday <= endday){%>
                <div class="buttons is-centered">
                    <button class="button  is-small is-warning" onclick="changepage('<%=pagenum%>','forward')"> > </button>
                 </div>
            <%}%>
        </th>
    </tr>
     <%var hourtime = 8; var mintime= ["30","00"]%>
     <%var currenttime="";%>
     <%var currentendtime="";%>
        <%for(var i = 0 ; i < 22;i++){%>
            <tr>
            <!--loop week-->
                <td>
                    <!--timebox-->
                    <%if (i%2 == 0){ 
                        var timetime="";
                        if(hourtime < 10){
                            timetime="0"+hourtime+":"+mintime[0];
                        }else{
                            timetime=""+hourtime+":"+mintime[0];
                        }
                        hourtime++;
                        if(hourtime < 10){
                            currentendtime ="0"+hourtime+":"+mintime[1];
                        }else{
                            currentendtime=""+hourtime+":"+mintime[1];
                        }
                    }else{
                        var timetime="";
                        if(hourtime < 10){
                            timetime="0"+hourtime+":"+mintime[1];
                            currentendtime = "0"+hourtime+":"+mintime[0];
                        }else{
                            timetime=""+hourtime+":"+mintime[1];
                            currentendtime = hourtime+":"+mintime[0];
                        } 
                        
                        
                    }%>
                    <%=timetime%>
                     <%currenttime = timetime%>
                    
                </td>
                <%for (var z = 0 ; z < 6 ; z++){%>
                    <td>
                        <%if(personalttb.length >0){%>
                            <%for(var q = 0 ;q < personalttb.length; q++){%>
                        <%var lessonstarttime = personalttb[i].startTime.split(":");%>
                        <% var lessonendtime = personalttb[i].endTime.split(":");%>
                        <% lessonendtime[1] = "30";%>
                        <%console.log( (z+1)+"   "+personalttb[i].CID+"   "+currenttime +"  "+ lessonstarttime[0]+":"+lessonstarttime[1] +"    "+currentendtime+"   "+(lessonendtime[0]+":"+lessonendtime[1]))%>
                       
                        <%if(lessonstarttime[0]+":"+lessonstarttime[1] == currenttime && personalttb[i].weekdays == (z+1)){%>
                            <div class = "rows">
                                <div class = "row">
                                    <%=personalttb[i].CID%>
                                </div>
                                <div class = "row">
                                    <%=personalttb[i].rid%>
                                </div>
                            </div>
                            <%if((lessonendtime[0]+":"+lessonendtime[1]) == currentendtime){
                                console.log("case 1")
                                personalttb[i].startTime = "00:00:00";
                                personalttb[i].endTime = "00:00:00";
                                
                                var obj = personalttb[i];
                                personalttb.shift();
                                personalttb.push(obj);
                                console.log("\n\n\n"+">> poped")
                                console.log(personalttb)
                            }else{
                                console.log("case 2")
                                personalttb[i].startTime = currentendtime+":00";
                                var obj = personalttb[i];
                                personalttb.shift();
                                var check = false;
                                personalttb.push(obj);
                                
                                console.log("\n\n\n"+">> something changed")
                                console.log(personalttb)
                            } %>
                            <%}%>

                            <%}%>
                        
                            <%}else{%>
                            <div class = "rows">
                                <!--
                                <div class = "row">
                                    Student:
                                </div>
                                <div class = "row">
                                    Observer:
                                </div>
                                <div class = "row">
                                    Campus:
                                </div>
                                <div class = "row">
                                    Room:
                                </div>-->
                            </div>
                            <%}%>

                        
                    </td>
                    <%}%>
            </tr>
               
            <%}%>
    </table>    
</div>

<script>
    function backback(){
    
        var r = confirm("Please make sure you have SAVED all the choices,\nChanges without saving will not be saved when moving to the next page.\n\nConfirm to move toward next page?");
        if(r){
            location.assign("/home");
        }
        
    }
    async function changepage(pagenum,dir){
        var r = confirm("Please make sure you have SAVED all the choices,\nChanges without saving will not be saved when moving to the next page.\n\nConfirm to move toward next page?");
         if(dir == "back"){
            pagenum = parseInt(pagenum)-1;
        }else{
            pagenum = parseInt(pagenum)+1;
        }
        if(r){
        
            var response = await fetch("/createdraft/"+pagenum, {
            method: "GET",
        });

            if (response.ok) {
                location.assign(response.url);
            }
        }
    }

</script>