<script type='text/javascript' charset='UTF-8'>
    (function (config) {  
        config.urlCapture = { 
            filterURLQuery: true
        }
    })(window['adrum-config'] || (window['adrum-config'] = {}));
 </script>
 <script src='//cdn.appdynamics.com/adrum/adrum-latest.js' type='text/javascript' charset='UTF-8'></script>
 
<div class="Pagetitle">
    Create New Notice
</div>
<div class="buttons">
    <div class="button buttonlogout is-left" onclick="history.back()">
        Back
    </div>

</div>
<br>

<div class="columns is-mobile is-centered">
   
    <div class="column column-big is-half ">
        <br>
        <div class="rows">
            <div class="row">
                <label for="title" style="font-size: 20px;">Notice Title</label>

                <%if(title!=null){%>
                    <input type="text" id="title" style="width: 100%; height: 30px;" value="<%=title%>" required>

                    <%}else{%>
                        <input type="text" id="title" style="width: 100%; height: 30px;" required>

                        <%}%>

            </div>

            <br>
            <br>

            <div class="row">
                <label for="content" class="content" style="font-size: 20px;">Content</label>

                <%if(content!=null){%>
                    <textarea id="content" name="content" rows="4" cols="50" style="width:100%"
                        required><%=content%></textarea>
                    <%}else{%>
                        <textarea id="content" name="content" rows="4" cols="50" style="width:100%" required></textarea>

                        <%}%>
            </div>
            <br><br>
            <div class="row">
                <div class="buttons is-right">
                    
                    <%if( id == null){%>
                       <%if(req.session.role =="adm"){%>
                        <button class="buttonlogout" onclick="submitplainform(1)">Submit</button>
                        <%}else if(req.session.role == "sup"){%>
                            <button class="buttonlogout" onclick="submitplainform(2)">Submit</button>
                            <%}%>

                        <%}else{%>
                            <button class="buttonlogout" onclick="submitform('<%=id%>','<%=oldid%>','<%=level%>')">Submit</button>

                            <%}%>
                    

                </div>
            </div>
            <br><br>
        </div>
    </div>
    
</div>
<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    async function submitplainform(level) {
        
        const r = confirm("Confirm to create this notice?");
        var stringstring = document.getElementById("content").value;
        stringstring = stringstring.replace(/\n/g, " newline ");
        var titlestr = document.getElementById("title").value;
        
        var requestBody = JSON.stringify({
            title: titlestr,
            content: stringstring,
            id: null,
            oldid : null,
            level : level
        });
        
        if (r) {
            var response = await fetch("/notice/createnewnotice", {
                method: "POST",
                body: requestBody,

            });

            if (response.status == 200) {

                // var html = await response.text();
                // alert(html);
                alert("Notice Created");
                var emaillist = await response.json();
                type = emaillist.type;
                emaillist = emaillist.sendemaillist;
                
                var content = "";

                for(var a = 0 ; a < emaillist.length;a++){
                    content += emaillist[a].emailadd+"\n"
                }
                content = stringstring +"\n\n\n"+ content
                console.log(type)
                console.log(typeof type)
                
                if(type == 1){
                    
                    Email.send({
                        SecureToken : "3d8a50cf-7bc3-4e86-950c-7d8381f6a6e3",
                        To : 's2013f0105@gmail.com',
                        From : "19222068fypcoordinator@gmail.com",
                        Subject : titlestr,
                        Body : content
                    })
                }else if(type == 2){
                    Email.send({
                        SecureToken : "3d8a50cf-7bc3-4e86-950c-7d8381f6a6e3",
                        To : 'callysokaman@gmail.com',
                        From : "19222068fypcoordinator@gmail.com",
                        Subject : titlestr,
                        Body : content
                    })
                }else if(type == 3){
                    Email.send({
                        SecureToken : "3d8a50cf-7bc3-4e86-950c-7d8381f6a6e3",
                        To : '19222068fypcoordinator@gmail.com',
                        From : "19222068fypcoordinator@gmail.com",
                        Subject : titlestr,
                        Body : content
                    })
                }
                
                location.assign("/notice");
            } else {

                alert(response.status + ": " + response.statusText);
            }
        }
    }

    async function submitform(id,oldid,level) {
        const r = confirm("Confirm to create this notice?   large one");
        var stringstring = document.getElementById("content").value;
        stringstring = stringstring.replace(/\n/g, " newline ");
        var titlestr = document.getElementById("title").value;
        
        
        var requestBody = JSON.stringify({
            title: titlestr,
            content: stringstring,
            id: id,
            oldid : oldid,
            level : level 
        });
        if (r) {
            var response = await fetch("/notice/createnewnotice", {
                method: "POST",
                body: requestBody,

            });

            if (response.ok) {

                // var html = await response.text();
                // alert(html);
                alert("Notice Created");
                alert("Notice Created");
                var emaillist = await response.json();
                type = parseInt(emaillist.type);
                emaillist = emaillist.sendemaillist;
                
                var content = "";

                for(var a = 0 ; a < emaillist.length;a++){
                    content += emaillist[a].emailadd+"\n"
                }
                content = stringstring +"\n\n\n"+ content
                console.log(type)
                console.log(typeof type)
                
                if(type == 1){

                    Email.send({
                        SecureToken : "3d8a50cf-7bc3-4e86-950c-7d8381f6a6e3",
                        To : 's2013f0105@gmail.com',
                        From : "19222068fypcoordinator@gmail.com",
                        Subject : titlestr,
                        Body : content
                    })
                }else if(type == 2){
                    Email.send({
                        SecureToken : "3d8a50cf-7bc3-4e86-950c-7d8381f6a6e3",
                        To : 'callysokaman@gmail.com',
                        From : "19222068fypcoordinator@gmail.com",
                        Subject : titlestr,
                        Body : content
                    })
                }else if(type == 3){
                    
                    Email.send({
                        SecureToken : "3d8a50cf-7bc3-4e86-950c-7d8381f6a6e3",
                        To : '19222068fypcoordinator@gmail.com',
                        From : "19222068fypcoordinator@gmail.com",
                        Subject : titlestr,
                        Body : content
                    })
                }

                location.assign("/notice");
            } else {

                alert(response.status + ": " + response.statusText);
            }
        }
    }
</script>
