
<div>
    <div class="Pagetitle">
        Schdule Draft
    </div>
    <div class="buttons">
        <div class="button buttonlogout is-left" onclick="backback()">
            Back
        </div>
    
    </div>
    
    <%var startday = new Date(startdate);%>
    <%var endday = new Date(enddate);%>
    
    <%=startday%>  
    <br>
    <%=endday%>
    <%var day="";%>
    
    <%var printday=7-startday.getDay();%>
    <% var lastbox; const mon=[]; const tue=[]; const wed=[];%>
    <% const thu=[];const fri=[]; const sat=[];%>
    <%const arraylist=[mon,tue,wed,thu,fri,sat]; %>
    <% for (var y=0 ; y < personalttb.length;y++){%>
        <%arraylist[personalttb[y].weekdays-1].push(personalttb[y])%>
    <%}%>
    <% for (var y=0 ; y < arraylist.length;y++){%>
        <%if(arraylist[y].length==0){%>
            <%arraylist[y].push("EMPTY")%>
        <%}%>
    <%}%>
   

    

    <table class="table tablenothover is-bordered is-striped is-halfwidth center">
    <tr>
        <th class="th" style="width: 5%;vertical-align:middle;"> 
            <%if(startday.toLocaleDateString() != orgstart.toLocaleDateString()){%>
          

            <div class="buttons is-centered">
                <button class="button  is-small is-warning" onclick="changepage('<%=pagenum%>','back')"> < </button>
             </div>

            <%}%>
        </th>
        <%for(var i = 0 ; i < startday.getDay()-1 ; i++){%>
            <!--empty box-->
            <th class="th" style="width: 10%;font-size:20px;text-align: center;vertical-align:middle;background-color: blanchedalmond;"></th>
            <%}%>
        <%for(var i = 0 ; i < printday ; i++){%>
            <!--weekday boc-->
            <th class="th" style="width: 10%;font-size:20px;text-align: center;vertical-align:middle;background-color: blanchedalmond;">
              
               <%if(startday <= endday){%>
                <% switch (startday.getDay()) {
                    case 1: %>
                  MON
                  <% break;
                    case 2: %>
                  TUE
                  <% break;
                    case 3: %>
                  WED
                  <% break;
                    case 4: %>
                    THU
                    <% break;
                    case 5: %>
                    FRI
                    <% break;
                    case 6: %>
                    SAT
                  <% break;
                    default:
                    break; } %>
                    <%=startday.getDate()%>/<%=(startday.getMonth()+1)%>
                    <%for (var j = 0 ; j < personalrequestlist.length;j++){%>
                        <%var requestdate = new Date(personalrequestlist[j].RequestDate);%>
                        <%if(requestdate.toLocaleDateString() === startday.toLocaleDateString()){%>
                           
                            <%for(var a = 0 ; a < arraylist[startday.getDay()-1].length;a++){
                                 if(arraylist[startday.getDay()-1][a].startTime > personalrequestlist[j].RequestStartTime){
                                    pos = a;
                                }
                            }%>
                            
                            <%arraylist[startday.getDay()-1].splice(a, 0, personalrequestlist[j]);%>

                            <%}%>
                        <%}%>
                        
                <%startday = new Date(startday.getTime() + 1*24*60*60*1000)%>
                <%}%>
            </th>
            
                
                <%}%>
                
        
        <th class="th" style="width: 5%;vertical-align:middle;" >
            <%if(startday <= endday){%>
                <div class="buttons is-centered">
                    <button class="button  is-small is-warning" onclick="changepage('<%=pagenum%>','forward')"> > </button>
                 </div>
            <%}%>
        </th>
    </tr>
    
     <%var hourtime = 8; var mintime= ["30","00"]%>
     <%var currenttime="";%>
     <%var currentendtime="";%>
        <%for(var i = 0 ; i < 22;i++){%>
            <tr>
            <!--loop week-->
                <td>
                    <!--timebox-->
                    <%if (i%2 == 0){ 
                        var timetime="";
                        if(hourtime < 10){
                            timetime="0"+hourtime+":"+mintime[0];
                        }else{
                            timetime=""+hourtime+":"+mintime[0];
                        }
                        hourtime++;
                        if(hourtime < 10){
                            currentendtime ="0"+hourtime+":"+mintime[1];
                        }else{
                            currentendtime=""+hourtime+":"+mintime[1];
                        }
                    }else{
                        var timetime="";
                        if(hourtime < 10){
                            timetime="0"+hourtime+":"+mintime[1];
                            currentendtime = "0"+hourtime+":"+mintime[0];
                        }else{
                            timetime=""+hourtime+":"+mintime[1];
                            currentendtime = hourtime+":"+mintime[0];
                        } 
                        
                        
                    }%>
                    <%=timetime%>
                     <%currenttime = timetime%>
                    
                </td>
                <%var today = new Date(startdate);%>
                <%for(var a = 0 ; a < arraylist.length;a++){%>
                    <!--loop week array-->
                    <%var thisboxstring = "";%>
                    <%var type=0;%>
                    
                    
                    
                    <%for(var b = 0 ; b < arraylist[a].length;b++){%>
                        <!--loop week day array-->
                        
                        <%if(arraylist[a][b].CID != undefined && arraylist[a][b].CID != "SKIP"){%>
                            <!---type == lesson -->
                            
                            <%var arrayliststarttime = arraylist[a][b].startTime.split(":");%>
                            <%var arraylistendtime = arraylist[a][b].endTime.split(":");%>
                            
                            <%if(arrayliststarttime[0]+":"+arrayliststarttime[1] === timetime){%>
                                <%type = 1;%>
                                 <%thisboxstring = ""+arraylist[a][b].CID+"\n"+arraylist[a][b].rid+""%>
                                 <%var nextsession = parseInt(arrayliststarttime[0])%>
                                 <%if(arrayliststarttime[1]=="30"){%>
                                    <% nextsession++; %>
                                 <%}%>
                                
                                <% if(nextsession < 10 ){
                                    if(arrayliststarttime[1] == "30"){
                                        arraylist[a][b].startTime = "0"+nextsession+":"+"00";
                                    }else{
                                        arraylist[a][b].startTime = "0"+nextsession+":"+"30";
                                    }
                                    
                                }else{
                                    if(arrayliststarttime[1] == "30"){
                                        arraylist[a][b].startTime = ""+nextsession+":"+"00";
                                    }else{
                                        arraylist[a][b].startTime = ""+nextsession+":"+"30";
                                    }
                                }%>
                                <%if(arraylist[a][b].startTime > arraylistendtime[0]+":"+arraylistendtime[1] ){%>
                                    <%arraylist[a][b].CID="SKIP"%>
                                <%}%>
                                <%}%>
                         <%}else if(arraylist[a][b].ReqID != undefined && arraylist[a][b].ReqID != "SKIP"){%>
                            <!---type == req timeslot -->
                            
                            <%var thisreqdate = new Date(arraylist[a][b].RequestDate);%>
                            <%var arrayliststarttime = arraylist[a][b].RequestStartTime.split(":");%>
                            <%var arraylistendtime = arraylist[a][b].RequestEndTime.split(":");%>
                           
                                <%if((arrayliststarttime[0]+":"+arrayliststarttime[1]) >= currenttime && (arrayliststarttime[0]+":"+arrayliststarttime[1]) <= currentendtime){%>
                                    <%thisboxstring =arraylist[a][b].ReqID%>
                                    <%type = 2;%>
                                    <%var nextsession = parseInt(arrayliststarttime[0])%>
                                    <%if(parseInt(arrayliststarttime[1]) >= 30){%>
                                        <% nextsession++; %>
                                     <%}%>
                                     <% if(nextsession < 10 ){
                                        if(parseInt(arrayliststarttime[1]) >= 30){
                                            arraylist[a][b].RequestStartTime = "0"+nextsession+":"+"00";
                                        }else{
                                            arraylist[a][b].RequestStartTime = "0"+nextsession+":"+"30";
                                        }
                                        
                                    }else{
                                        if(parseInt(arrayliststarttime[1]) >= 30){
                                            arraylist[a][b].RequestStartTime = ""+nextsession+":"+"00";
                                        }else{
                                            arraylist[a][b].RequestStartTime = ""+nextsession+":"+"30";
                                        }
                                    }%>

                                    <%if ( arraylist[a][b].RequestStartTime >  arraylist[a][b].RequestEndTime){%>
                                        <%  arraylist[a][b].ReqID = "SKIP";%>
                                        <%}%>

                                    <%}%>

                                
                            <%}%>
                            
                        <%}%>
                        
                            <%if (type == 1){%>
                                <td style="background-color: cornsilk;">
                                <div style="font-weight: bold; text-align: center; font-size: 20px;">Class</div>
                            <%}else if (type == 2) {%>
                                <td style="background-color: lavender;">
                                <div style="font-weight: bold; text-align: center; font-size: 20px;">Request</div>
                            <%}else{%>
                                <!--- select time-->
                                <td>
                                    <%var startstartstart = new Date(startdate);%>
                                    <%var printthis=1;%>
                                    <%var checkthis=1;%>
                                    <%if(parseInt(today.getMonth())+1 > parseInt(endday.getMonth())+1){%>
                                        <%checkthis = -1;%>
                                        <%}else if(parseInt(today.getMonth())+1 == parseInt(endday.getMonth())+1){%>
                                        <%if(parseInt(today.getDate()) > parseInt(endday.getDate())){%>
                                            <%checkthis= -1;%>
                                            <%}%>
                                        <% }%>
                                   
                                    
                                    <%if (today.toLocaleDateString() == startstartstart.toLocaleDateString()){%>
                                         <%if(currenttime <= startstartstart.toLocaleTimeString("en-GB")){%>
                                            <%printthis=-1;%>
                                            <%}%>                                        
                                        <%}else if(today.toLocaleDateString() == endday.toLocaleDateString()){%>
                                            <%if(currentendtime > endday.toLocaleTimeString("en-GB")){%>
                                                <%printthis = -1;%>
                                            <%}%>
                                        <%}%>
                                        <%if(printthis >0 && checkthis >= 0){%>
                                            
                                        <div style="font-weight: bold;">Stu</div>
                                        <div style="font-weight: bold;">Obs</div>
                                        <div style="font-weight: bold;">Campus
                                        <select id = "campus">
                                          
                                         
                                        </select>
                                        </div>
                                        <div style="font-weight: bold;">RID</div>
                                            
                                    <%}%>
                              
                                
                            <%}%>
                            
                            <%=thisboxstring%></td>
                            <%today = new Date(today.getTime() + 1*24*60*60*1000)%>
                    <%}%>
                
                

             
                
                
            </tr>
               
            <%}%>
    </table>    
</div>

<script>
    function backback(){
    
        var r = confirm("Please make sure you have SAVED all the choices,\nChanges without saving will not be saved when moving to the next page.\n\nConfirm to move toward next page?");
        if(r){
            location.assign("/home");
        }
        
    }
    async function changepage(pagenum,dir){
        var r = confirm("Please make sure you have SAVED all the choices,\nChanges without saving will not be saved when moving to the next page.\n\nConfirm to move toward next page?");
         if(dir == "back"){
            pagenum = parseInt(pagenum)-1;
        }else{
            pagenum = parseInt(pagenum)+1;
        }
        if(r){
        
            var response = await fetch("/createdraft/"+pagenum, {
            method: "GET",
        });

            if (response.ok) {
                location.assign(response.url);
            }
        }
    }

</script>