
<div>
    <div class="Pagetitle">
        Schdule Draft
    </div>
    <%if(savedbox.length != 0){%>
        <div style = "text-align: center; color: gray; font-size: smaller;">
            <%var updatetime = new Date(savedbox[0].LastUpdate);%>
            Last Update : <%=updatetime.toLocaleString("en-GB")%>
        </div>
        <%}%>
    <%var startday = new Date(startdate);%>
    <%var endday = new Date(enddate);%>
    <div class = "columns is-mobile">
        <div class = "column is-half">
            <button class="button buttonlogout is-left" onclick="backback('<%=startday%>','<%=endday%>','<%=req.session.userid%>')">
            Back
            </button>
        </div>
        <div class = "column is-half">
            <div class="buttons is-right">
                
    <%var finalsubmitbody =[];%>
    
            <button class="button buttonlogout" onclick ="submitform('<%=startday%>',' <%=endday%>','<%=req.session.userid%>',1)">
                Save Changes
            </button></div>
        </div>

    </div>
    
        
       

    
    <%=startday%>  
    <br>
    <%=endday%>
    <%var day="";%>
    
    <%var printday=7-startday.getDay();%>
    <% var lastbox; const mon=[]; const tue=[]; const wed=[];%>
    <% const thu=[];const fri=[]; const sat=[];%>
    <%const arraylist=[mon,tue,wed,thu,fri,sat]; %>
    <% for (var y=0 ; y < personalttb.length;y++){%>
        <%arraylist[personalttb[y].weekdays-1].push(personalttb[y])%>
    <%}%>
    <% for (var y=0 ; y < arraylist.length;y++){%>
        <%if(arraylist[y].length==0){%>
            <%arraylist[y].push("EMPTY")%>
        <%}%>
    <%}%>
    <%var printstudentlist;%>
    <%var todaycampus;%>
    <%var donerandom =0;%>
    <%var moncam,tuecam,wedcam,thucam,fricam%>
    <%var thecamlistfortheweek = [moncam,tuecam,wedcam,thucam,fricam]%>
    
    <%var thissessioncampus;%>
    
    <%var delstulist;%>
   
    <%for(var a = 0 ; a < savedbox.length;a++){%>
        
        <%for(var b = 0 ; b < studentlist.length;b++){%>
            <%if(savedbox[a].SID == studentlist[b].SID){%>
                <%delstulist=b;%>
                <%}%>
        <%}%>
        <%studentlist.splice(delstulist,1)%>
    <%}%>
    
    <%console.log(obstimeslotlist)%>
        

    <table class="table tablenothover is-bordered is-striped is-halfwidth center">
    <tr>
        <th class="th" style="width: 5%;vertical-align:middle;"> 
            <%if(startday.toLocaleDateString() != orgstart.toLocaleDateString()){%>
          

            <div class="buttons is-centered">
                <button class="button  is-small is-warning" onclick="changepage('<%=pagenum%>','back','<%=startday%>','<%=endday%>','<%=req.session.userid%>')"> < </button>
             </div>

            <%}%>
        </th>
        <%for(var i = 0 ; i < startday.getDay()-1 ; i++){%>
            <!--empty box-->
            <th class="th" style="width: 10%;font-size:20px;text-align: center;vertical-align:middle;background-color: blanchedalmond;"></th>
            <%}%>
        <%for(var i = 0 ; i < printday ; i++){%>
            <!--weekday boc-->
            <th class="th" style="width: 10%;font-size:20px;text-align: center;vertical-align:middle;background-color: blanchedalmond;">
              
               <%if(startday <= endday){%>
                <% switch (startday.getDay()) {
                    case 1: %>
                  MON
                  <% break;
                    case 2: %>
                  TUE
                  <% break;
                    case 3: %>
                  WED
                  <% break;
                    case 4: %>
                    THU
                    <% break;
                    case 5: %>
                    FRI
                    <% break;
                    case 6: %>
                    SAT
                  <% break;
                    default:
                    break; } %>
                    <%=startday.getDate()%>/<%=(startday.getMonth()+1)%>
                    <%for (var j = 0 ; j < personalrequestlist.length;j++){%>
                        <%var requestdate = new Date(personalrequestlist[j].RequestDate);%>
                        <%if(requestdate.toLocaleDateString() === startday.toLocaleDateString()){%>
                           
                            <%for(var a = 0 ; a < arraylist[startday.getDay()-1].length;a++){
                                 if(arraylist[startday.getDay()-1][a].startTime > personalrequestlist[j].RequestStartTime){
                                    pos = a;
                                }
                            }%>
                            
                            <%arraylist[startday.getDay()-1].splice(a, 0, personalrequestlist[j]);%>

                            <%}%>
                        <%}%>
                        
                <%startday = new Date(startday.getTime() + 1*24*60*60*1000)%>
                <%}%>
            </th>
            
                
                <%}%>
                
        
        <th class="th" style="width: 5%;vertical-align:middle;" >
            <%if(startday <= endday){%>
                <div class="buttons is-centered">
                    <button class="button  is-small is-warning" onclick="changepage('<%=pagenum%>','forward')"> > </button>
                 </div>
            <%}%>
        </th>
    </tr>
    
     <%var hourtime = 8; var mintime= ["30","00"]%>
     <%var currenttime="";%>
     <%var currentendtime="";%>
        <%for(var i = 0 ; i < 22;i++){%>
            <tr>
            <!--loop week-->
                <td>
                    <!--timebox-->
                    <%if (i%2 == 0){ 
                        var timetime="";
                        if(hourtime < 10){
                            timetime="0"+hourtime+":"+mintime[0];
                        }else{
                            timetime=""+hourtime+":"+mintime[0];
                        }
                        hourtime++;
                        if(hourtime < 10){
                            currentendtime ="0"+hourtime+":"+mintime[1];
                        }else{
                            currentendtime=""+hourtime+":"+mintime[1];
                        }
                    }else{
                        var timetime="";
                        if(hourtime < 10){
                            timetime="0"+hourtime+":"+mintime[1];
                            currentendtime = "0"+hourtime+":"+mintime[0];
                        }else{
                            timetime=""+hourtime+":"+mintime[1];
                            currentendtime = hourtime+":"+mintime[0];
                        } 
                        
                        
                    }%>
                    <%=timetime%>
                     <%currenttime = timetime%>
                    
                </td>
                <%var today = new Date(startdate);%>
                <%for(var a = 0 ; a < arraylist.length;a++){%>
                    <!--loop week array-->
                    <%var thisboxstring = "";%>
                    <%var type=0;%>
                    
                    
                    
                    <%for(var b = 0 ; b < arraylist[a].length;b++){%>
                        <!--loop week day array-->
                        
                        <%if(arraylist[a][b] == "EMPTY"){%>
                            <%if(thecamlistfortheweek[a] == ""){%>
                                 <%while (todaycampus == undefined || todaycampus==""){%>
                                    <%var index = Math.floor(Math.random()*Campuslist.length)%>
                                    <%todaycampus = Campuslist[index].Campus%>
                                    <%}%>
                                <%thecamlistfortheweek[a]= todaycampus%>
                                <%}else{todaycampus = thecamlistfortheweek[a]}%>
                            
                               
                                
                            
                           
                            <%}else{%>
                                
                                <%todaycampus = arraylist[a][b].Campus%>
                                <%thecamlistfortheweek[a] = todaycampus;%>
                          
                            <%}%>  
                            
                            <%if(todaycampus == "" || todaycampus == undefined){%>
                                
                             <%todaycampus = thecamlistfortheweek[a]%>
                             <%while (todaycampus == undefined || todaycampus==""){%>
                                <%var index = Math.floor(Math.random()*Campuslist.length)%>
                                
                                <%todaycampus = Campuslist[index].Campus%>
                                <%}%>
                                <%thecamlistfortheweek[a]= todaycampus%>
                            <%}%>
                            
                            
                        
                        <%if(arraylist[a][b].CID != undefined && arraylist[a][b].CID != "SKIP"){%>
                            <!---type == lesson -->
                            
                            <%var arrayliststarttime = arraylist[a][b].startTime.split(":");%>
                            <%var arraylistendtime = arraylist[a][b].endTime.split(":");%>
                            
                            
                            <%if(arrayliststarttime[0]+":"+arrayliststarttime[1] === timetime){%>
                                <%type = 1;%>
                                 <%thisboxstring = ""+arraylist[a][b].CID+"\n"+arraylist[a][b].rid+""%>
                                 
                                 <%var nextsession = parseInt(arrayliststarttime[0])%>
                                 <%if(arrayliststarttime[1]=="30"){%>
                                    <% nextsession++; %>
                                 <%}%>
                                
                                <% if(nextsession < 10 ){
                                    if(arrayliststarttime[1] == "30"){
                                        arraylist[a][b].startTime = "0"+nextsession+":"+"00";
                                    }else{
                                        arraylist[a][b].startTime = "0"+nextsession+":"+"30";
                                    }
                                    
                                }else{
                                    if(arrayliststarttime[1] == "30"){
                                        arraylist[a][b].startTime = ""+nextsession+":"+"00";
                                    }else{
                                        arraylist[a][b].startTime = ""+nextsession+":"+"30";
                                    }
                                }%>
                                <%if(arraylist[a][b].startTime > arraylistendtime[0]+":"+arraylistendtime[1] ){%>
                                    <%arraylist[a][b].CID="SKIP"%>
                                <%}%>
                                <%}%>
                         <%}else if(arraylist[a][b].ReqID != undefined && arraylist[a][b].ReqID != "SKIP"){%>
                            <!---type == req timeslot -->
                            
                            
                            <%var thisreqdate = new Date(arraylist[a][b].RequestDate);%>
                            <%var arrayliststarttime = arraylist[a][b].RequestStartTime;%>
                            <%var arraylistendtime = arraylist[a][b].RequestEndTime;%>
                           
                            <%if(thisreqdate.toLocaleDateString() == today.toLocaleDateString()){%>
                                
                               
                                <%if((arrayliststarttime=="00:00:00" && arraylistendtime =="23:59:00")|| !(arraylistendtime <= currenttime+":00" || arrayliststarttime > currentendtime+":00")){%>
                                    <%if (thisboxstring == ""){%>
                                         <%type = 2%>
                                    <%thisboxstring = arraylist[a][b].ReqID%>
                                        <%}%>
                                   
                                    <%}%>
                           
                                <%}%>
                             <%}%>
                            
                        <%}%>
                        
                            <%if (type == 1){%>
                                <td style="background-color: cornsilk;">
                                <div style="font-weight: bold; text-align: center; font-size: 20px;">Class</div>
                            <%}else if (type == 2) {%>
                                <td style="background-color: lavender;">
                                <div style="font-weight: bold; text-align: center; font-size: 20px;">Request</div>
                            <%}else{%>
                                <!--- select time-->
                                <td>
                                    <%var startstartstart = new Date(startdate);%>
                                    <%var printthis=1;%>
                                    <%var checkthis=1;%>
                                    <%var boxid;%>
                                    <%if(parseInt(today.getMonth())+1 > parseInt(endday.getMonth())+1){%>
                                        <%checkthis = -1;%>
                                        <%}else if(parseInt(today.getMonth())+1 == parseInt(endday.getMonth())+1){%>
                                        <%if(parseInt(today.getDate()) > parseInt(endday.getDate())){%>
                                            <%checkthis= -1;%>
                                            <%}%>
                                        <% }%>
                                   
                                    
                                    <%if (today.toLocaleDateString() == startstartstart.toLocaleDateString()){%>
                                         <%if(currenttime+":00" < startstartstart.toLocaleTimeString("en-GB")){%>
                                            <%printthis=-1;%>
                                            <%}%>                                        
                                        <%}else if(today.toLocaleDateString() == endday.toLocaleDateString()){%>
                                            <%if(currentendtime+":00" > endday.toLocaleTimeString("en-GB")){%>
                                                <%printthis = -1;%>
                                            <%}%>
                                        <%}%>
                                        

                                        <!--have savedbox-->
                                        <%for(var r =0 ; r < savedbox.length;r ++){%>
                                            <%var boxdate = new Date (savedbox[r].boxdate).toLocaleDateString();%>
                                            
                                            
                                            
                                            <%var boxtime = savedbox[r].boxtime%>
                                            <%if(boxdate == today.toLocaleDateString() && (currenttime+":00") == boxtime){%>
                                                
                                                <div id = "<%=savedbox[r].boxID%>">
                                                    <div style="font-weight: bold;">Stu :</div>
                                                        <div id = "<%=savedbox[r].boxID%>_Stu" value = "<%=savedbox[r].stu%>">
                                                            <%=savedbox[r].SID%>
                                                        </div>    
                                                    <div style="font-weight: bold;">Obs <button style="background-color: blanchedalmond;" onclick = "showselectobs('<%=savedbox[r].boxID%>_ObsSelect')"> + </button></div>
                                                    <div class = "obsID" id = "<%=savedbox[r].boxID%>_Obs" value = "<%=savedbox[r].obs%>">
                                                        
                                                        <%var splitobs = savedbox[r].OID.split("/");%>
                                                        <%if(splitobs.length>1){%>
                                                            <%for(var p = 0 ; p < splitobs.length; p++){%>
                                                                <%=splitobs[p]%> 
                                                                
                                                                <%if(p != 0){%>
                                                                    <button style="background-color: blanchedalmond;" onclick = "delectobs('<%=savedbox[r].boxID%>_Obs','<%=splitobs[p]%>')"> - </button>
                                                                    <%}%>
                                                                  
                                                                <%if(p != splitobs.length-1){%>
                                                                    <br>
                                                                <%}%>
                                                            
                                                            <%}%>
                                                        <%}else{%>
                                                            <%=savedbox[r].OID%>
                                                        <%}%>
                                                        
                                                        
                                                    </div>   
                                                    <div id="<%=savedbox[r].boxID%>_ObsSelect" hidden="true">
                                                        <select class = "selectobs" id="<%=savedbox[r].boxID%>_ObsSelectbox" class = "obsID" value="">
                                                            <%var optionlist=[];%>
                                                            <%var checkcheck =0;%>
                                                            <%var currentobsselected =[]%>
                                                            <%for(var z = 0 ; z < obslist.length ;z++){%>
                                                                
                                                                <%if(obslist[z].oid != savedbox[r].OID){%>
                                                                    <%if (optionlist.length ==0){%>
                                                                        <%optionlist.push(obslist[z].oid)%>
                                                                        <%}else{%>
                                                                            <%for(var x = 0 ; x < optionlist.length;x++){%>
                                                                                <%if(optionlist[x] == obslist[z].oid){%>
                                                                                        <%checkcheck = 1;%>
                                                                                    <%}%>
                                                                            <%}%>
                                                                            <%if(checkcheck == 0){%>
                                                                                <%optionlist.push(obslist[z].oid)%>
                                                                                <%}%>
                                                                            <%}%>
                                                                    
                                                                    <%}%>
                                                                
                                                                <%}%>
                                                                <%for(var z = 0 ; z < optionlist.length ;z++){%> 
                                                                    <option class = "option selectobs" value ='<%=optionlist[z]%>'><%=optionlist[z]%></option> 
                                                                    <%}%>
                                                        
                                                        </select>
                                                        <button style="background-color: blanchedalmond;" onclick = "addobs('<%=savedbox[r].boxID%>_Obs','<%=savedbox[r].boxID%>_ObsSelect','<%=savedbox[r].boxID%>_ObsSelectbox')"> + </button>
                                                        <button style="background-color: rgb(255, 103, 103);" onclick = "delhtml('<%=savedbox[r].boxID%>_ObsSelect')"> X </button>
                                                    </div>
                                                    <div style="font-weight: bold;">Campus</div>
                                                        <div id = "<%=savedbox[r].boxID%>_Campus" value="<%=savedbox[r].Campus%>">
                                                            <%=savedbox[r].Campus%>
                                                        </div>
                                                    <div style="font-weight: bold;">RID</div>
                                                        <div id = "<%=savedbox[r].boxID%>_RID" value="<%=savedbox[r].RID%>">
                                                            <%=savedbox[r].RID%> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <%printthis=0;%>
                                                <%checkthis = 0;%>
                                             <%}%>

                                        <%}%>
                                        <%=printthis%> <%=checkthis%>

                                        <!--don't have saved box-->
                                        <%if(printthis >0 && checkthis >= 0){%>
                                            <%if(studentlist.length >0 ){%> 
                                                     <%var monthmonthmonth =parseInt(today.getMonth())+1%>
                                                     <%if(monthmonthmonth < 10){monthmonthmonth = "0"+monthmonthmonth}%>
                                                    <%var daydayday = today.getDate()%>
                                                    <%if(daydayday < 10){daydayday="0"+daydayday}%>
                                                    <%var yearyearyear = today.getFullYear()%>
                                                    <% boxid = yearyearyear+""+monthmonthmonth+""+daydayday+"_"+currenttime+"_"+req.session.userid%>
                                                   
                                                    <div id = "<%=boxid%>">
                                        <div style="font-weight: bold;">Stu :</div>
                                                <%var range = studentlist.length%>
                                                
                                                   
                                                <%var index = Math.floor(Math.random()*range)%>
                                                <%var thisobscheck = -1;%>
                                                <%var obsindex%>
                                                <%var thisstucheck = -1;%>
                                                <%var student;%>
                                                <%var observer;%>

                                                <%for (var stu = 0 ; stu < studenttimeslotlist.length ; stu++){%>
                                                    <%if(studenttimeslotlist[stu].SID == studentlist[index].SID){%>
                                                        
                                                        <%var requestdate = new Date(studenttimeslotlist[stu].RequestDate);%>
                                                        <%if(requestdate.toLocaleDateString() != today.toLocaleDateString()){%>
                                                            <%thisstucheck =1;%>
                                                            <%console.log("stu not today")%>
                                                            <%}else{%>
                                                                <%console.log("stu is today")%>
                                                                <%var requeststarttime = studenttimeslotlist[stu].RequestStartTime%>
                                                                <%var requestendtime = studenttimeslotlist[stu].RequestEndTime%>
                                                                
                                                                <%if(requestendtime < currenttime || requeststarttime > currentendtime){%>
                                                                    <%thisstucheck =1;%>
                                                                    <%console.log("stu is today but time ok")%>
                                                                <%}else{%>
                                                                    <%thisstucheck =-1;%>
                                                                    <%console.log("stu is today and time not ok")%>
                                                                <%}%>
                                                                
                                                            <%}%>

                                                        <!--done check stu-->
                                                       
                                                            <%for (var obs = 0 ; obs < obslist.length ; obs++){%>
                                                                <%if(obslist[obs].SID == studentlist[index].SID){%>
                                                                    <%console.log(obslist)%>
                                                                    <%obsindex = obs%>
                                                                    <%break;%>
                                                                <%}%>
                                                            <%}%>
                                                            
                                                            <%console.log("obsindex      "+ obsindex)%>
                                                            
                                                            <%for (var checkobstimeslot = 0 ; checkobstimeslot < obstimeslotlist.length;checkobstimeslot ++){%>
                                                                <%if(obslist[obsindex].oid == obstimeslotlist[checkobstimeslot].OID){%>
                                                                    <%var requestdate = new Date(obstimeslotlist[checkobstimeslot].RequestDate);%>
                                                                    <%if(requestdate.toLocaleDateString() != today.toLocaleDateString()){%>
                                                                        <%thisobscheck =1;%>
                                                                        <%console.log("obs not today")%>
                                                                        <%break;%>
                                                                    <%}else{%>
                                                                        <%console.log("obs is today")%>
                                                                        <%var requeststarttime = obstimeslotlist[checkobstimeslot].RequestStartTime%>
                                                                        <%var requestendtime = obstimeslotlist[checkobstimeslot].RequestEndTime%>

                                                                        <%if(requestendtime < currenttime || requeststarttime > currentendtime){%>
                                                                            <%thisobscheck =1;%>
                                                                            <%console.log("obs is today but time ok")%>
                                                                        <%}else{%>
                                                                            <%thisobscheck =-1;%>
                                                                            <%console.log("obs is today and time not ok")%>
                                                                        <%}%>

                                                                    <%}%>
                                                                <%}else{thisobscheck = 0;}%>    
                                                            <%}%>

                                                        
                                                                

                                                        <%}else{thisstucheck = 0;}%>   
                                                        
                                                        
                                                    <%}%>
                                                
                                                <div id = "<%=boxid%>_Stu" value = "<%=student%>">
                                                    <%=student%>
                                                </div>    
                                            

                                            
                                        
                                        <div style="font-weight: bold;">Obs</div>
                                        <div id = "<%=boxid%>_Obs" value = "<%=observer%>">
                                            <%=observer%>
                                            
                                        </div>
                                        <div style="font-weight: bold;">Campus</div>
                                           
                                            <%var canuseCampus = todaycampus%>
                                            
                                            <%var canuseRID;%>
                                            
                                            <%while(canuseRID == undefined){%>
                                                <%for(var q = 0 ; q < classroomusagelist.length;q++){%>
                                                   
                                                <%if(canuseCampus == classroomusagelist[q].Campus && !((classroomusagelist[q].startTime < currentendtime && currentendtime < classroomusagelist[q].endTime) || (classroomusagelist[q].startTime< currenttime && currenttime < classroomusagelist[q].endTime)|| (classroomusagelist[q].startTime < currenttime && currentendtime < classroomusagelist[q].endTime) )){%>
                                                    
                                                    <%for(var w = 0 ; w < classroomtimeslotlist.length ; w ++){%>
                                                        <%if(canuseCampus == classroomtimeslotlist[w].Campus && classroomusagelist[q].RID == classroomtimeslotlist[w].RID ){%>
                                                            <%var thisclassrmreqstdate  = (new Date(classroomtimeslotlist[w].StartDate).toLocaleDateString()).split("/") ;%>
                                                            <%var thisclassrmreqsttime  = classroomtimeslotlist[w].StartTime;%>
                                                            <%var thisclassrmreqenddate  = (new Date(classroomtimeslotlist[w].EndDate).toLocaleDateString()).split("/");%>
                                                            <%var thisclassrmreqendtime  = classroomtimeslotlist[w].EndTime;%>

                                                            <%if(thisclassrmreqstdate[0].length == 1){ thisclassrmreqstdate[0] = "0"+thisclassrmreqstdate[0]}%>
                                                            <%if(thisclassrmreqstdate[1].length == 1){ thisclassrmreqstdate[1] = "0"+thisclassrmreqstdate[1]}%>
                                                            <%if(thisclassrmreqenddate[0].length == 1){ thisclassrmreqenddate[0] = "0"+thisclassrmreqenddate[0]}%>
                                                            <%if(thisclassrmreqenddate[1].length == 1){ thisclassrmreqenddate[1] = "0"+thisclassrmreqenddate[1]}%>
                                                           <%var finalreqstdate = thisclassrmreqstdate[0]+"/"+thisclassrmreqstdate[1]+"/"+thisclassrmreqstdate[2]%>
                                                           <%var finalreqenddate = thisclassrmreqenddate[0]+"/"+thisclassrmreqenddate[1]+"/"+thisclassrmreqenddate[2]%>

                                                           <%var todaydate = today.toLocaleDateString().split("/")%>
                                                           <%if(todaydate[0].length == 1){ todaydate[0] = "0"+todaydate[0]}%>
                                                           <%if(todaydate[1].length == 1){ todaydate[1] = "0"+todaydate[1]}%>
                                                           <%var finaltodaydate = todaydate[0]+"/"+todaydate[1]+"/"+todaydate[2]%>
                                                          
                                                          <!--case 1 : whole day-->
                                                           <%if(finalreqstdate == finalreqenddate && finalreqstdate == finaltodaydate && thisclassrmreqsttime == "00:00:00" && thisclassrmreqendtime == "23:59:00"){%>
                                                             <%canuseRID = undefined%>
                                                             <%console.log("case1")%>
                                                             <%}else if (finalreqstdate == finalreqenddate && finalreqstdate == finaltodaydate && !(currentendtime < thisclassrmreqsttime || currenttime > thisclassrmreqendtime) ){%>
                                                                <!--case 2 : this day timeslot-->
                                                                <%canuseRID = undefined%>
                                                                <%console.log("case2")%>
                                                                <%}else if( finalreqstdate != finalreqenddate && (finalreqstdate < finaltodaydate && finaltodaydate < finalreqenddate )  ){%>
                                                                    <!--case 3 : timeperiod within-->
                                                                    <%console.log("case3")%>
                                                                    <%canuseRID = undefined%>

                                                                <%}else if (finalreqstdate != finalreqenddate && finalreqstdate == finaltodaydate ){%>
                                                                    <!--case 4 : timeperiod starttoday-->
                                                                    <%console.log("case4")%>
                                                                    <%if( !(currentendtime+":00" < thisclassrmreqsttime) ){%>
                                                                        <%canuseRID = undefined%>
                                                                        <%}%>
                                                                    
                                                                    <%}else if(finalreqstdate != finalreqenddate && finalreqenddate == finaltodaydate ){%>
                                                                        <!--case 5 : timeperiod endtoday-->
                                                                    <%console.log("case5     "+thisclassrmreqendtime+"       "+currenttime)%>
                                                                    <%if( !(thisclassrmreqendtime < (currenttime+":00")) ){%>
                                                                        <%canuseRID = undefined%>
                                                                        <%}%>
                                                                        <%}else{%>
                                                                            
                                                                            <%canuseRID = classroomusagelist[q].RID%>
                                                                            
                                                                            <%}%>
                                                           
                                                         
                                                            
                                                            <%}%>
                                                    <%}%><%canuseRID = classroomusagelist[q].RID%>
                                                    
                                                    
                                                    <%}%>
                                                <%}%>

                                                <%if(canuseRID == undefined){%>
                                                    <%for(var w = 0 ;w < Campuslist.length ; w++){%>
                                                        
                                                        <%if(Campuslist[w] != "" && Campuslist[w] != todaycampus){%>
                                                             <%canuseCampus = Campuslist[w].Campus;%>
                                                            <%}%>
                                                        <%}%>
                                                    <%}%>
                                                 
                                            <%}%>
                                            <div id = "<%=boxid%>_Campus" value="<%=canuseCampus%>">
                                           <%=canuseCampus%>
                                          

                                            
                                        </div>
                                        <div style="font-weight: bold;">RID</div>
                                        <div id = "<%=boxid%>_RID" value="<%=canuseRID%>">
                                            <%=canuseRID%> 
                                            
                                           <%finalsubmitbody.push({'boxid':boxid})%>
                                          
                                        </div>
                                        </div>
                                        
                                        <%canuseRID = undefined%>
                                            <%}%>
                                    <%}%>
                              
                                
                            <%}%>
                            
                            <%=thisboxstring%></td>
                            <%today = new Date(today.getTime() + 1*24*60*60*1000)%>
                    <%}%>
                
                

             
                
                
            </tr>
               
            <%}%>
    </table>    

</div>



<script>

    async function submitform(startday,endday,userid,type){
    var start = new Date(startday);
    var end = new Date(endday);
    var today = start;
    var finalbody=[];
    if(parseInt(currenthour)<10){currenthour = "0"+parseInt(currenthour)}
    for(var a = 0 ; a < 6; a++){
       
        var followingDay = new Date(parseInt(start.getTime()) + a *24*60*60*1000);
        var today2 = followingDay.toLocaleDateString().split("/");
       
        if(parseInt(today2[1])<10){today2[1] = "0"+today2[1]};
        if(parseInt(today2[2])<10){today2[2] = "0"+today2[2]};
        var currenthour = 8;
        var currentmin = "30";
        var ans ="";

        for(var b = 0 ; b < 22; b++){
            if(b%2 == 0 && b!=0 ){
                currentmin = "00"
                currenthour++;
            }else{
                currentmin = "30"
            };
            if(parseInt(currenthour)<10){currenthour="0"+parseInt(currenthour)};
        var boxid = today2[0]+""+today2[1]+""+today2[2]+"_"+currenthour+":"+currentmin+"_"+userid;
        if(document.getElementById(""+boxid+"_Obs") != null){
            var stringstring = document.getElementById(""+boxid+"_Obs").innerText.split("\n");
            ans ="";
           
            
            for(var c =0 ;c < stringstring.length ; c ++){
                if(c != 0){
                    var stringstring2= stringstring[c].split("-");
                    ans += "/"+stringstring2[0]
                }else{
                    ans += stringstring[c]
                }
            }

        }
        if(document.getElementById(""+boxid+"_Stu") != null){
                var thisbox = {
                'boxid':boxid,
                'boxdate':today2[0]+""+today2[1]+""+today2[2],
                'boxtime':currenthour+":"+currentmin+":00",
                'stu':document.getElementById(""+boxid+"_Stu").innerText,
                'obs':ans,
                'Campus' :document.getElementById(""+boxid+"_Campus").innerText,
                'RID':document.getElementById(""+boxid+"_RID").innerText
            
            
            
            }
            
            finalbody.push(thisbox)
        }
        

        }
        
       
    }
    
    console.log(finalbody)
  
    var response = await fetch("/savebox", {
            method: "POST",
            body : JSON.stringify(finalbody)
    });

    if(response.ok){
        if(type ==1){
            alert("done saving")
            location.reload();
        }else if(type ==2){
            location.assign("/home");
        }else if (type ==3){
            
            return "ok";
        }
        
    }
    
  

}

    function backback(startday,endday,userid){
        
        alert("Please make sure you have SAVED all the choices,\nChanges without saving will not be saved when moving to the next page.");
        var r = confirm("Save all changes?");
        if(r){
            submitform(startday,endday,userid,2)
        }else{
            location.assign("/home");
        }
        
    }
   
    async function changepage(pagenum,dir,startday,endday,userid){
        alert("Please make sure you have SAVED all the choices,\nChanges without saving will not be saved when moving to the next page.");
        var r = confirm("Save all changes?");
        
        if(r){
            var response = await submitform(startday,endday,userid,3)

            if(response == "ok"){
                if(dir == "back"){
                    pagenum = parseInt(pagenum)-1;
                }else{
                    pagenum = parseInt(pagenum)+1;
                }
                    var response = await fetch("/createdraft/"+pagenum, {
                    method: "GET",
                });

                if (response.ok) {
                    location.assign(response.url);
                }
            }
        }
    }


    function showselectobs(boxid){
        console.log(document.getElementById(boxid).hidden)
        document.getElementById(boxid).hidden=false;
    }

    function addobs(boxid,selectdiv,selectboxid){
     
        var stringstring = document.getElementById(boxid).innerHTML.split("<br>"); 
        var checkindex =-1;
        for(var a = 0 ; a < stringstring.length;a++){
           
            if(stringstring[a].includes(document.getElementById(selectboxid).value)) {
                checkindex = a;
            }

        }
        if(checkindex == -1){
            document.getElementById(boxid).innerHTML+="<br>"+document.getElementById(selectboxid).value+"  <button style=\"background-color: blanchedalmond;\" onclick = \"delectobs(\'"+boxid+"\',\'"+document.getElementById(selectboxid).value+"\')\"> - </button>"
            document.getElementById(selectdiv).hidden=true;
        }else {
            alert("this observer has been added already");
        }
        
    }

    function delectobs(boxid , value){
        console.log(document.getElementById(boxid).innerHTML)
        var stringstring = document.getElementById(boxid).innerHTML.split("<br>");
        console.log(stringstring)
        var checkindex;
        for(var a = 0 ; a < stringstring.length;a++){
            console.log(stringstring[a])
            console.log(stringstring[a].includes(value))
            if(stringstring[a].includes(value)) {
                checkindex = a;
            }

        }
        stringstring.splice(checkindex,1);
        var finalstring ="";
        for(var a = 0 ; a < stringstring.length;a++){

           finalstring+= stringstring[a];
           if(a != stringstring.length-1){
            finalstring +="<br>"
           }

        }
        console.log(finalstring)
        document.getElementById(boxid).innerHTML = finalstring;

    }

    function delhtml(boxid){
        console.log(document.getElementById(boxid).innerHTML)
        document.getElementById(boxid).hidden = true;;
        
    }
</script>