<div class="Pagetitle">Student List</div>
<br>
<div class="rows">
    <div class="columns">
        <div class="column is-left">
            <div class="buttons">
                <div class="button buttonlogout is-left" onclick="history.back()">
                    Back
                </div>

            </div>
        </div>
        <div class="column ">
            <div class="buttons is-right">
                <button class="buttonlogout" id="createnewstu" onclick="gotocreate()">Create a new Student</button>
            </div>
        </div>
    </div>
</div>


<br><br>

<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">SID</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Student Name</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Topic</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">TTB status</th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Submission of TTB</th>


    <% allstdlist.forEach( function(allstdlist) { %>

        <tr>
             <td style="font-size:20px;text-align: center;vertical-align:middle;">
                <%= allstdlist.sid %>
            </td>


             <td style="font-size:20px;text-align: center;vertical-align:middle;">
                <a href="/read/<%= allstdlist.sid%>">
                    <%= allstdlist.stdname %>
                </a>
            </td>
             <td style="font-size:20px;text-align: center;vertical-align:middle;">
                <%= allstdlist.Topic%>
            </td>
             <td style="font-size:20px;text-align: center;vertical-align:middle;">
                <%if (allstdlist.confirmation=="0" ){%>
                    <div style="font-weight: bold;color: red;">Require Proof</div>
                    <%}else if (allstdlist.confirmation=="1" ){%>
                    <div style="font-weight: bold;color: blueviolet;">Pending</div>
                    <%}else if (allstdlist.confirmation=="2" ){%>
                        <div style="font-weight: bold;color: green;">Approved</div>
                        <%}else if (allstdlist.confirmation=="3" ){%>
                            <div style="font-weight: bold;color: orange;">Rejected</div>
                            <%}%>
            </td>
             <td style="font-size:20px;text-align: center;vertical-align:middle;">
                <% if (allstdlist.submission=="N" ){%>

                    <%=allstdlist.submission%>
                        <%}else if(allstdlist.submission=="Y" ){%>
                            <div class = "buttons is-centered">
                                <a href="/readttb/<%= allstdlist.sid%>">
                                <button class="button buttonlogout">View Submission</button>
                            </a>
                            </div>
                            
                            <%}%>

            </td>

        </tr>

        <% }); %>

</table>
<script>

    function gotocreate() {
        location.assign("/createnewstudent");
    }
</script>