<%console.log(checkdate)%>
<%if (req.session.role == "sup"){%>
    <div class="Pagetitle">Student List</div>
    <div class="rows">
        <div class="columns">
            <div class="column is-left">
                <div class="buttons">
                    <div class="button buttonlogout is-left" onclick="back()">
                        Back
                    </div>
    
                </div>
            </div>
            <%var finaldate = new Date(checkdate)%>
            <%var today = new Date()%>
            
            <%if(finaldate > today){%>
                <div class="column ">
                    <div class="buttons is-right">
                        <button class="buttonlogout" id="createnewstu" onclick="gotocreatestu()">Create new Student</button>
                    </div>
                </div>
                <%}%>
            
        </div>
    </div>
<br><br>
    <table id="mytable" class="table is-bordered is-striped is-hoverable is-fullwidth">
        <tr>
            <th colspan="7"
                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                Student List</th>
        </tr>
        <tr>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerSID' onclick="sorting('sorting','mytable','headerSID',0);">&#8593;</a> SID
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerstuname' onclick="sorting('sorting','mytable','headerstuname',1);">&#8593;</a>
                Student Name
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headertopic' onclick="sorting('sorting','mytable','headertopic',2);">&#8593;</a>
                Topic
            </th>
    
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerstudtid' onclick="sorting('sorting','mytable','headerstudtid',3);">&#8593;</a>
                OID
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerstudsup' onclick="sorting('sorting','mytable','headerstudsup',4);">&#8593;</a>
                Observer
            </th>
    
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerTTBstatus'
                    onclick="sorting('sorting','mytable','headerTTBstatus',5);">&#8593;</a> TTB status
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerTTBview' onclick="sorting('sorting','mytable','headerTTBview',6);">&#8593;</a>
                Submission of TTB
            </th>
        </tr>
        <% allstdlist.forEach( function(allstdlist) { %>
    
            <tr onclick="redirectplease('<%= allstdlist.sid%>')">
                <td id="sid" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= allstdlist.sid %>
                </td>
    
                <td id="studentname" style="font-size:20px;text-align: center;vertical-align:middle;">
    
                    <%= allstdlist.stdname %>
    
                </td>
    
                <td id="studenttopic" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= allstdlist.Topic%>
                </td>
                <td id="studenttid" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= allstdlist.OID%>
                </td>
                <td id="studentsupname" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= allstdlist.obsname%>
                </td>
                <td id="studentstatus" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%if (allstdlist.ttbsubmission=="Require Proof" ){%>
                        <div style="font-weight: bold;color: red;">Require Proof</div>
                        <%}else if (allstdlist.ttbsubmission=="Pending" ){%>
                            <div style="font-weight: bold;color: blueviolet;">Pending</div>
                            <%}else if (allstdlist.ttbsubmission=="Approved" ){%>
                                <div style="font-weight: bold;color: green;">Approved</div>
                                <%}else if (allstdlist.ttbsubmission=="Rejected" ){%>
                                    <div style="font-weight: bold;color: orange;">Rejected</div>
                                        <%}else if (allstdlist.ttbsubmission=="Enforced" ){%>
                                            <div style="font-weight: bold;color: brown;">Enforced</div>
                                            <%}else{%>
                                                <div style="font-weight: bold;color: rgb(78, 162, 252);">No Submission</div>
                                                <%}%>
                </td>
                <td id="studentttb" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <% if (allstdlist.ttbsubmission != "N" ){%>
                        <div class="buttons is-centered">
                            <a href="/readttb/<%= allstdlist.sid%>">
                                <button class="button buttonlogout">View Submission</button>
                            </a>
                        </div>
                        <%}%>
                </td>
    
            </tr>
    
            <% }); %>
    
    </table>

    <%if(observinglist != null){%>
    <table id="mytable2" class="table is-bordered is-striped is-hoverable is-fullwidth">
        <tr>
            <th colspan="7"
                style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                Observing List</th>
        </tr>
        <tr>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerobservingSID' onclick="sorting('sorting2','mytable2','headerobservingSID',0);">&#8593;</a> SID
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerobservingstuname' onclick="sorting('sorting2','mytable2','headerobservingstuname',1);">&#8593;</a>
                Student Name
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerobservingtopic' onclick="sorting('sorting2','mytable2','headerobservingtopic',2);">&#8593;</a>
                Topic
            </th>
    
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerobservingstudtid' onclick="sorting('sorting2','mytable2','headerobservingstudtid',3);">&#8593;</a>
                TID
            </th>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                <a class="sorting" id='headerobservingstdsup' onclick="sorting('sorting2','mytable2','headerobservingstdsup',4);">&#8593;</a>
                Supervisor
            </th>
        </tr>

        <% observinglist.forEach( function(observingstd) { %>
            <tr>
                <td id="observingsid" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= observingstd.sid %>
                </td>

                <td id="observingstudentname" style="font-size:20px;text-align: center;vertical-align:middle;">

                    <%= observingstd.stdname %>

                </td>
                <td id="observingstudenttopic" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= observingstd.Topic%>
                </td>
                <td id="observingstudenttid" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= observingstd.tid%>
                </td>
                <td id="observingstudentsupname" style="font-size:20px;text-align: center;vertical-align:middle;">
                    <%= observingstd.supname%>
                </td>
            </tr>
            
            
            <%})%>
        </table>
        <%}%>


    <%}else{%>
        <div class="Pagetitle">Supervisor List</div>
        <div class="rows">
            <div class="columns">
                <div class="column is-left">
                    <div class="buttons">
                        
                        <div class="button buttonlogout is-left is-mobile" onclick="backback()">
                            Back
                        </div>
        
                    </div>
                </div>
                <div class="column ">
                    <div class="buttons is-right is-mobile">
                        <%var datedate = new Date(checkdate);%>
                        <%var today = new Date();%>
                        <%if(checkdate != undefined && today > datedate){%>
                             <button class="buttonlogout" id="generateobs" onclick="gotogenobs()">Arrange Observer</button>&ensp;
                       
                            <%}%>
                        <button class="buttonlogout" id="createnewsup" onclick="gotocreatesup()">Create new Supervisior</button>
                    
                       
                    </div>
                </div>
            </div>
        </div>
<br><br>
        <table id="mytable2" class="table is-bordered is-striped is-hoverable is-fullwidth">

            <tr>
                <th colspan="6"
                    style="font-size:25px;text-align: center;vertical-align:middle; background-color: rgb(222, 166, 82);">
                    Supervisior List</th>
            </tr>
            <tr>
                <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                    <a class="sorting2" id='headerTID' onclick="sorting('sorting2','mytable2','headerTID',0);">&#8593;</a> TID
                </th>
                <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                    <a class="sorting2" id='headersupname'
                        onclick="sorting('sorting2','mytable2','headersupname',1);">&#8593;</a> Supervisor Name
                </th>
                <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                    SID
                </th>
                <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                    Student Name
                </th>
        
                <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                    <a class="sorting2" id='headersupTTBview'
                        onclick="sorting('sorting2','mytable2','headersupTTBview',2);">&#8593;</a> Submission of TTB
                </th>
                <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                    Delete
                </th>
            </tr>
            <%var suplist =[] ;%>
            <%console.log(allsuplist)%>
        <% for(var j = 0 ; j < allsuplist.length ; j++){
            
            if(suplist.length ==0 || (suplist.length >0 && suplist[suplist.length-1].tid != allsuplist[j].tid)){
                
                var thissup=allsuplist[j].tid; var supsidlist=[]; var supstunamelist=[]; var tid = allsuplist[j].tid;
                var supname = allsuplist[j].supname; var submission = allsuplist[j].submission;
            for(var i=0 ; i < allsuplist.length;i++){
              
                if( allsuplist[i].tid==thissup){ 
                    supsidlist.push(allsuplist[i].sid)
                    supstunamelist.push(allsuplist[i].stdname) 
                   
                }
            }
            var currentsup = {tid:tid ,supname:supname,submission:submission, supsidlist:supsidlist , supstunamelist:supstunamelist}
            suplist.push(currentsup) 
            }
        }%>
        
            <% suplist.forEach( function(list) { %>
        
                <tr  onclick="redirectplease('<%=list.tid%>')">
                    <td id="tid" style="font-size:20px;text-align: center;vertical-align:middle;">
                        <%= list.tid %>
                    </td>
        
        
                    <td id="supname" style="font-size:20px;text-align: center;vertical-align:middle;">
        
                        <%= list.supname %>
        
                    </td>
                    <td id="supsid" style="font-size:20px;text-align: center;vertical-align:middle;">
                        <% for(var j = 0 ; j < list.supsidlist.length ; j++){%>
                            <a href="/read/<%= list.supsidlist[j]%>"><%=list.supsidlist[j]%></a><br>
                        <%}%>
                           
        
        
                    </td>
                    <td id=" supstuname" style="font-size:20px;text-align: center;vertical-align:middle;">
                        <% for(var j = 0 ; j < list.supstunamelist.length ; j++){%>
                            <a href="/read/<%= list.supsidlist[j]%>"><%= list.supstunamelist[j]%></a> <br>
                                            <%}%>
                    </td>
                    <td id="supsubmission" style="font-size:20px;text-align: center;vertical-align:middle;">
        
                        <%= list.submission %>
        
                    </td>
                    <td style="font-size:20px;text-align: center;vertical-align:middle;">
                        <div class="buttons is-centered">
                            <div class="button buttonlogout" type="button"
                                onclick="deletesupervisor('<%=list.tid%>')">
                                Delete
                            </div>
                        </div>
                    </td>
                </tr>
        
                <%})%>
        </table>
        
   <%}%>







<script>
    function sorting(thissortingclass, thistable, idlocation, tablelocation) {
       for (var i = 0; i < document.getElementsByClassName(thissortingclass).length; i++) {

            if (i != tablelocation) {
                document.getElementsByClassName(thissortingclass)[i].innerHTML = '↑'
            }
        }
        if (document.getElementById(idlocation).innerHTML == '↑') {
            document.getElementById(idlocation).innerHTML = '\&\#8595;';
            sortingtable(thistable, "dsc", tablelocation);
        } else {
            document.getElementById(idlocation).innerHTML = '\&\#8593;'
            sortingtable(thistable, "asc", tablelocation);
        }
        

    }

    function sortingtable(thistable, ordering, tablelocation) {
        var table, rows, switching, i, x, y, shouldSwitch, switchcount = 0;
        table = document.getElementById(thistable);
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 2; i < (rows.length - 1); i++) {

                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[tablelocation];
                y = rows[i + 1].getElementsByTagName("TD")[tablelocation];
               
                if (ordering == "asc") {
                    if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (ordering == "dsc") {
                    if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && ordering == "asc") {
                    ordering = "dsc";
                    switching = true;
                }
            }
        }
    }

    function gotocreatestu() {
        location.assign("/createnewstudent");
    }

    function gotocreatesup() {
        location.assign("/createnewsup");
    }

    function redirectplease(path) {
        location.assign("/read/" + path);
    }

    function back(){
        location.assign("/home")
    }

    function backback(){
        location.assign("/usermanagement")
    }
    
    async function deletesupervisor(id) {
        var r = confirm("Confirm Delete?" + id);

        if (r) {

            var response = await fetch("/listuser/" + id, {
                method: "DELETE",

            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Supoervisor deleted.");
                location.assign("listuser");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };
    
    async function gotogenobs(){

        var r = confirm("Sure to arrange observers?");
        if(r){ 
            var response = await fetch("/listuser/genobs", {
                method: "POST",
            });
             
            console.log(response)
            if(response.status == 200){
                alert("Successfully Paired")
               
            }
        }
        
    }

</script>