<div class="Pagetitle">Student List</div>
<br>
<div class="rows">
    <div class="columns">
        <div class="column is-left">
            <div class="buttons">
                <div class="button buttonlogout is-left" onclick="history.back()">
                    Back
                </div>

            </div>
        </div>
        <div class="column ">
            <div class="buttons is-right">
                <button class="buttonlogout" id="createnewstu" onclick="gotocreate()">Create a new Student</button>
            </div>
        </div>
    </div>
</div>


<br><br>

<table id="mytable" class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
       <a class="sorting" id='headerSID' onclick="sorting('headerSID',0);">&#8593;</a> SID
    </th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
        <a class="sorting" id='headerstuname' onclick="sorting('headerstuname',1);">&#8593;</a> Student Name
    </th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
        <a class="sorting" id='headertopic' onclick="sorting('headertopic',2);">&#8593;</a> Topic
    </th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
        <a class="sorting" id='headerTTBstatus' onclick="sorting('headerTTBstatus',3);">&#8593;</a> TTB status
    </th>
    <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
        <a class="sorting" id='headerTTBview' onclick="sorting('headerTTBview',4);">&#8593;</a> Submission of TTB
    </th>


    <% allstdlist.forEach( function(allstdlist) { %>

        <tr>
            <td id="sid" style="font-size:20px;text-align: center;vertical-align:middle;">
                <%= allstdlist.sid %>
            </td>


            <td id="studentname" style="font-size:20px;text-align: center;vertical-align:middle;">
                <a href="/read/<%= allstdlist.sid%>">
                    <%= allstdlist.stdname %>
                </a>
            </td>
            <td id="studenttopic" style="font-size:20px;text-align: center;vertical-align:middle;">
                <%= allstdlist.Topic%>
            </td>
            <td id="studentstatus" style="font-size:20px;text-align: center;vertical-align:middle;">
                <%if (allstdlist.ttbsubmission=="Require Proof" ){%>
                    <div style="font-weight: bold;color: red;">Require Proof</div>
                    <%}else if (allstdlist.ttbsubmission=="Pending" ){%>
                        <div style="font-weight: bold;color: blueviolet;">Pending</div>
                        <%}else if (allstdlist.ttbsubmission=="Approved" ){%>
                            <div style="font-weight: bold;color: green;">Approved</div>
                            <%}else if (allstdlist.ttbsubmission=="Rejected" ){%>
                                <div style="font-weight: bold;color: orange;">Rejected</div>
                                <%}else{%>
                                    <div style="font-weight: bold;color: rgb(78, 162, 252);">No Submission</div>
                                    <%}%>
            </td>
            <td id="studentttb" style="font-size:20px;text-align: center;vertical-align:middle;">
                <% if (allstdlist.ttbsubmission !=null ){%>
                    <div class="buttons is-centered">
                        <a href="/readttb/<%= allstdlist.sid%>">
                            <button class="button buttonlogout">View Submission</button>
                        </a>
                    </div>
                    <%}%>
            </td>

        </tr>

        <% }); %>

</table>
<script>
    function sorting(idlocation, tablelocation) {
        for (var i = 0; i < document.getElementsByClassName("sorting").length; i++) {
            if (i != tablelocation) {
                document.getElementsByClassName("sorting")[i].innerHTML = '↑'
            }
        }

        if (document.getElementById(idlocation).innerHTML == '↑') {
            document.getElementById(idlocation).innerHTML = '\&\#8595;';
            sortingtable("dsc", tablelocation);
        } else {
            document.getElementById(idlocation).innerHTML = '\&\#8593;'
            sortingtable("asc", tablelocation);
        }

    }

    function sortingtable(ordering, tablelocation) {
        var table, rows, switching, i, x, y, shouldSwitch, switchcount = 0;
        table = document.getElementById("mytable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[tablelocation];
                y = rows[i + 1].getElementsByTagName("TD")[tablelocation];


                if (ordering == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (ordering == "dsc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && ordering == "asc") {
                    ordering = "dsc";
                    switching = true;
                }
            }
        }
    }






    function gotocreate() {
        location.assign("/createnewstudent");
    }
</script>