
<div class="Pagetitle">All submitted timeslots of Classrooms</div>
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th style="font-size:20px;text-align: center;vertical-align:center;">ReqID</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">Campus</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">RID</th>

    <th style="font-size:20px;text-align: center;vertical-align:center;">StartDay</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">EndDay</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">StartTime</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">EndTime</th>

    <th style="font-size:20px;text-align: center;vertical-align:center;">remarks</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">Delete</th>


    <% thetimeslotlist.forEach( function(timeslotlist) { 
        const StartDay= new Date(timeslotlist.StartDate).toLocaleDateString('en-CA');
        const EndDay = new Date(timeslotlist.EndDate).toLocaleDateString('en-CA');
        
        %>
        <tr>
            <td style="text-align: center;vertical-align:center;">
                <%= timeslotlist.ReqID %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= timeslotlist.Campus %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= timeslotlist.RID %>
            </td>

            <td style="text-align: center;vertical-align:center;">
                <%= StartDay%>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= EndDay %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= timeslotlist.StartTime %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= timeslotlist.EndTime %>
            </td>

            <td style="text-align: center;vertical-align:center;">
                <%= timeslotlist.Remarks%>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <button class="button" type="button"
                    onclick="deleteclassroomtimeslot('<%= timeslotlist.ReqID %>')">Delete</button>
            </td>

        </tr>

        <% }); %>

</table>
<script>
    async function deleteclassroomtimeslot(reqid) {
        var r = confirm("Confirm Delete " + reqid + " ?");
        var requestBody = JSON.stringify({ ReqID: reqid });
        if (r) {

            var response = await fetch("/managetimeslot", {
                method: "DELETE",
                body: requestBody
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Request deleted.");
                location.assign("/managetimeslot");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };
</script>