<div class="Pagetitle">Notice Page</div>

<div class="rows">
    <div class="row">
        <div class="columns ">
            <div class="column">
                <div class="buttons is-left">
                    <div class="button buttonlogout " onclick="backback()">
                        Back
                    </div>

                </div>
            </div>
            <div class="column ">
                <div class="buttons is-right">

                    <% if (req.session.role!="stu" ){%>

                        <button class="button buttonlogout" onclick="gotocreate()">Create Notice</button>
                        <br>
                        <% }%>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row" style="overflow-x: auto; overflow-y: auto;">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth is-mobile">

            <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">No.</th>
            <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Announced Date</th>
            <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Title</th>
            <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Content</th>
            <th style="font-size:20px;text-align: center;vertical-align:middle;background-color: #C3B091;">Announcer</th>

            <% for(var i=0 ; i < thisusernoticetlist.length;i++){ var
                contents=thisusernoticetlist[i].content.split('newline'); %>
                <tr>
                    <td style="text-align: center;vertical-align:middle;width: 50px;">
                        <%= i+1%>
                    </td>
                    <td style="text-align: center;vertical-align:middle;width: 70px;">
                        <%= new Date(thisusernoticetlist[i].CreateDate).toLocaleDateString(); %>
                            <br>
                            <%= new Date(thisusernoticetlist[i].CreateDate).toLocaleTimeString('en-US',{hour12: false})
                                %>

                    </td>
                    <td style="text-align: center;vertical-align:middle;width: 400px;">
                        <%= thisusernoticetlist[i].title %>
                    </td>
                    <td style="text-align: left;vertical-align:middle;">
                        <%if(contents !=null){%>
                            <%for(var j=0 ;j < contents.length;j++){%>
                                <%=contents[j]%>
                                    <br>
                                    <%}%>

                                        <%}else{%>
                                            <%= thisusernoticetlist[i].content %>
                                                <%}%>


                    </td>
                    <td style="text-align: center;vertical-align:middle;width: 50px;">
                        <%= thisusernoticetlist[i].Creatorname%>
                    </td>
                </tr>
                <% }%>


        </table>
    </div>
</div>



<script>
    function backback(){
        location.assign("home");
    }
    
    function gotocreate() {
        location.assign("/notice/createnewnotice");
    }
</script>