<div class="Pagetitle">Preference</div>
<div class="rows">
    <div class="row">
        <div class="columns">
            <div class="column">
                <div class="buttons is-left">
                    <div class="button buttonlogout is-responsive " onclick="back()">
                        Back
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<%deadlinedate = new Date(deadlinedate)%>
<%if (presentperiodstartdate!= undefined ){%>
   
    
<div class = "columns is-mobile is-centered">
    <div class = "column template is-half-desktop is-full-width-mobile">
        <div class="title">Preference Form</div>
        
            <div id = "msg">
                <article class="message is-link">
                <div class="message-header" style="font-size : calc(16px + 0.390625vw);">
                    <%if(oldpref!=undefined){%>
                    <%if(deadlinedate != undefined){%>
                        Submittion Deadline: <%=deadlinedate.toLocaleDateString("en-GB")%> , <%=deadlinedate.toLocaleTimeString("en-GB")%>
                        <%}%>
                        <br>
                    <%var lastupdate = new Date(oldpref.LastUpdate)%>
                    Last Update: <%=lastupdate.toLocaleDateString("en-GB")%> , <%=lastupdate.toLocaleTimeString('en-US')%>
                    <%}%>
                </div>
                <div class="message-body" style="font-size : calc(15px + 0.390625vw);">
                    Please be aware that this form is only for referencing when creating schdeule draft, not all inputted preferences can be fullfilled.
                    
                </div>
              </article>
            </div>
        
            
   
       <div class = "columns is-centered is-mobile" style="padding-top: 30px;">
            <div class = "column is-half-desktop is-full-width-mobile">
                 <table class="table is-responsive is-fullwidth" style="background-color: transparent;">
                    <%if(oldpref != null){
                        var command = "Update";%>
                    <tr>
                        <th style="vertical-align: middle; font-size : calc(15px + 0.390625vw);">Current Preference :</th>
                           <td>
                            <%if(oldpref.daypref == true){%>
                                    Minimize Days<br>
                                <%}else{%>
                                    Don't matter<br>
                                <%}%>
                                <%if(oldpref.movementpref == true){%>
                                    Minimize Movement<br>
                                <%}else{%>
                                    Don't matter<br>
                                <%}%>
                            </td>
                       </tr>
                       <%}else{var command = "Submit";}%>
                <tr>
                    <th style="vertical-align: middle; font-size : calc(15px + 0.390625vw);">Day Arragement:</th>
                    <td>
                        <input type="radio" id="leastdays" name="daypref" value="true">
                        <label for="leastdays">Minimize</label>
                        <br>
                        <input type="radio" id="moredays" name="daypref" value="false">
                        <label for="moredays">Don't matter</label>
                    </td>
                    
                </tr>
               
                <tr>
                    <th style="vertical-align: middle; font-size : calc(15px + 0.390625vw);">Movement:</th>
                    <td>
                        <input type="radio" id="leastmove" name="movementpref" value="true">
                        <label for="leastmove">Minimize</label>
                        <br>
                        <input type="radio" id="moremove" name="movementpref" value="false">
                        <label for="moremove">Don't matter</label>
                    </td>
                    
                </tr>
            </table>
            </div>
           
          
            
            <br><br>
            
           
        </div>
        <%var deadlinedate = new Date(deadlinedate)%>
        
        
        <%if(deadlinedate > new Date()){%>
            <div class = "buttons is-right">
            
            <%presentationstartdate = new Date(presentperiodstartdate).toLocaleDateString("en-GB")%>
            <%presentationenddate = new Date(presentperiodenddate).toLocaleDateString("en-GB")%>
            <button class="button buttonlogout is-responsive"  onclick="submitform('<%=command%>','<%=presentationstartdate%>','<%=presentationenddate%>')"><%=command%></button>
        </div>
            <%}else{%>
            <div style="padding: 10px;">
                    <p style=" font-size : calc(20px + 0.390625vw); background-color: orange" >Cannot Submit Preference Form Now</p>
                </div>
                
                
                <%}%>
        
   
    </div>
</div>
<%}else{%>
    <div class = "columns is-mobile is-centered">
        <div class="column is-half">
            <article class="message is-link">
                <div class="message-header">
                    <p style="font-size : 25px;" >Cannot Submit Preference Form Now</p>
                </div>
                <div class="message-body"  style="font-size : 20px;">
                    The Presentation Period have not been set by the admin, Supervisor cannot submit their preference at the moment.
                    <br><br>
                    There will be email and notice once the admin set the presentation period informations.
                </div>
            </article>
        </div>
    </div>
    
    
    <%}%>
<script>
    function back(){
        location.assign("/home")
    }

    async function submitform(command,startdatestr,enddatestr){
      
        var daypref = document.querySelector("input[type='radio'][name=daypref]:checked");
        var movepref = document.querySelector("input[type='radio'][name=movementpref]:checked");
        if(daypref == undefined){return alert("please input your preference on day arragement.")}
        if(movepref == undefined){return alert("please input your preference on movement.")}
        alert("hello "+daypref.value+"  "+movepref.value)
        
        
      
      
        requestBody = JSON.stringify({command:command,movepref:movepref.value,daypref:daypref.value})
        console.log(requestBody)
        
        
        var response = await fetch("/preference", {
            method: "POST",
            body : requestBody
        });

        if(response.status == 200){
            alert("Successfully submitted");
            location.reload()
        }else {
            alert("error here")
        }

        

       
    }
</script>