<div class="Pagetitle">Preference</div>
<div class="rows">
    <div class="row">
        <div class="columns">
            <div class="column">
                <div class="buttons is-left">
                    <div class="button buttonlogout " onclick="back()">
                        Back
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<%deadlinedate = new Date(deadlinedate)%>
<%if (presentperiodstartdate!= undefined ){%>
   
    
<div class = "columns is-mobile is-centered">
    <div class = "column column-big is-half">
        <div style="font-size : 25px;padding-top: 10px;" class="title">Preference Form</div>
        <%if(oldpref!=undefined){%>
            <div style="text-align:center; font-size : 18px; color:gray;padding-top: 0px;">
                
                <%if(deadlinedate != undefined){%>
                    
                    Submittion Deadline: <%=deadlinedate.toLocaleDateString("en-GB")%> , <%=deadlinedate.toLocaleTimeString("en-GB")%>
                    <%}%>
                    <br>
                <%var lastupdate = new Date(oldpref.LastUpdate)%>
                Last Update: <%=lastupdate.toLocaleDateString("en-GB")%> , <%=lastupdate.toLocaleTimeString('en-US')%>
            </div>
            <%}%>
           
        <div style="background-color: blanchedalmond; font-size : 18px;padding-top: 10px;color:gray;  text-align: left;padding-left: 50px;padding-right: 50px;padding-top: 10px;">
            Please be aware that this form is only for referencing when creating schdeule draft, not all inputted preferences can be fullfilled.
            <br>
            You can input your prefered presentation number for the presentation date
            <br>
            Your totoal presentation number: <%=studentnum%> 
    </div>
   
        <%var newpresentperiodenddate =new Date(presentperiodenddate)%>
        <%var newpresentperiodstartdate =new Date(presentperiodstartdate)%>
        
        <%var printend = false%>
        <%var startdate = newpresentperiodstartdate%>
        <%var command = "Submit"%>
        <%if(oldpref!=undefined){%>

        <%var oldprefinput = oldpref.Prefno.split("/")%>
        
            <%var index = 0;%>
            <%command = "Update"%>
        <%}%>
        
        <%while(!printend){%>
            <%var day = startdate.getDay()%>
           
            <%switch (day){
                case 0:
                day = "Sun"
                break;
                case 1:
                day = "Mon"
                break;
                case 2:
                day = "Tue"
                break;
                case 3:
                day = "Wed"
                break;
                case 4:
                day = "Thu"
                break;
                case 5:
                day = "Fri"
                break;
                case 6:
                day = "Sat"
                break;
                
            }%>
            <%if(day != "Sun"){%>
<div style="font-size : 20px;padding-top: 10px;"><%=startdate.toLocaleDateString("en-GB")%> (<%=day%>) :&ensp;&ensp;

                <%if(oldpref!=undefined){%><%=oldprefinput[index]%><%index++;}%> <%if(deadlinedate > new Date()){%> ->
                   
                    <input id="pref_<%=startdate.toLocaleDateString('en-GB')%>" type="number" style="text-align: center; width: 80px" min="0" max ="10" value="0">
                
                    <%}%>
                
            </div>
            
            <%}%>
            
            
            <%startdate.setDate(startdate.getDate()+1);%>

            <%if(startdate.toLocaleDateString() > newpresentperiodenddate.toLocaleDateString()){%>
                <%printend = true;}%>
        <%}%>
        <%var deadlinedate = new Date(deadlinedate)%>
        
        <%if(deadlinedate > new Date()){%>
            <div class = "buttons is-right">
            
            <%presentationstartdate = new Date(presentperiodstartdate).toLocaleDateString("en-GB")%>
            <%presentationenddate = new Date(presentperiodenddate).toLocaleDateString("en-GB")%>
            <button class="button buttonlogout"  onclick="submitform('<%=command%>','<%=presentationstartdate%>','<%=presentationenddate%>','<%=studentnum%>')"><%=command%></button>
        </div>
            <%}else{%>
            <div style="padding: 10px;">
                    <p style=" font-size : 23px; background-color: orange" >Cannot Submit Preference Form Now</p>
                </div>
                
                
                <%}%>
        
   
    </div>
</div>
<%}else{%>
    <div class = "columns is-mobile is-centered">
        <div class="column is-half">
            <article class="message is-link">
                <div class="message-header">
                    <p style="font-size : 25px;" >Cannot Submit Preference Form Now</p>
                </div>
                <div class="message-body"  style="font-size : 20px;">
                    The Presentation Period have not been set by the admin, Supervisor cannot submit their preference at the moment.
                    <br><br>
                    There will be email and notice once the admin set the presentation period informations.
                </div>
            </article>
        </div>
    </div>
    
    
    <%}%>
<script>
    function back(){
        location.assign("/home")
    }

    async function submitform(command,startdatestr,enddatestr,maxstdnum){
        var startdate = startdatestr.split("/")
        
        startdate = new Date(parseInt(startdate[2]),parseInt(startdate[1])-1,parseInt(startdate[0]));
        var enddate = enddatestr.split("/");
        enddate = new Date(parseInt(enddate[2]),parseInt(enddate[1])-1,parseInt(enddate[0]));
        
        var checkdate = false;
        var checkstudentnum=0;
        var prefnumstr = "";
        while(!checkdate){
            console.log("here")
            if(startdate.getDay() != 0){
                checkstudentnum+=parseInt(document.getElementById("pref_"+startdate.toLocaleDateString("en-GB")).value);
            if(checkstudentnum > maxstdnum){return alert("Please Review Your inputs. \n Your maximum presentation number is "+maxstdnum)}
            prefnumstr+=parseInt(document.getElementById("pref_"+startdate.toLocaleDateString("en-GB")).value)
            
           
            }

             startdate.setDate(startdate.getDate()+1);
            if(startdate > enddate){checkdate = true;}else{
                prefnumstr+="/";
            }
        }
        requestBody = JSON.stringify({command:command,prefnumstr:prefnumstr})
        console.log("hello")
        
        var response = await fetch("/preference", {
            method: "POST",
            body : requestBody
        });

        if(response.status == 200){
            alert("Successfully submitted");
            location.reload()
        }else {
            alert("error here")
        }

        

       
    }
</script>