<div>
    <%console.log(obslist)%>
    <%if (type=="stu" ){%>
        <div class="Pagetitle"> Details for <%=thatppl[0].sid%>
        </div>


        <div class="buttons">
            <div class="button buttonlogout is-responsive is-left" onclick="back()">
                Back
            </div>

        </div>
        <div>
            <br><br>
            <!--Student Personal info table-->
            <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                <table class="table is-bordered is-striped is-fullwidth">
                    <tr>
                        <%if(req.session.role=="sup" ){%>
                            <th colspan="6"
                                style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: rgb(227, 167, 15);">
                                Personal Info</th>
                            <%}else{%>
                                <th colspan="5"
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: rgb(217, 160, 17);">
                                    Personal Info</th>
                                <%}%>
                    </tr>
                    <tr>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">SID
                        </th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Student
                            Name
                        </th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">Topic
                        </th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">OID
                        </th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Observer
                        </th>
                        <%var today = new Date();%>
                        <%var checkdate = new Date(checkdate)%>
                        <%if(req.session.role=="sup" && today < checkdate){%>
                            <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                Action
                            </th>

                            <%}%>
                    </tr>
                    <% thatppl.forEach( function(thatppl) { %>

                        <tr>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%= thatppl.sid %>
                            </td>



                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%= thatppl.stdname %>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%= thatppl.Topic%>
                            </td>

                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%= thatppl.OID %>
                            </td>

                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%= thatppl.obsname%>
                            </td>
                            <%if(req.session.role=="sup" && today < checkdate){%>
                                <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                    <div class="buttons is-centered">
                                        <div class="button buttonlogout is-responsive" type="button"
                                            onclick="deletestudent('<%= thatppl.sid %>')">
                                            Delete
                                        </div>
                                    </div>

                                </td>
                                <%}%>
                        </tr>

                        <% }); %>

                </table>
            </div>

            <!--Student Request info-->
            <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                <table class="table is-bordered is-striped is-fullwidth">
                    <tr>
                        <th colspan="6"
                            style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: orange">
                            <%=thatppl[0].stdname%>'s Request List
                        </th>
                    </tr>
                    <tr>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            ReqID
                        </th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Request Date</th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Request Time</th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Reason</th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Status</th>
                        <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                            Proof</th>

                    </tr>
                    <%for (var i=0 ; i < requestlist.length;i++){%>
                        <tr>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=requestlist[i].ReqID%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%var reqdate=new Date(requestlist[i].RequestDate).toLocaleDateString("en-GB")%>
                                    <%=reqdate%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=requestlist[i].RequestStartTime%> - <%=requestlist[i].RequestEndTime%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=requestlist[i].reason%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=requestlist[i].status%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%if(requestlist[i].picdata != null){%>
                                    <%var base64obj=Buffer.from(requestlist[i].picdata)%>
                                    <a href="data:image/jpeg;base64,<%=base64obj%>" download>Link</a>
                                    <%}%>
                                
                            </td>
                        </tr>

                        <%}%>


                </table>
            </div>
        </div>
        <%}else if(type=="sup" ){%>
            <div class="Pagetitle"> Details for <%=thatppl[0].tid%></div>

            
            <div class="buttons">
                <div class="button buttonlogout is-responsive is-left" onclick="back()">
                    Back
                </div>
            </div>
            <div>
                <br><br>
                <!--Supervisor Personal info table-->
                <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <tr>
                            <th colspan="3"
                                style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: orange">
                                Peronal Info</th>

                        </tr>
                        <tr>
                            <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                TID
                            </th>
                            <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                Supervisor Name</th>
                            <th style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                TTB Submission</th>
                        </tr>
                        <tr>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=thatppl[0].tid%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=thatppl[0].supname%>
                            </td>
                            <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                <%=thatppl[0].submission%>
                            </td>
                        </tr>

                    </table>
                </div>

                <!--Supervisor Request info table-->
                <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <tr>
                            <th colspan="3"
                                style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: orange">
                                <%=thatppl[0].supname%>'s Request List
                            </th>
                        </tr>
                        <tr>
                            <th
                                style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                ReqID
                            </th>
                            <th
                                style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                Request Date</th>
                            <th
                                style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                Request Time</th>

                        </tr>
                        <%for (var i=0 ; i < requestlist.length;i++){%>
                            <tr>
                                <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                    <%=requestlist[i].ReqID%>
                                </td>
                                <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                    <%var reqdate=new Date(requestlist[i].RequestDate).toLocaleDateString("en-GB")%>
                                        <%=reqdate%>
                                </td>
                                <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                    <%=requestlist[i].RequestStartTime%> - <%=requestlist[i].RequestEndTime%>
                                </td>
                            </tr>

                            <%}%>


                    </table>
                </div>

                   <!--Supervisor Supervising Student list table-->
                <%if(thatppl[0].sid !=null){%>
                    <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                        <table class="table is-bordered is-striped is-fullwidth">
                            <tr>
                                <th colspan="5"
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: orange">
                                    Student List</th>

                            </tr>
                            <tr>
                                <th
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                    SID
                                </th>
                                <th
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                    Student Name</th>
                                <th
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                    Topic</th>
                                <th
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                    OID
                                </th>
                                <th
                                    style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                    Observer
                                </th>
                            </tr>
                            <%for (var i=0 ; i < thatppl.length;i++){%>
                                <tr>
                                    <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                        <%=thatppl[i].sid%>
                                    </td>
                                    <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                        <%=thatppl[i].stdname%>
                                    </td>
                                    <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                        <%=thatppl[i].Topic%>
                                    </td>
                                    <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                        <%=thatppl[i].oid%>
                                    </td>
                                    <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                        <%=thatppl[i].obsname%>
                                    </td>
                                </tr>
                                <%}%>


                        </table>
                    </div>
                    <%}%>

                <!--Supervisor Observing Student list table-->
                <%if(obslist.length >0 ){%>
                    <div class="table" style="width: 100%;overflow-x: auto; overflow-y: auto;">
                        <table class="table is-bordered is-striped is-fullwidth">
                                <tr>
                                    <th colspan="5"
                                        style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: orange">
                                        Observing List</th>
        
                                </tr>
                                <tr>
                                    <th
                                        style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                        SID
                                    </th>
                                    <th
                                        style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                        Student Name</th>
                                    <th
                                        style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                        Topic</th>
                                    <th
                                        style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                        TID
                                    </th>
                                    <th
                                        style="font-size:calc(15px + 0.390625vw);text-align: center;vertical-align:middle; background-color: bisque;">
                                        Supervisor
                                    </th>
                                </tr>
                                <%for (var i=0 ; i < obslist.length;i++){%>
                                    <tr>
                                        <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                            <%=obslist[i].sid%>
                                        </td>
                                        <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                            <%=obslist[i].stdname%>
                                        </td>
                                        <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                            <%=obslist[i].Topic%>
                                        </td>
                                        <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                            <%=obslist[i].tid%>
                                        </td>
                                        <td style="font-size:calc(13px + 0.390625vw);text-align: center;vertical-align:middle;">
                                            <%=obslist[i].supname%>
                                        </td>
                                    </tr>
                                    <%}%>
        
        
                         </table>
                    </div>
                <%}%>

</div>
        <%}%>
            


            <script>

                async function addpair(sid) {
                    var obs = document.getElementById("selectedobs").innerText;
                    var oid = document.getElementById("selectedoid").innerText;
                    console.log(oid != "")
                    if (oid != "") {
                        var r = confirm("Confirm add pairing  {" + sid + "  &  " + oid + "} ?");
                        if (r) {
                            var response = await fetch("/read/" + sid + "&" + oid, {
                                method: "POST"
                            })
                            if (response.ok) {
                                // var html = await response.text();
                                // alert(html);

                                alert("Pairing { " + sid + "  &  " + oid + " } has been added");
                                location.reload();
                            } else {
                                alert(response.status + ": " + response.statusText);
                            }
                        }
                    } else {
                        alert("Please Select An Observer")
                    }
                    //  var r = confirm("Confirm add pairing  {" + sid + "  &  " + oid + "} ?");
                }

                async function breakpair(sid, oid) {

                    var r = confirm("Confirm remove pairing  {" + sid + "  &  " + oid + "} ?");
                    if (r) {

                        var response = await fetch("/read/" + sid + "&" + oid, {
                            method: "DELETE",
                        });

                        if (response.ok) {
                            // var html = await response.text();
                            // alert(html);

                            alert("Pairing { " + sid + "  &  " + oid + " } has been removed");
                            location.reload();
                        } else {
                            alert(response.status + ": " + response.statusText);
                        }

                    } else {
                        alert("cancelled");
                    }

                }

                function back() {
                    location.assign("/listuser");
                }

                async function deletestudent(id) {
                    var r = confirm("Confirm Delete?" + id);

                    if (r) {

                        var response = await fetch("/read/" + id, {
                            method: "DELETE",

                        });

                        if (response.ok) {
                            // var html = await response.text();
                            // alert(html);

                            alert("student deleted.");
                            location.assign("/listuser");
                        } else {
                            alert(response.status + ": " + response.statusText);
                        }

                    } else {
                        alert("cancelled");
                    }
                };

                function selectthisobs(obs, oid) {
                    document.getElementById("selectedobs").innerText = obs;
                    document.getElementById("selectedoid").innerText = oid;

                }

            </script>