<div class="Pagetitle"><%=SID%> TimeTable</div>

<div class="rows">
    <div class="columns is-mobile">
        <div class="column">
            <div class="buttons">
                <div class="button buttonlogout" onclick="history.back()">
                    Back
                </div>
            </div>
        </div>
        <div class="column">
            <div class="buttons is-right">
                <div class="button buttonlogout" >Reject</div>
                <div class="button buttonlogout" onclick="approve('<%=SID%>')">Approve</div>
                
            </div>
        </div>
    </div>
</div>
<br><br>
<table class="table is-bordered is-striped is-hoverable is-fullwidth text-center">
    <th style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">Class Code</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">Class Section</th>
    
    <% allpersonallist.forEach(function(list){ var stringstring=list.CID.split("_"); %>
        <tr>
            <%if(stringstring.length < 3 && stringstring[0] != "EMPTY"){%>
                <td style="font-size:20px;text-align: center;vertical-align:center;">
                <%=stringstring[0]%>
            </td>
            <td style="font-size:20px;text-align: center;vertical-align:center; ">
                <%=stringstring[1]%>
            </td>   
                    
                <%} %>
            
        </tr>
        <%})%>

</table>
<br><Br><br>
    <div class = "columns is-mobile">
        <div class="column is-half">
<div class ="picdisplay">
    <%var base64obj = Buffer.from(allpersonallist[0].picdata)%>
   <%console.log(base64obj)%>
    <img src ="data:image/jpeg;base64,<%=base64obj%>">
</div>
        </div>
        <div class="column is-half">
            <table class="table is-bordered is-striped is-hoverable is-halfwidth center">
    <th class="th" ></th>
    <th class="th" style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">MON</th>
    <th class="th"style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">TUE</th>
    <th class="th"style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">WED</th>
    <th class="th"style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">THU</th>
    <th class="th"style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">FRI</th>
    <th class="th"style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">SAT</th>

    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">08:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 

            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];
           
            let currenttime =new Date();
            currenttime.setHours(8, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(9,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

           
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }
           
          
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
             
                        

    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">09:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
          
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(9, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(10,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

           
          
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }

           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }arraylist = new Array(6);%>

    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">10:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
          
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(10, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(11,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

             
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }
           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">11:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
             var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(11, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(12,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

            
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }
           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">12:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(12, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(13,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

            
          
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }

           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">13:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
             var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(13, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(14,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

            
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }

           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">14:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
            
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(14, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(15,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)
 
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }

           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">15:30</td>
        <% 
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
          
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(15, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(16,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

            
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }
           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">16:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(16, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(17,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

          
           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }

           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">17:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
            
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];

            let currenttime =new Date();
            currenttime.setHours(17, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(18,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }

           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
    <tr>
        <td style="font-size:20px;text-align: center;vertical-align:center;background-color: blanchedalmond;">18:30</td>
        <% 
        var lastbox;
        var arraylist = new Array(6);
        for(var i=0 ; i < allpersonallist.length;i++){ 
           
  
            var cidstr = allpersonallist[i].CID.split("_");
            allpersonallist[i].CID = cidstr[0]+"_"+cidstr[1];


            let currenttime =new Date();
            currenttime.setHours(18, 30, 0, 0); 
            
            
            let endend=new Date();
            endend.setHours(19,20,0,0) 
            
            let classend=new Date(); const
            classendstr=(allpersonallist[i].endTime).split(":"); 
            classend.setHours(classendstr[0],classendstr[1],classendstr[2],0)
            

            let classstart=new Date(); 
            const classstartstr=(allpersonallist[i].startTime).split(":"); 
            classstart.setHours(classstartstr[0],classstartstr[1],classstartstr[2],0)

           if(classstart.toLocaleString("en-GB") == currenttime.toLocaleString("en-GB") ){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
        
           }

           if(classstart < currenttime && classend >=endend){
            arraylist[allpersonallist[i].weekdays -1] = allpersonallist[i];
           }
           
        }for(var x = 0 ; x < 6;x++){
            if(arraylist[x]!= undefined && x == arraylist[x].weekdays-1){%>
<td style="font-size:20px;text-align: center;vertical-align:center;"><%=arraylist[x].CID%></td>
           <% }else{%>
            <td style="font-size:20px;text-align: center;vertical-align:center;"></td><%}
           }
           arraylist = new Array(6);
           %>
    </tr>
</table>
        </div>
    </div>

    <script>
        async function approve(SID){
            var r = confirm("Approve ?")
            if(r){
                var response = await fetch("/readttb/"+SID,
                {
                    method : "POST",
                    body: JSON.stringify({ sid : SID , type:"Approved"})
                })
                if(response.ok){
                    alert("Approved");
                    location.reload();
                }
            }else {}

        }
    </script>

