<div class="Pagetitle">Student Request List</div>
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <th style="font-size:20px;text-align: center;vertical-align:center;">ReqID</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">SID</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">Unavaildable date</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">Start Time</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">EndTime</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">Reason</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">Status</th>
    <th style="font-size:20px;text-align: center;vertical-align:center;">View</th>

    <% thisstudentrequestlist.forEach( function(request) { const StartDay=new
        Date(request.RequestDate).toLocaleDateString('en-CA'); %>

        <tr>
            <td style="text-align: center;vertical-align:center;">
                <%= request.ReqID %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= request.SID %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= StartDay %>
            </td>

            <td style="text-align: center;vertical-align:center;">
                <%= request.RequestStartTime %>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= request.RequestEndTime%>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= request.reason%>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <%= request.status%>
            </td>
            <td style="text-align: center;vertical-align:center;">
                <button class="button" type="button" onclick="Viewqrequest('<%= request.ReqID %>')">View</button>
            </td>
        </tr>

        <% }); %>

</table>
<script>
    async function Viewqrequest(ReqID){
        location.assign("/user/requestdetail/"+ReqID);
    };
</script>