<%if (type == "stu"){%>
    <div class = "Pagetitle"> Details for <%=thatppl[0].sid%></div>


<div class="buttons">
    <div class="button buttonlogout is-left" onclick="back()">
        Back
    </div>

</div>
<div>
<br><br>

    <table class="table is-bordered is-striped is-fullwidth">
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">SID</th>
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Student Name
        </th>
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Topic</th>
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">OID</th>
        <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Observer</th>
        <%if(req.session.role=="sup" ){%>
            <th style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">Action</th>

            <%}%>

                <% thatppl.forEach( function(thatppl) { %>

                    <tr>
                        <td style="font-size:20px;text-align: center;vertical-align:middle;">
                            <%= thatppl.sid %>
                        </td>



                        <td style="font-size:20px;text-align: center;vertical-align:middle;">
                            <%= thatppl.stdname %>
                        </td>
                        <td style="font-size:20px;text-align: center;vertical-align:middle;">
                            <%= thatppl.Topic%>
                        </td>

                        <td style="font-size:20px;text-align: center;vertical-align:middle;">
                            <%= thatppl.OID %>
                        </td>

                        <td style="font-size:20px;text-align: center;vertical-align:middle;">
                            <%= thatppl.obsname%>
                        </td>
                        <%if(req.session.role=="sup" ){%>
                            <td style="font-size:20px;text-align: center;vertical-align:middle;">
                                <div class="buttons is-centered">
                                    <div class="button buttonlogout" type="button"
                                        onclick="deletestudent('<%= thatppl.sid %>')">
                                        Delete
                                    </div>
                                </div>

                            </td>
                            <%}%>
                    </tr>

                    <% }); %>

    </table>

</div>
    <%}else if(type == "sup"){%>
        <div class = "Pagetitle"> Details for <%=thatppl[0].tid%></div>


<div class="buttons">
    <div class="button buttonlogout is-left" onclick="back()">
        Back
    </div>

</div>
<div>
<br><br>
        
        <%}%>



<script>

    async function addpair(sid) {
        var obs = document.getElementById("selectedobs").innerText;
        var oid = document.getElementById("selectedoid").innerText;
        console.log(oid != "")
        if (oid != "") {
            var r = confirm("Confirm add pairing  {" + sid + "  &  " + oid + "} ?");
            if (r) {
                var response = await fetch("/read/" + sid + "&" + oid, {
                    method: "POST"
                })
                if (response.ok) {
                    // var html = await response.text();
                    // alert(html);

                    alert("Pairing { " + sid + "  &  " + oid + " } has been added");
                    location.reload();
                } else {
                    alert(response.status + ": " + response.statusText);
                }
            }
        } else {
            alert("Please Select An Observer")
        }
        //  var r = confirm("Confirm add pairing  {" + sid + "  &  " + oid + "} ?");
    }

    async function breakpair(sid, oid) {

        var r = confirm("Confirm remove pairing  {" + sid + "  &  " + oid + "} ?");
        if (r) {

            var response = await fetch("/read/" + sid + "&" + oid, {
                method: "DELETE",
            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("Pairing { " + sid + "  &  " + oid + " } has been removed");
                location.reload();
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }

    }
    
    function back() {
        location.assign("/listuser");
    }
    
    async function deletestudent(id) {
        var r = confirm("Confirm Delete?" + id);

        if (r) {

            var response = await fetch("/read/" + id, {
                method: "DELETE",

            });

            if (response.ok) {
                // var html = await response.text();
                // alert(html);

                alert("student deleted.");
                location.assign("/listuser");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };
    
    function selectthisobs(obs, oid) {
        document.getElementById("selectedobs").innerText = obs;
        document.getElementById("selectedoid").innerText = oid;

    }

</script>