<div>
    <% if(req.session.role=="sup" ){%>
        <div class="Pagetitle"> Approval Page for <%=req.params.ReqID%>
        </div>
        <%} else if(req.session.role=="stu" ){%>
            <div class="Pagetitle">Deatil Page for <%=req.params.ReqID%>
            </div>
            <%}%>
                <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                    <th style="font-size:20px;text-align: center;vertical-align:center;">ReqID</th>
                    <th style="font-size:20px;text-align: center;vertical-align:center;">SID</th>
                    <th style="font-size:20px;text-align: center;vertical-align:center;">Unavaildable date
                    </th>
                    <th style="font-size:20px;text-align: center;vertical-align:center;">Start Time</th>
                    <th style="font-size:20px;text-align: center;vertical-align:center;">EndTime</th>
                    <th style="font-size:20px;text-align: center;vertical-align:center;">Reason</th>
                    <th style="font-size:20px;text-align: center;vertical-align:center;">Status</th>



                    <tr>
                        <td style="text-align: center;vertical-align:center;">
                            <%= thisrequestdetails.ReqID %>
                        </td>
                        <td style="text-align: center;vertical-align:center;">
                            <%= thisrequestdetails.SID %>
                        </td>
                        <td style="text-align: center;vertical-align:center;">
                            <%= new Date(thisrequestdetails.RequestDate).toLocaleDateString('en-CA') %>
                        </td>

                        <td style="text-align: center;vertical-align:center;">
                            <%= thisrequestdetails.RequestStartTime %>
                        </td>
                        <td style="text-align: center;vertical-align:center;">
                            <%= thisrequestdetails.RequestEndTime%>
                        </td>
                        <td style="text-align: center;vertical-align:center;">
                            <%= thisrequestdetails.reason%>
                        </td>
                        <td style="text-align: center;vertical-align:center;">
                            <%= thisrequestdetails.status%>
                        </td>
                    </tr>



                </table>

                <div id="photohere">Later do this</div>
                <br><br>

                <% if(req.session.role=="sup" ){%>

                    <label for="Comments">Comments:</label>
                    <input type="text" id="Comments" name="Comments" placeholder=""
                        style="width: 500px; height: 200px;">
                    <br><br>
                    <button class="button" type="submit is-success" style="position: absolute; right: 10px;"
                        value="approve" onclick="approvethis('<%=thisrequestdetails.ReqID%>')">Approve</button>
                    <button class="button" type="submit is-success" style="position: absolute; right: 150px;"
                        value="disapprove" onclick="disapprovethis('<%=thisrequestdetails.ReqID%>')">Disapprove</button>

                    <%}else if(req.session.role=="stu" ){%>
                        <label for="Comments">Comments from your supervisor:</label>
                        <%= thisrequestdetails.reply%>
                            <%}%>



</div>
<script>

    function approvethis(reqid) {

        var r = confirm("Confirm APPROVE " + reqid + " ?");
        if (r) {

            reply("approve", reqid);
        }
    }

    function disapprovethis(reqid) {
        var r = confirm("Confirm REJECT " + reqid + " ?");
        if (r) {
            reply("disapprove", reqid);
        }
    }

    async function reply(answer, reqid) {
        
        var requestBody = JSON.stringify({
            ReqID: reqid,
            comment: document.getElementById("Comments").value,
            status: answer
        });


        var response = await fetch("/user/requestdetail/"+reqid, {
            method: "POST",
            body: requestBody
        });

        if (response.ok) {
            // var html = await response.text();
            // alert(html);
            alert("Status of this thisrequestdetails has been updated to " + answer);
            location.assign("/user/readstudentrequestlist");
        } else {
            alert(response.status + ": " + response.statusText);
        }


    }
</script>