<div class="Pagetitle">Setting</div>
<div class="rows">
    <div class="row">
        <div class="columns">
            <div class="column">
                <div class="buttons is-left">
                    <div class="button buttonlogout " onclick="history.back()">
                        Back
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="rows">
    <div class="row">
        <div class="columns is-mobile">
            <div class="column is-one-third">
                <div id="ttbdealine" class="setttbdeadline">
                    <div class="row">
                        <div id="handleTTB" style="font-size : 23px;padding-top: 10px;" class="title">TimeTable
                            Submission Deadline</div>
                    </div>
                    <br>
                    <%if(thissupersetting[0] !=null){ var updatedate=new Date(thissupersetting[0].LastUpdate);%>
                        <%var theupdatedate=updatedate.toLocaleDateString(); %>
                            <%var updatetime=updatedate.toLocaleTimeString('en-US',{hour12: false})%>
                                <% var datedate=new Date(thissupersetting[0].deadlinedate).toLocaleDateString(); %>
                                    <div class="row" style="font-size: 10px;">

                                        Updated At:&emsp;&emsp;<%=theupdatedate%>
                                            <%=updatetime%>
                                                <br>
                                                Setting Details:&emsp;<%=datedate%>
                                                    <%=thissupersetting[0].deadlinetime%>
                                                    <br>
                                                        <%if (thissupersetting[0].Announcetime !=null){%>
                                                            <%var announced=new Date(thissupersetting[0].Announcetime);%>
                                                                <%var theannounced=announced.toLocaleDateString(); %>
                                                                    <%var announcedtime=announced.toLocaleTimeString('en-US',{hour12:false})%>
                                                                    Notice Created:&emsp;<%=theannounced%> <%=announcedtime%>
                                                                    <%}%>


                                    </div>
                                    <%}%>
                                        <br>
                                        <div class="row" style="text-align: center;">
                                            <input type="Date" id="deadlineforttb"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                            <input type="time" id="deadlineforttbtime" name="deadlineforttbtime"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">
                                                <% if(thissupersetting[0] !=null){%>
                                                    <% if(thissupersetting[0].Announcetime ==null){%>
                                                        <button class="button buttonlogout"
                                                        onclick="CreateNotice(0,'<%=datedate%>','<%=thissupersetting[0].deadlinetime%>','<%=thissupersetting[0].STID%>')">Create
                                                        Notice</button>
                                                        <%}%>
                                                    

                                                    <button class="button buttonlogout"
                                                        onclick="submitdeadlineforttb('update')">Update</button>
                                                    <%}else{%>
                                                        <button class="buttonlogout"
                                                            onclick="submitdeadlineforttb('insert')">Submit</button>
                                                        <%}%>
                                            </div>
                                        </div>

                                        <br>
                </div>

            </div>
            <div class="column is-one-third">

                <div id="requestdealine" class="setrequestdeadline">
                    <div class="row">
                        <div id="handleRequest" style="font-size : 23px" class="title">Request Submission Deadline</div>
                    </div>
                    <br>
                    <%if(thissupersetting[1] !=null){ var updatedate=new Date(thissupersetting[1].LastUpdate);%>
                        <%var theupdatedate=updatedate.toLocaleDateString(); %>
                            <%var updatetime=updatedate.toLocaleTimeString('en-US',{hour12: false})%>
                                <% var datedate=new Date(thissupersetting[1].deadlinedate).toLocaleDateString(); %>
                                    <div class="row" style="font-size: 10px;">
                                        Updated At:&emsp;&emsp;<%=theupdatedate%>
                                            <%=updatetime%>
                                                <br>
                                                Setting Details:&emsp;<%=datedate%>
                                                    <%=thissupersetting[1].deadlinetime%>
                                                    <br>
                                                        <%if (thissupersetting[1].Announcetime !=null){%>
                                                            <%var announced=new Date(thissupersetting[1].Announcetime);%>
                                                                <%var theannounced=announced.toLocaleDateString(); %>
                                                                    <%var announcedtime=announced.toLocaleTimeString('en-US',{hour12:false})%>
                                                                    Notice Created:&emsp;<%=theannounced%> <%=announcedtime%>
                                                                    <%}%>
                                    </div>
                                    <%}%>
                                        <br>
                                        <div class="row" style="text-align: center;">
                                            <input type="Date" id="deadlineforrequest"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                            <input type="time" id="deadlineforrequesttime" name="deadlineforrequesttime"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">
                                                <% if(thissupersetting[1] !=null){%>
                                                    <% if(thissupersetting[1].Announcetime ==null){%>
                                                    <button class="button buttonlogout"
                                                        onclick="CreateNotice(1,'<%=datedate%>','<%=thissupersetting[1].deadlinetime%>','<%=thissupersetting[1].STID%>')">Create
                                                        Notice</button>
                                                        <%}%>
                                                    <button class="button buttonlogout"
                                                        onclick="submitdeadlineforrequest('update')">Update</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="submitdeadlineforrequest('insert')">Submit</button>
                                                        <%}%>

                                            </div>
                                        </div>

                                        <br>
                </div>
            </div>
            <div class="column is-one-third">
                <div id="schdeulerelease" class="setschdulerelease">
                    <div class="row">
                        <div id="Handleschdule" style="font-size : 23px" class="title">Release Schdeule Date</div>
                    </div>
                    <br>
                    <%if(thissupersetting[2] !=null){ var updatedate=new Date(thissupersetting[2].LastUpdate);%>
                        <%var theupdatedate=updatedate.toLocaleDateString(); %>
                            <%var updatetime=updatedate.toLocaleTimeString('en-US',{hour12: false})%>
                                <% var datedate=new Date(thissupersetting[2].deadlinedate).toLocaleDateString(); %>
                                    <div class="row" style="font-size: 10px;">
                                        Updated At:&emsp;&emsp;<%=theupdatedate%>
                                            <%=updatetime%>
                                                <br>
                                                Setting Details:&emsp;<%=datedate%>
                                                    <%=thissupersetting[2].deadlinetime%>
                                                    <br>
                                                        <%if (thissupersetting[2].Announcetime !=null){%>
                                                            <%var announced=new Date(thissupersetting[2].Announcetime);%>
                                                                <%var theannounced=announced.toLocaleDateString(); %>
                                                                    <%var announcedtime=announced.toLocaleTimeString('en-US',{hour12:false})%>
                                                                    Notice Created:&emsp;<%=theannounced%> <%=announcedtime%>
                                                                    <%}%>
                                    </div>
                                    <%}%>
                                        <br>
                                        <div class="row" style="text-align: center;">
                                            <input type="Date" id="deadlineforreleaseschdule"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                            <input type="time" id="deadlineforreleaseschduletime"
                                                name="deadlineforreleaseschduletime"
                                                style="width: 150px; font-size:20px; text-align: center;" required>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">
                                                <% if(thissupersetting[2] !=null){%>
                                                    <% if(thissupersetting[0].Announcetime ==null){%>
                                                    <button class="button buttonlogout"
                                                        onclick="CreateNotice(2,'<%=datedate%>','<%=thissupersetting[2].deadlinetime%>','<%=thissupersetting[2].STID%>')">Create
                                                        Notice</button>
                                                        <%}%>

                                                    <button class="button buttonlogout"
                                                        onclick="submitdeadlineforreleaseschdule('update')">Update</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="submitdeadlineforreleaseschdule('insert')">Submit</button>
                                                        <%}%>
                                            </div>
                                        </div>

                                        <br>

                </div>
            </div>
        </div>
    </div>
</div>





<script>


    async function CreateNotice(command, datedate, deadlinetime, id) {

        var requestbody = "type=" + command + "&date=" + datedate + "&time=" + deadlinetime + "&STID=" + id;
        var response = await fetch("/notice/createnewnotice/auto?" + requestbody, {
            method: "GET",
        });
        console.log(response)
        location.assign(response.url)



    }

    async function submitdeadlineforttb(command) {
        
        var deadlinedate = document.getElementById("deadlineforttb").value;
        var deadlinetime = document.getElementById("deadlineforttbtime").value;
       
        if(deadlinedate == null || deadlinedate == ""||deadlinetime == null||deadlinetime == ""){
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlies than today.") }

        var r = confirm("Please Confirm Your Setting for Timetable Submission\n\n"
            + "Deadline :       " + document.getElementById("deadlineforttb").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforttbtime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "1",
                    command: command,
                    date: document.getElementById("deadlineforttb").value,
                    time: document.getElementById("deadlineforttbtime").value,
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Timetable Submission Deadline has been settle as\n" + document.getElementById("deadlineforttb").value + " , " + document.getElementById("deadlineforttbtime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitdeadlineforrequest(command) {
        var deadlinedate = document.getElementById("deadlineforrequest").value;
        var deadlinetime = document.getElementById("deadlineforrequesttime").value;
       
        if(deadlinedate == null || deadlinedate == ""||deadlinetime == null||deadlinetime == ""){
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlies than today.") }
        var r = confirm("Please Confirm Your Setting for Timetable Submission\n\n"
            + "Deadline :       " + document.getElementById("deadlineforrequest").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforrequesttime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "2",
                    command: command,
                    date: document.getElementById("deadlineforrequest").value,
                    time: document.getElementById("deadlineforrequesttime").value,
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Request Submission Deadline has been settle as\n" + document.getElementById("deadlineforrequest").value + " , " + document.getElementById("deadlineforrequesttime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitdeadlineforreleaseschdule(command) {
        var deadlinedate = document.getElementById("deadlineforreleaseschdule").value;
        var deadlinetime = document.getElementById("deadlineforreleaseschduletime").value;
       
        if(deadlinedate == null || deadlinedate == ""||deadlinetime == null||deadlinetime == ""){
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

              if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlies than today.") }
        var r = confirm("Please Confirm Your Setting for Presentation Schdeule Release Date\n\n"
            + "Deadline :       " + document.getElementById("deadlineforreleaseschdule").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforreleaseschduletime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "3",
                    command: command,
                    date: document.getElementById("deadlineforreleaseschdule").value,
                    time: document.getElementById("deadlineforreleaseschduletime").value,
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Presentation Schdeule Release Date has been settle as\n" + document.getElementById("deadlineforreleaseschdule").value + " , " + document.getElementById("deadlineforreleaseschduletime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }
</script>