<div class="Pagetitle">Setting</div>
<div class="rows">
    <div class="row">
        <div class="columns">
            <div class="column">
                <div class="buttons is-left">
                    <div class="button buttonlogout " onclick="back()">
                        Back
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<%var hv1anoun = -1;var hv2anoun = -1;var hv3anoun = -1;var hv4anoun = -1;var hv5anoun = -1;var hv6anoun = -1;%>
<%var hv1 = -1;var hv2 = -1;var hv3 = -1;var hv4 = -1;var hv5 = -1; var hv6 = -1;%>

<%for(var i = 0 ; i < thissupersetting.length;i++){
    console.log("\n\n\n"+thissupersetting[i].typeofsetting)
    if(thissupersetting[i].typeofsetting ==1){
        if(thissupersetting[i].Announcetime != null){
            hv1anoun = i;
        }else{
            hv1=i;
        }
        
    }else if(thissupersetting[i].typeofsetting ==2){
        if(thissupersetting[i].Announcetime != null){
            hv2anoun = i;
        }else{
            hv2=i
        }
    }else if(thissupersetting[i].typeofsetting ==3){
        if(thissupersetting[i].Announcetime != null){
            hv3anoun = i;
        }else{
            hv3=i;
        }
        
    }else if(thissupersetting[i].typeofsetting ==4){
        if(thissupersetting[i].Announcetime != null){
            hv4anoun =i;
        }else{
            hv4=i;
        }
    }else if(thissupersetting[i].typeofsetting ==5){
        if(thissupersetting[i].Announcetime != null){
            hv5anoun =i;
        }else{
            hv5=i;
        }
    }else if(thissupersetting[i].typeofsetting ==6){
        if(thissupersetting[i].Announcetime != null){
            hv6anoun =i;
        }else{
            hv6=i;
        }
    }
}%>

<div class="rows">
    <div class="row">
        <div class="columns is-centered">
            <div class="column is-half">
                <div id="ttbdealine" class="settingbox">
                    <div class="row">
                        <div id="handleTTB" style="font-size : 23px;padding-top: 10px;" class="title">TimeTable
                            Submission Deadline</div>
                    </div>
                    <br>
                    
                    <%if(hv1anoun>=0){%> 
                        <%var announcetime = new Date(thissupersetting[hv1anoun].Announcetime)%>
                        <%var announceddate = new Date(thissupersetting[hv1anoun].deadlinedate)%>
                        <%var announcedtimetime = thissupersetting[hv1anoun].deadlinetime%>
                        <div class="row" style="font-size: 10px;">
                            Setting Info&ensp;&ensp;&ensp;&ensp;&ensp;: <%=announceddate.toLocaleDateString("en-GB")%>, <%=announcedtimetime%> 
                            <br>
                            Announced At&ensp;&ensp;&nbsp;: <%=announcetime.toLocaleString("en-GB")%>
                        </div>
                        <br>
                        <%}%>
                    <%if(hv1 >=0){%> 
                        
                        <%var updatedate=new Date(thissupersetting[hv1].LastUpdate)%>
                        <%var updatetothisdate = (new Date(thissupersetting[hv1].deadlinedate)).toLocaleDateString("en-GB")%>
                        <%var updatetothistime = thissupersetting[hv1].deadlinetime%>
                        <%var checkdate = new Date(new Date(thissupersetting[hv1].deadlinedate).toLocaleDateString().replace(/\//g, '-')+" "+updatetothistime)%>
                      
                        <div class="row" style="font-size: 10px;">
                            Updated Info&ensp;&ensp;&ensp;: <%=updatetothisdate%>, <%=updatetothistime%> 
                            <br>
                            Updated At&ensp;&ensp;&ensp;&ensp;&nbsp;: <%=updatedate.toLocaleString("en-GB")%> 
                        </div>
                        <%}%>
                   
                    

                   
                                        <br>
                                        <div class="row" style="text-align: center;">
                                            <input type="Date" id="deadlineforttb"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                            <input type="time" id="deadlineforttbtime" name="deadlineforttbtime"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">
                                                
                                                <% if(hv1 >=0 && checkdate > new Date()){%>
                                                    <% if(hv1anoun >=0){%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(0,'<%=updatetothisdate%>','<%=thissupersetting[hv1].deadlinetime%>','<%=thissupersetting[hv1].STID%>','<%=thissupersetting[hv1anoun].STID%>',null,null,'1')">Create
                                                            Notice</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(0,'<%=updatetothisdate%>','<%=thissupersetting[hv1].deadlinetime%>','<%=thissupersetting[hv1].STID%>',null,null,null,'1')">Create
                                                            Notice</button>
                                                        <%}%>    


                                                            <button class="button buttonlogout"
                                                                onclick="submitdeadlineforttb('update')">Update</button>
                                                             <%}else if(hv1 >=0 && checkdate < new Date()){%>
                                                               
                                                                <button class="button buttonlogout"
                                                                onclick="submitdeadlineforttb('update')">Submit</button>
                                                                    
                                                               
                                                                <%}else{%>
                                                                    <button class="button buttonlogout"
                                                                    onclick="submitdeadlineforttb('insert')">Submit</button>
                                                                    <%}%>
                                            </div>
                                        </div>

                                        <br>
                </div>

            </div>
            <div class="column is-half">

                <div id="requestdealine" class="settingbox">
                    <div class="row">
                        <div id="handleRequest" style="font-size : 23px" class="title">Request Submission Deadline</div>
                    </div>
                    <br>
                    
                   
                    <%if(hv2anoun>=0){%> 
                        <%console.log(thissupersetting[hv2anoun])%>
                        <%var announcetime = new Date(thissupersetting[hv2anoun].Announcetime)%>
                        <%var announceddate = new Date(thissupersetting[hv2anoun].deadlinedate)%>
                        <%var announcedtimetime = thissupersetting[hv2anoun].deadlinetime%>
                        <div class="row" style="font-size: 10px;">
                            Setting Info&ensp;&ensp;&ensp;&ensp;&ensp;: <%=announceddate.toLocaleDateString("en-GB")%>, <%=announcedtimetime%> 
                            <br>
                            Announced At&ensp;&ensp;&nbsp;: <%=announcetime.toLocaleString("en-GB")%>
                        </div>
                        <br>
                        <%}%>
                    <%if(hv2 >=0){%> 
                         <%console.log(thissupersetting[hv2])%>
                        <%var updatedate=new Date(thissupersetting[hv2].LastUpdate)%>
                        <%var updatetothisdate = (new Date(thissupersetting[hv2].deadlinedate)).toLocaleDateString("en-GB")%>
                        <%var updatetothistime = thissupersetting[hv2].deadlinetime%>
                      <%var checkdate = new Date(new Date(thissupersetting[hv2].deadlinedate).toLocaleDateString().replace(/\//g, '-')+" "+updatetothistime)%>
                        
                      <div class="row" style="font-size: 10px;">
                            Updated Info&ensp;&ensp;&ensp;: <%=updatetothisdate%>, <%=updatetothistime%> 
                            <br>
                            Updated At&ensp;&ensp;&ensp;&ensp;&nbsp;: <%=updatedate.toLocaleString("en-GB")%> 
                        </div>
                        <%}%>
                                        <br>
                                        <div class="row" style="text-align: center;">
                                            <input type="Date" id="deadlineforrequest"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                            <input type="time" id="deadlineforrequesttime" name="deadlineforrequesttime"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">

                                                  <% if(hv2 >=0 && checkdate > new Date()){%>
                                                   
                                                    <% if(hv2anoun >=0){%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(1,'<%=updatetothisdate%>','<%=thissupersetting[hv2].deadlinetime%>','<%=thissupersetting[hv2].STID%>','<%=thissupersetting[hv2anoun].STID%>',null,null,'1')">Create
                                                            Notice</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(1,'<%=updatetothisdate%>','<%=thissupersetting[hv2].deadlinetime%>','<%=thissupersetting[hv2].STID%>',null,null,null,'1')">Create
                                                            Notice</button>
                                                        <%}%>    


                                                            <button class="button buttonlogout" onclick="submitdeadlineforrequest('update')">Update</button>
                                                            <%}else if(hv2 >=0 && checkdate < new Date()){%>
                                                               
                                                                <button class="button buttonlogout"
                                                                onclick="submitdeadlineforrequest('update')">Submit</button>
                                                                    
                                                               
                                                                <%}else{%>
                                                                    <button class="button buttonlogout"
                                                                    onclick="submitdeadlineforrequest('insert')">Submit</button>
                                                                    <%}%>
                                            </div>
                                        </div>

                                        <br>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="columns is-centered">
            <div class="column is-half">
                <div id="presentationperiod" class="settingbox">
                    <div class="row">
                        <div id="handlepresent" style="font-size : 23px;padding-top: 10px;" class="title">Presentation
                            Period</div>
                    </div>
                    <br>
                    <%if(hv3anoun>=0){%> 
                        <%console.log(thissupersetting[hv3anoun])%>
                        <%var announcetime = new Date(thissupersetting[hv3anoun].Announcetime)%>
                        <%var announcedstartdate = new Date(thissupersetting[hv3anoun].startdate)%>
                        <%var announcedstarttimetime = thissupersetting[hv3anoun].starttime%>
                        <%var announcedenddate = new Date(thissupersetting[hv3anoun].enddate)%>
                        <%var announcedendtimetime = thissupersetting[hv3anoun].endtime%>
                        <div class="row" style="font-size: 10px;">
                            Setting Info&ensp;&ensp;&ensp;&ensp;&ensp;: From&ensp;&ensp;<%=announcedstartdate.toLocaleDateString("en-GB")%>, <%=announcedstarttimetime%>&ensp;&ensp;To&ensp;&ensp;<%=announcedenddate.toLocaleDateString("en-GB")%>, <%=announcedendtimetime%>
                            <br>
                            Announced At&ensp;&ensp;&nbsp;: <%=announcetime.toLocaleString("en-GB")%>
                        </div>
                        <br>
                        <%}%>
                    <%if(hv3 >=0){%> 
                         <%console.log(thissupersetting[hv3])%>
                        <%var updatedate=new Date(thissupersetting[hv3].LastUpdate)%>
                        <%var updatetothisstartdate = (new Date(thissupersetting[hv3].startdate)).toLocaleDateString("en-GB")%>
                        <%var updatetothisstarttime = thissupersetting[hv3].starttime%>
                        <%var updatetothisenddate = (new Date(thissupersetting[hv3].enddate)).toLocaleDateString("en-GB")%>
                        <%var updatetothisendtime = thissupersetting[hv3].endtime%>
                        <%var checkdate = new Date(new Date(thissupersetting[hv3].startdate).toLocaleDateString().replace(/\//g, '-')+" "+updatetothisstarttime)%>
                     
                        <div class="row" style="font-size: 10px;">
                            Updated Info&ensp;&ensp;&ensp;: From&ensp;&ensp;<%=updatetothisstartdate%>, <%=updatetothisstarttime%>&ensp;&ensp;To&ensp;&ensp;<%=updatetothisenddate%>, <%=updatetothisendtime%> 
                            <br>
                            Updated At&ensp;&ensp;&ensp;&ensp;&nbsp;: <%=updatedate.toLocaleString("en-GB")%> 
                        </div>
                        <%}%>
                                        <br>

                                        <div class="row" style="text-align: center;">
                                            <div class="columns">
                                                <div class="column is-half">
                                                    <div class="row" style="text-align: center;">
                                                        <label for="startpresent" style="font-size:20px;">Start
                                                            Date</label>
                                                    </div>
                                                    <div class="row" style="text-align: center;">
                                                        <input type="Date" id="startpresent"
                                                            style="width: 150px; font-size:20px;text-align: center;"
                                                            required>
                                                        <input type="time" id="startpresenttime" name="startpresenttime"
                                                            style="width: 150px; font-size:20px;text-align: center;"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="column is-half">
                                                    <div class="row" style="text-align: center;">
                                                        <label for="endpresent" style="font-size:20px;">End Date</label>
                                                    </div>
                                                    <div class="row" style="text-align: center;">
                                                        <input type="Date" id="endpresent"
                                                            style="width: 150px; font-size:20px;text-align: center;"
                                                            required>
                                                        <input type="time" id="endpresenttime" name="endpresenttime"
                                                            style="width: 150px; font-size:20px;text-align: center;"
                                                            required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">
                                                
                                                <% if(hv3 >=0 && checkdate > new Date()){%>
                                                    <% if(hv3anoun >=0 ){%>
                                                        
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(2,'<%=updatetothisstartdate%>','<%=updatetothisstarttime%>','<%=thissupersetting[hv3].STID%>','<%=thissupersetting[hv3anoun].STID%>','<%=updatetothisenddate%>','<%=updatetothisendtime%>','1')">Create
                                                            Notice</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(2,'<%=updatetothisstartdate%>','<%=updatetothisstarttime%>','<%=thissupersetting[hv3].STID%>',null,'<%=updatetothisenddate%>','<%=updatetothisendtime%>','1')">Create
                                                            Notice</button>
                                                        <%}%>    


                                                        <button class="button buttonlogout"
                                                        onclick="submitpresentationperiod('update')">Update</button>
                                                        <%}else if(hv3 >=0 && checkdate < new Date()){%>
                                                               
                                                            <button class="button buttonlogout"
                                                            onclick="submitpresentationperiod('update')">Submit</button>
                                                                
                                                           
                                                            <%}else{%>
                                                                <button class="button buttonlogout"
                                                                onclick="submitpresentationperiod('insert')">Submit</button>
                                                                <%}%>
                                            </div>
                                        </div>

                                        <br>
                </div>

            </div>
            <div class="column is-half">
                <div id="schdeulerelease" class="settingbox">
                    <div class="row">
                        <div id="Handleschdule" style="font-size : 23px" class="title">Release Schdeule Date</div>
                    </div>
                    <br>
                    <%if(hv4anoun>=0){%> 
                        <%console.log(thissupersetting[hv4anoun])%>
                        <%var announcetime = new Date(thissupersetting[hv4anoun].Announcetime)%>
                        <%var announceddate = new Date(thissupersetting[hv4anoun].deadlinedate)%>
                        <%var announcedtimetime = thissupersetting[hv4anoun].deadlinetime%>
                        <div class="row" style="font-size: 10px;">
                            Setting Info&ensp;&ensp;&ensp;&ensp;&ensp;: <%=announceddate.toLocaleDateString("en-GB")%>, <%=announcedtimetime%> 
                            <br>
                            Announced At&ensp;&ensp;&nbsp;: <%=announcetime.toLocaleString("en-GB")%>
                        </div>
                        <br>
                        <%}%>
                    <%if(hv4 >=0){%> 
                         <%console.log(thissupersetting[hv4])%>
                        <%var updatedate=new Date(thissupersetting[hv4].LastUpdate)%>
                        <%var updatetothisdate = (new Date(thissupersetting[hv4].deadlinedate)).toLocaleDateString("en-GB")%>
                        <%var updatetothistime = thissupersetting[hv4].deadlinetime%>
                        <%var checkdate = new Date(new Date(thissupersetting[hv4].deadlinedate).toLocaleDateString().replace(/\//g, '-')+" "+updatetothistime)%>
                     
                        <div class="row" style="font-size: 10px;">
                            Updated Info&ensp;&ensp;&ensp;: <%=updatetothisdate%>, <%=updatetothistime%> 
                            <br>
                            Updated At&ensp;&ensp;&ensp;&ensp;&nbsp;: <%=updatedate.toLocaleString("en-GB")%> 
                        </div>
                        <%}%>
                                        <br>
                                        <div class="row" style="text-align: center;">
                                            <input type="Date" id="deadlineforreleaseschdule"
                                                style="width: 150px; font-size:20px;text-align: center;" required>
                                            <input type="time" id="deadlineforreleaseschduletime"
                                                name="deadlineforreleaseschduletime"
                                                style="width: 150px; font-size:20px; text-align: center;" required>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="buttons is-right">
                                                <% if(hv4 >=0 && checkdate > new Date()){%>
                                                    <% if(hv4anoun >=0){%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(3,'<%=updatetothisdate%>','<%=thissupersetting[hv4].deadlinetime%>','<%=thissupersetting[hv4].STID%>','<%=thissupersetting[hv4anoun].STID%>',null,null,'1')">Create
                                                            Notice</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(3,'<%=updatetothisdate%>','<%=thissupersetting[hv4].deadlinetime%>','<%=thissupersetting[hv4].STID%>',null,null,null,'1')">Create
                                                            Notice</button>
                                                        <%}%>    


                                                        <button class="button buttonlogout"
                                                        onclick="submitdeadlineforreleaseschdule('update')">Update</button>
                                                        <%}else if(hv4 >=0 && checkdate < new Date()){%>
                                                               
                                                            <button class="button buttonlogout"
                                                            onclick="submitdeadlineforreleaseschdule('update')">Submit</button>
                                                                
                                                           
                                                            <%}else{%>
                                                                <button class="button buttonlogout"
                                                                onclick="submitdeadlineforreleaseschdule('insert')">Submit</button>
                                                                <%}%>
                                            </div>
                                        </div>

                                        <br>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns is-centered">
            <div class="column is-half">
                <div id="uploadstudentlist" class="settingbox">
                    <div class="row">
                        <div id="handleuploadstulist" style="font-size : 23px;padding-top: 10px;" class="title">Upload Student List</div>
                        <%if(hv5anoun>=0){%> 
                            <%console.log(thissupersetting[hv5anoun])%>
                            <%var announcetime = new Date(thissupersetting[hv5anoun].Announcetime)%>
                            <%var announceddate = new Date(thissupersetting[hv5anoun].deadlinedate)%>
                            <%var announcedtimetime = thissupersetting[hv5anoun].deadlinetime%>
                            <div class="row" style="font-size: 10px;">
                                Setting Info&ensp;&ensp;&ensp;&ensp;&ensp;: <%=announceddate.toLocaleDateString("en-GB")%>, <%=announcedtimetime%> 
                                <br>
                                Announced At&ensp;&ensp;&nbsp;: <%=announcetime.toLocaleString("en-GB")%>
                            </div>
                            <br>
                            <%}%>
                            <%if(hv5 >=0){%> 
                                <%console.log(thissupersetting[hv5])%>
                               <%var updatedate=new Date(thissupersetting[hv5].LastUpdate)%>
                               <%var updatetothisdate = (new Date(thissupersetting[hv5].deadlinedate)).toLocaleDateString("en-GB")%>
                               <%var updatetothistime = thissupersetting[hv5].deadlinetime%>
                               <%var checkdate = new Date(new Date(thissupersetting[hv5].deadlinedate).toLocaleDateString().replace(/\//g, '-')+" "+updatetothistime)%>
                     
                               <div class="row" style="font-size: 10px;">
                                   Updated Info&ensp;&ensp;&ensp;: <%=updatetothisdate%>, <%=updatetothistime%> 
                                   <br>
                                   Updated At&ensp;&ensp;&ensp;&ensp;&nbsp;: <%=updatedate.toLocaleString("en-GB")%> 
                               </div>
                               <%}%>
                               <br>
                               <div class="row" style="text-align: center;">
                                   <input type="Date" id="deadlineforuploadstulist"
                                       style="width: 150px; font-size:20px;text-align: center;" required>
                                   <input type="time" id="deadlineforuploadstulisttime"
                                       name="deadlineforuploadstulisttime"
                                       style="width: 150px; font-size:20px; text-align: center;" required>
                               </div>
                               <br>
                               
                                        <div class="row">
                                            <div class="buttons is-right">
                                                <% if(hv5 >=0 && checkdate > new Date()){%>
                                                    <% if(hv5anoun >=0){%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(4,'<%=updatetothisdate%>','<%=thissupersetting[hv5].deadlinetime%>','<%=thissupersetting[hv5].STID%>','<%=thissupersetting[hv5anoun].STID%>',null,null,'3')">Create
                                                            Notice</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(4,'<%=updatetothisdate%>','<%=thissupersetting[hv5].deadlinetime%>','<%=thissupersetting[hv5].STID%>',null,null,null,'3')">Create
                                                            Notice</button>
                                                        <%}%>    


                                                        <button class="button buttonlogout"
                                                        onclick="submitdeadlineforuploadstulist('update')">Update</button>
                                                        <%}else if(hv5 >=0 && checkdate < new Date()){%>
                                                               
                                                            <button class="button buttonlogout"
                                                            onclick="submitdeadlineforuploadstulist('update')">Submit</button>
                                                                
                                                           
                                                            <%}else{%>
                                                                <button class="button buttonlogout"
                                                                onclick="submitdeadlineforuploadstulist('insert')">Submit</button>
                                                                <%}%>
                                            </div>
                                        </div>
                    </div>
                </div>
             </div>
             <div class="column is-half">
                <div id="uploadsuperpreference" class="settingbox">
                    <div class="row">
                        <div id="handleuploadsuperpreference" style="font-size : 23px;padding-top: 10px;" class="title">Upload Supervisior Perference</div>
                        <%if(hv6anoun>=0){%> 
                            <%console.log(thissupersetting[hv6anoun])%>
                            <%var announcetime = new Date(thissupersetting[hv6anoun].Announcetime)%>
                            <%var announceddate = new Date(thissupersetting[hv6anoun].deadlinedate)%>
                            <%var announcedtimetime = thissupersetting[hv6anoun].deadlinetime%>
                            <div class="row" style="font-size: 10px;">
                                Setting Info&ensp;&ensp;&ensp;&ensp;&ensp;: <%=announceddate.toLocaleDateString("en-GB")%>, <%=announcedtimetime%> 
                                <br>
                                Announced At&ensp;&ensp;&nbsp;: <%=announcetime.toLocaleString("en-GB")%>
                            </div>
                            <br>
                            <%}%>
                            <%if(hv6 >=0){%> 
                                <%console.log(thissupersetting[hv6])%>
                               <%var updatedate=new Date(thissupersetting[hv6].LastUpdate)%>
                               <%var updatetothisdate = (new Date(thissupersetting[hv6].deadlinedate)).toLocaleDateString("en-GB")%>
                               <%var updatetothistime = thissupersetting[hv6].deadlinetime%>
                               <%var checkdate = new Date(new Date(thissupersetting[hv6].deadlinedate).toLocaleDateString().replace(/\//g, '-')+" "+updatetothistime)%>
                     
                               <div class="row" style="font-size: 10px;">
                                   Updated Info&ensp;&ensp;&ensp;: <%=updatetothisdate%>, <%=updatetothistime%> 
                                   <br>
                                   Updated At&ensp;&ensp;&ensp;&ensp;&nbsp;: <%=updatedate.toLocaleString("en-GB")%> 
                               </div>
                               <%}%>
                               <br>
                               <div class="row" style="text-align: center;">
                                   <input type="Date" id="deadlineforuploadsuperpreference"
                                       style="width: 150px; font-size:20px;text-align: center;" required>
                                   <input type="time" id="deadlineforuploadsuperpreferencetime"
                                       name="deadlineforuploadsuperpreferencetime"
                                       style="width: 150px; font-size:20px; text-align: center;" required>
                               </div>
                               <br>
                               
                                        <div class="row">
                                            <div class="buttons is-right">
                                                <% if(hv6 >=0 && checkdate > new Date()){%>
                                                    <% if(hv6anoun >=0){%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(5,'<%=updatetothisdate%>','<%=thissupersetting[hv6].deadlinetime%>','<%=thissupersetting[hv6].STID%>','<%=thissupersetting[hv6anoun].STID%>',null,null,'3')">Create
                                                            Notice</button>
                                                    <%}else{%>
                                                        <button class="button buttonlogout"
                                                            onclick="CreateNotice(5,'<%=updatetothisdate%>','<%=thissupersetting[hv6].deadlinetime%>','<%=thissupersetting[hv6].STID%>',null,null,null,'3')">Create
                                                            Notice</button>
                                                        <%}%>    


                                                        <button class="button buttonlogout"
                                                        onclick="submitdeadlineforuploadsuperpreference('update')">Update</button>
                                                        <%}else if(hv6 >=0 && checkdate < new Date()){%>
                                                               
                                                            <button class="button buttonlogout"
                                                            onclick="submitdeadlineforuploadsuperpreference('update')">Submit</button>
                                                                
                                                           
                                                            <%}else{%>
                                                                <button class="button buttonlogout"
                                                                onclick="submitdeadlineforuploadsuperpreference('insert')">Submit</button>
                                                                <%}%>
                                            </div>
                                        </div>
                    </div>
                </div>
             </div>
        </div>
                    
    </div>

</div>





<script>

    function back(){
        location.assign("home")
    }


    async function CreateNotice(command, startdatedate,starttime, id,oidid, enddatedate,endtime,type) {
        console.log(type)
        if(oidid == null){console.log("old is null")}
        if(command != 2){
            if(oidid == null){
                var requestbody = "type=" + command + "&date=" + startdatedate + "&time=" + starttime + "&STID=" + id+"&level="+type;
                var response = await fetch("/notice/createnewnotice/auto?" + requestbody, {
                    method: "GET",
                });

            }else{
                var requestbody = "type=" + command + "&date=" + startdatedate + "&time=" + starttime + "&STID=" + id+"&oldSTID="+oidid+"&level="+type;
                var response = await fetch("/notice/createnewnotice/auto?" + requestbody, {
                    method: "GET",
                });
            }

            
       
        location.assign(response.url)
        }else{
            
            if(oidid == null){
                var requestbody = "type=" + command + "&startdate=" + startdatedate + "&starttime=" + starttime + "&STID=" + id+ "&enddate=" + enddatedate + "&endtime=" + endtime +"&level="+type;
                var response = await fetch("/notice/createnewnotice/auto?" + requestbody, {
                    method: "GET",
                });

            }else{
                console.log(oidid)
                var requestbody = "type=" + command + "&startdate=" + startdatedate + "&starttime=" + starttime + "&STID=" + id+"&oldSTID="+ oidid + "&enddate=" + enddatedate + "&endtime=" + endtime +"&level="+type;

                var response = await fetch("/notice/createnewnotice/auto?" + requestbody, {
                    method: "GET",
                });
            }
            
       
        location.assign(response.url)
        }
        



    }

    async function submitdeadlineforttb(command) {

        var deadlinedate = document.getElementById("deadlineforttb").value;
        var deadlinetime = document.getElementById("deadlineforttbtime").value;

        if (deadlinedate == null || deadlinedate == "" || deadlinetime == null || deadlinetime == "") {
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlier than today.") }

        var r = confirm("Please Confirm Your Setting for Timetable Submission\n\n"
            + "Deadline :       " + document.getElementById("deadlineforttb").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforttbtime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "1",
                    command: command,
                    date: document.getElementById("deadlineforttb").value,
                    time: document.getElementById("deadlineforttbtime").value,
                    level:"1"
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Timetable Submission Deadline has been settle as\n" + document.getElementById("deadlineforttb").value + " , " + document.getElementById("deadlineforttbtime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitdeadlineforrequest(command) {
        var deadlinedate = document.getElementById("deadlineforrequest").value;
        var deadlinetime = document.getElementById("deadlineforrequesttime").value;

        if (deadlinedate == null || deadlinedate == "" || deadlinetime == null || deadlinetime == "") {
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlier than today.") }
        var r = confirm("Please Confirm Your Setting for Request Submission\n\n"
            + "Deadline :       " + document.getElementById("deadlineforrequest").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforrequesttime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "2",
                    command: command,
                    date: document.getElementById("deadlineforrequest").value,
                    time: document.getElementById("deadlineforrequesttime").value,
                    level:"1"
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Request Submission Deadline has been settle as\n" + document.getElementById("deadlineforrequest").value + " , " + document.getElementById("deadlineforrequesttime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitdeadlineforreleaseschdule(command) {
        var deadlinedate = document.getElementById("deadlineforreleaseschdule").value;
        var deadlinetime = document.getElementById("deadlineforreleaseschduletime").value;

        if (deadlinedate == null || deadlinedate == "" || deadlinetime == null || deadlinetime == "") {
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlier than today.") }
        var r = confirm("Please Confirm Your Setting for Presentation Schdeule Release Date\n\n"
            + "Deadline :       " + document.getElementById("deadlineforreleaseschdule").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforreleaseschduletime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "4",
                    command: command,
                    date: document.getElementById("deadlineforreleaseschdule").value,
                    time: document.getElementById("deadlineforreleaseschduletime").value,
                    level:"1"
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Presentation Schdeule Release Date has been settle as\n" + document.getElementById("deadlineforreleaseschdule").value + " , " + document.getElementById("deadlineforreleaseschduletime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitpresentationperiod(command) {
        var startdate = document.getElementById("startpresent").value;
        var enddate = document.getElementById("endpresent").value;
        var starttime = document.getElementById("startpresenttime").value;
        var endtime = document.getElementById("endpresenttime").value;
        if (startdate == null || startdate == "" || enddate == null || enddate == ""
        ||starttime == null || starttime == "" || endtime == null || endtime == "") {
            return alert("Please input ALL dates and times for presentation period");
        }
        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var presentstartdate = new Date(startdate + " " + starttime);
        var presentenddate = new Date(enddate + " " + endtime);

        if (presentstartdate >= presentenddate) { return alert("Please Review Your Setting \nYou cannot set an endday earlier than the startday.") }
        if (presentstartdate <= today) { return alert("Please Review Your Setting \nYou cannot set a startday earlier than today.") }
        if (presentenddate <= today) { return alert("Please Review Your Setting \nYou cannot set an endday earlier than today.") }
        var r = confirm("Please Confirm Your Setting for Presentation Period\n\n"
            + "StartDate :       " + document.getElementById("startpresent").value + "  "+ document.getElementById("startpresenttime").value+"\n"
            + "EndDate :         " + document.getElementById("endpresent").value + "  "+ document.getElementById("endpresenttime").value+"\n"
        )
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "3",
                    command: command,
                    startdate: document.getElementById("startpresent").value,
                    starttime: document.getElementById("startpresenttime").value,
                    enddate: document.getElementById("endpresent").value,
                    endtime: document.getElementById("endpresenttime").value,
                    level:"1"
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Presentation Period has been settle as \nFrom: " + document.getElementById("startpresent").value + " , " + document.getElementById("startpresenttime").value
                     +"\nTo: "+ document.getElementById("endpresent").value+ " , " + document.getElementById("endpresenttime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitdeadlineforuploadstulist(command) {
        var deadlinedate = document.getElementById("deadlineforuploadstulist").value;
        var deadlinetime = document.getElementById("deadlineforuploadstulisttime").value;

        if (deadlinedate == null || deadlinedate == "" || deadlinetime == null || deadlinetime == "") {
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlier than today.") }
        var r = confirm("Please Confirm Your Setting for Student List Upload\n\n"
            + "Deadline :       " + document.getElementById("deadlineforuploadstulist").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforuploadstulisttime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "5",
                    command: command,
                    date: document.getElementById("deadlineforuploadstulist").value,
                    time: document.getElementById("deadlineforuploadstulisttime").value,
                    level:"3"
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Student List Upload Deadline has been settle as\n" + document.getElementById("deadlineforuploadstulist").value + " , " + document.getElementById("deadlineforuploadstulisttime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

    async function submitdeadlineforuploadsuperpreference(command){
        var deadlinedate = document.getElementById("deadlineforuploadsuperpreference").value;
        var deadlinetime = document.getElementById("deadlineforuploadsuperpreferencetime").value;

        if (deadlinedate == null || deadlinedate == "" || deadlinetime == null || deadlinetime == "") {
            return alert("Please input BOTH deadline date and time");
        }

        var today = new Date();
        //console.log(today.toISOString().toLocaleString('en-GB', { timeZone: 'UTC' }));
        var settledate = new Date(deadlinedate + " " + deadlinetime);

        if (today >= settledate) { return alert("Please Review Your Setting \nYou cannot set a date earlier than today.") }
        var r = confirm("Please Confirm Your Setting for Supervisor Preference Request Upload\n\n"
            + "Deadline :       " + document.getElementById("deadlineforuploadsuperpreference").value + "\n"
            + "Time         :      " + document.getElementById("deadlineforuploadsuperpreferencetime").value)
        if (r) {
            try {
                var requestbody = JSON.stringify({
                    type: "6",
                    command: command,
                    date: document.getElementById("deadlineforuploadsuperpreference").value,
                    time: document.getElementById("deadlineforuploadsuperpreferencetime").value,
                    level:"3"
                });
                var response = await fetch("/setting", {
                    method: "POST",
                    body: requestbody,
                });
                if (response.ok) {


                    alert("Preference Request Deadline has been settle as\n" + document.getElementById("deadlineforuploadsuperpreference").value + " , " + document.getElementById("deadlineforuploadsuperpreferencetime").value);
                    location.assign("/setting");

                } else if (response.status == 401) {
                    var msg = await response.json();
                    alert(msg);
                } else {
                    alert(response.statusTest);
                }

            } catch (error) {
                console.log(error);
            }
        }
    }

</script>