<div>
    <%console.log(allpersonallist)%>
        this is timetable
        <!---Empty case / init case == no any class inputted-->
        <% if(allpersonallist.length==0 ){%>
            <div class="Pagetitle">
                <%=req.session.username%>'s TimeTable
            </div>
            <%}else if(allpersonallist.length>0){%>
                <div class="Pagetitle">
                    <%=req.session.username%>'s Submitted TimeTable
                </div>
                <%}%>
                    <div class="rows is-mobile">
                        <div class="row">
                            <div class="columns is-mobile">
                                <div class="column is-half is-mobile">
                                    <div class="buttons is-left">
                                        <button class="button buttonlogout" onclick="history.back()">Back</button>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="columns is-mobile">
                                    <div class="column is-onethird">
                                        <div class="buttons">
                                            <a href="/timetable/submitttb">
                                                <button class="button buttonlogout" id="addclass">Add Class</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column is-onethird">
                                        <form method="POST" action="/timetable/pic" enctype="multipart/form-data">
                                            <div class="columns is-mobile">
                                                <div class="column is-onethird">
                                                    <label for="studentttbpic">Timetable
                                                        Proof:&emsp;&emsp;&emsp;</label>
                                                    <input type="file" id="iploadfileinput" name="avatar"
                                                        multiple="multiple" accept="image/*" onchange="savefile(this)">
                                                </div>
                                                <div class="column is-onethird" id="appearthebutton">
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="column is-onethird">
                                        <%if(req.session.role="stu" ){%>
                                            <%if(allpersonallist.length==0){%>
                                                <div class="buttons is-right">
                                                    <button class="button buttonlogout"
                                                        onclick="submitstudentttb('0')">Submit
                                                        Student Timetable</button>
                                                </div>
                                                <%}else{%>
                                                    <div class="buttons is-right">
                                                        <button class="button buttonlogout"
                                                            onclick="submitstudentttb('<%=allpersonallist[0].picdata%>')">Submit
                                                            Student Timetable</button>
                                                    </div>
                                                    <%}%>
                                                        <%}else{%>
                                                            <button class="button buttonlogout"
                                                                onclick="submitttb()">Submit
                                                                Timetable</button>
                                                            <%}%>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <%if(allpersonallist.length>0 ){%>
                        <%if(allpersonallist[0].picdata!= null){%>
                            <div class="columns ">

                                <div class="column is half">
                                    <div class="picdisplay">
                                        <%var base64obj=Buffer.from(allpersonallist[0].picdata)%>
                                            <img src="data:image/jpeg;base64,<%=base64obj%>">
                                    </div>


                                </div>
                                <div class="column is half">


                                    <%}%>
                                        <table
                                            class="table is-bordered is-striped is-hoverable is-fullwidth text-center">
                                            <th style="font-size:20px;text-align: center;vertical-align:center;">Class
                                                Code</th>
                                            <th style="font-size:20px;text-align: center;vertical-align:center;">Class
                                                Section</th>
                                            <%if(allpersonallist[0].confirmation=="0" || allpersonallist[0].CID
                                                !="EMPTY_" ){%>
                                                <th style="font-size:20px;text-align: center;vertical-align:center;">
                                                    Action</th>

                                                <%}%>

                                                    <% allpersonallist.forEach(function(list){ var
                                                        stringstring=list.CID.split("_"); %>
                                                        <tr>
                                                            <%if(stringstring.length < 3 && allpersonallist[0].CID
                                                                !="EMPTY_" ){%>
                                                                <td
                                                                    style="font-size:20px;text-align: center;vertical-align:center;">
                                                                    <%=stringstring[0]%>
                                                                </td>
                                                                <td
                                                                    style="font-size:20px;text-align: center;vertical-align:center;">
                                                                    <%=stringstring[1]%>
                                                                </td>
                                                                <%if(allpersonallist[0].confirmation=="0" ){%>
                                                                    <td
                                                                        style="font-size:20px;text-align: center;vertical-align:center;">
                                                                        <button class="button" type="button"
                                                                            onclick="deleteclassinput('<%=stringstring[0]%>','<%=stringstring[1]%>')">Delete</button>
                                                                    </td>
                                                                    <%}%>

                                                                        <%} %>

                                                        </tr>
                                                        <%})%>

                                        </table>
                                        <%if(allpersonallist[0].picdata!= null){%>
                                </div>
                                <%}%>
                            </div>
                            <%}else{%>
                                <br>
                                <div class="columns is-mobile">
                                    <div class="column is-onethird">

                                    </div>

                                    <div class="column is-onethird">
                                        <article class="message is-large">
                                            <div class="message-header">
                                                <p>Attension</p>
                                            </div>
                                            <div class="message-body">
                                                Currently there are no class inputted by you
                                                <br><br>
                                                Please be reminded that if you input <strong>0</strong> classes
                                                <br>
                                                Which means except for approved unavailable timeslots
                                                <br>
                                                You are <strong><u>fine to accept anytime</u></strong> assigned by your
                                                supervisor
                                            </div>
                                        </article>
                                    </div>
                                    <div class="column is-onethird">

                                    </div>
                                </div>


                                <%}%>





</div>
<script>
    function savefile(myFile) {

        var file = myFile.files[0];
        var filetype = (file.name.split("."))[1]

        if (filetype != "png" && filetype != "jpg" && filetype != "jpeg") {
            alert("Please Upload .png / .jpg / .jpeg format of image")
            document.getElementById("uploadfileinput") = "";

        } else {
            var newbutton = document.createElement("button");
            newbutton.setAttribute("id", "upload");
            newbutton.setAttribute("class", "button buttonlogout");
            newbutton.innerText = "Upload"
            document.getElementById("appearthebutton").appendChild(newbutton);
        }

    }
</script>