<div>
    
    <!---Empty case / init case == no any class inputted-->
    <%if (date != undefined){
        var datedate=new Date(date);

    }%>
    
    <%var today=new Date()%>
    <% if(allpersonallist.length ==0){%>
        <div class="Pagetitle">
            <%=req.session.username%>'s TimeTable
        </div>
        
        <%}else if (allpersonallist.length >0 && allpersonallist[0].confirmation =="0"){%>
            <div class="Pagetitle">
                <%=req.session.username%>'s TimeTable
            </div>
            <div style="text-align: center;">
                Please be reminded that the current record inputted <strong style="color:red">HAVE NOT BEEN SUBMITTED</strong> to the system
                <br>
                Click <strong><u><i>Submit Timetable </i></u></strong>for submittion
            </div>
            <%}else if(allpersonallist[0].confirmation !="0" ){%>
            <div class="Pagetitle">
                <%=req.session.username%>'s Submitted TimeTable
            </div>
            <div class="row" style="text-align: center;font-size: 15px;color: grey;">
                <% var submitteddate=new Date(allpersonallist[0].Submissiontime)%>
                    Submitted at <%=submitteddate.toLocaleDateString()%> ,
                        <%=submitteddate.toLocaleTimeString('en-US')%>
            </div>

            <%}%>
                <div class="rows is-mobile">
                    <div class="row">
                        <div class="columns is-mobile">
                            <div class="column is-half is-mobile">
                                <div class="buttons is-left">
                                    <button class="button buttonlogout" onclick="history.back()">Back</button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="columns is-mobile">
                            <div class="column is-onethird">
                                <% if (allpersonallist.length==0 || (allpersonallist[0].confirmation !="1"
                                    &&allpersonallist[0].confirmation !="2" )){%>
                                        
                                    <%if ((date== undefined) || (date != undefined && today < date)){%>
                                        <div class="buttons">
                                            <a href="timetable/submitttb">
                                                <button class="button buttonlogout" id="addclass"
                                                    onclick="checkdeadline('<%=date%>')">Add Class</button>
                                        </div>
                                        </a>

                                        <%}%>
                                            <%}%>
                            </div>
                            <div class="column is-onethird">
                                <%if(req.session.role=="stu" ){%>
                                    <%if(allpersonallist.length==0 || (allpersonallist[0].confirmation !="1"
                                        &&allpersonallist[0].confirmation !="2" )){%>
                                        <%if ((date== undefined) || (date != undefined && today < date)){%>
                                            <form method="POST" action="/timetable/pic" enctype="multipart/form-data">
                                                <div class="columns is-mobile">
                                                    <div class="column is-onethird">
                                                        <label for="studentttbpic">Timetable
                                                            Proof:&emsp;&emsp;&emsp;</label>
                                                        <input type="file" id="uploadfileinput" name="avatar"
                                                            multiple="multiple" accept="image/*"
                                                            onchange="savefile(this)">
                                                    </div>
                                                    <div class="column is-onethird" id="appearthebutton">
                                                    </div>
                                                </div>

                                            </form>
                                            <%}%>
                                                <%}%>

                                                    <%}%>
                            </div>
                            <div class="column is-onethird" style="text-align: right;">
                                <%if(req.session.role=="stu" ){%>

                                    <%if(allpersonallist.length==0){%>

                                        <%if (date != undefined && today> date){%>
                                            
                                            <div class="box"
                                                style="font-size:20px; text-align:  right; background-color: beige; padding:20px;font-weight: bold;color: red;">
                                                No Submission will be Accepted</div>
                                            <%}else{%>
                                                <div class="buttons is-right">
                                                    <button class="button buttonlogout"
                                                        onclick="submitstudentttb('0','<%=date%>')">Submit
                                                        Student Timetable</button>
                                                </div>
                                                <%}%>
                                                    <!--no class input status-->

                                                    <%}else if(allpersonallist[0].confirmation !="1" &&
                                                        allpersonallist[0].confirmation !="2" ){%>
                                                        <!--have class input and confirmation 1 == Pending for approve && confirmation 2 == approved-->
                                                        <!--have class input and confirmation 0 == Require Proof && confirmation 3 == rejected -->
                                                        <!--this is 0 & 3 case-->

                                                        <%if(allpersonallist[0].confirmation=="0" ){%>
                                                            <%if (date== undefined || today < date){%>
                                                                <div class="buttons is-right">
                                                                    <button class="button buttonlogout"
                                                                        onclick="submitstudentttb('<%=allpersonallist[0].picdata%>','<%=date%>')">Submit
                                                                        Student Timetable</button>
                                                                </div>

                                                                <div class="box"
                                                                    style="background-color: blanchedalmond; text-align: right;">
                                                                    <%if(allpersonallist[0].picdata!=null){%>
                                                                        <div style="font-size: 17px;">Status :<strong><u
                                                                                    style="color: red;">Click Submit</u>
                                                                                for
                                                                                Supervisor
                                                                                to review</strong></div>

                                                                        <%}else{%>
                                                                            <div style="font-size: 17px;">Status
                                                                                :<strong><u style="color: red;">Require
                                                                                        Upload
                                                                                        Proof</u> for
                                                                                    Supervisor to review</strong></div>

                                                                            <%}%>
                                                                                <%}else{%>
                                                                                    <div class="box"
                                                                                        style="font-size:20px; text-align:  right; background-color: beige; padding:20px;font-weight: bold;color: red;">
                                                                                        No Submission will be Accepted
                                                                                    </div>
                                                                                    <%}%>


                                                                                        <%}else
                                                                                            if(allpersonallist[0].confirmation=="3"
                                                                                            ){%>
                                                                                            <%if (date== undefined|| today <
                                                                                                date){%>
                                                                                                <div
                                                                                                    class="buttons is-right">
                                                                                                    <button
                                                                                                        class="button buttonlogout"
                                                                                                        onclick="submitstudentttb('<%=allpersonallist[0].picdata%>','<%=date%>')">Resubmit
                                                                                                        Student
                                                                                                        Timetable</button>
                                                                                                </div>
                                                                                                <%}else{%>
                                                                                                    <div class="box"
                                                                                                        style="font-size:20px; text-align:  right; background-color: beige; padding:20px;font-weight: bold;color: red;">
                                                                                                        No Submission
                                                                                                        will be Accepted
                                                                                                    </div>
                                                                                                    <%}%>
                                                                                                        <div class="box"
                                                                                                            style="background-color: blanchedalmond; text-align: right;">
                                                                                                            <div
                                                                                                                style="font-size: 17px;">
                                                                                                                Status
                                                                                                                :<strong><u
                                                                                                                        style="color: orangered;">Rejected</u>
                                                                                                                    after
                                                                                                                    Supervisor
                                                                                                                    Review
                                                                                                                </strong>
                                                                                                            </div>
                                                                                                            <% var
                                                                                                                reviewdate=new
                                                                                                                Date(allpersonallist[0].review)%>
                                                                                                                <div
                                                                                                                    style="font-size: 15px; color: gray;">
                                                                                                                    Reviewed
                                                                                                                    at
                                                                                                                    <%=reviewdate.toLocaleDateString()%>
                                                                                                                        ,
                                                                                                                        <%=reviewdate.toLocaleTimeString('en-US')%>
                                                                                                                </div>
                                                                                                                <div
                                                                                                                    style="font-size: 15px; color: gray;">
                                                                                                                    Comments:
                                                                                                                    <%var
                                                                                                                        stringstring=allpersonallist[0].ttbcomments.split("_");%>
                                                                                                                        <%=stringstring.slice(-1)%>
                                                                                                                </div>
                                                                                                                <%}%>
                                                                                                        </div>


                                                                                                        <%}else{%>
                                                                                                            <div class="box"
                                                                                                                style="background-color: blanchedalmond; text-align: right;">
                                                                                                                <%if(allpersonallist[0].confirmation=="1"
                                                                                                                    ){%>
                                                                                                                    <div
                                                                                                                        style="font-size:17px;">
                                                                                                                        Status
                                                                                                                        :<strong><u
                                                                                                                                style="color: rgb(127, 18, 189);">Pending</u>
                                                                                                                            for
                                                                                                                            Supervisor
                                                                                                                            Review
                                                                                                                        </strong>
                                                                                                                        <%}else
                                                                                                                            if(allpersonallist[0].confirmation=="2"
                                                                                                                            ){%>
                                                                                                                            <div
                                                                                                                                style="font-size: 17px;">
                                                                                                                                Status
                                                                                                                                :<strong><u
                                                                                                                                        style="color: green;">Approved</u>
                                                                                                                                    after
                                                                                                                                    Supervisor
                                                                                                                                    Review
                                                                                                                                </strong>
                                                                                                                                <% var
                                                                                                                                    reviewdate=new
                                                                                                                                    Date(allpersonallist[0].review)%>
                                                                                                                                    <div
                                                                                                                                        style="font-size: 15px; color: gray;">
                                                                                                                                        Reviewed
                                                                                                                                        at
                                                                                                                                        <%=reviewdate.toLocaleDateString()%>
                                                                                                                                            ,
                                                                                                                                            <%=reviewdate.toLocaleTimeString('en-US')%>
                                                                                                                                    </div>
                                                                                                                                    <div
                                                                                                                                        style="font-size: 15px; color: gray;">
                                                                                                                                        Comments:
                                                                                                                                        <%var
                                                                                                                                            stringstring=allpersonallist[0].ttbcomments.split("_");%>
                                                                                                                                            <%=stringstring.slice(-1)%>
                                                                                                                                    </div>
                                                                                                                                    <%}%>
                                                                                                                            </div>
                                                                                                                    </div>
                                                                                                            </div>
                                                                                                            <%}%>
                                                                                                                <%}else{%>
                                                                                                                    
                                                                                                                    <%if(allpersonallist.length==0
                                                                                                                        ||
                                                                                                                        allpersonallist[0].confirmation=="0"
                                                                                                                        ){%>
                                                                                                                            
                                                                                                                            <%if (today < date || date == undefined){%>
                                                                                                                                <div
                                                                                                                            class="buttons is-right">
                                                                                                                            <button
                                                                                                                                class="button buttonlogout"
                                                                                                                                onclick="submitttb('<%=allpersonallist.length%>')">Submit
                                                                                                                                Timetable</button>
                                                                                                                        </div><%}else{%>
                                                                                                                                <div class="box"
                                                                                        style="font-size:20px; text-align:  right; background-color: beige; padding:20px;font-weight: bold;color: red;">
                                                                                        No Submission will be Accepted
                                                                                    </div>
                                                                                                                                <%}%>
                                                                                                                        
                                                                                                                        <%}%>

                                                                                                                            <%}%>



                                                                </div>
                            </div>
                        </div>
                    </div>

                    <%if(allpersonallist.length>0 ){%>
                        <!---if have input picture , display in a better view use-->
                        <%if(allpersonallist[0].picdata!= null){%>
                            <br><br>
                            <div>
                                <div class="columns ">

                                    <div class="column is half">
                                        <div class="picdisplay">
                                            <%var base64obj=Buffer.from(allpersonallist[0].picdata)%>
                                                <img src="data:image/jpeg;base64,<%=base64obj%>">
                                        </div>


                                    </div>
                                    <div class="column is half">

                                        <%}%><br><br>
                                            <!--------------------------------------------------------->
                                            <table
                                                class="table is-bordered is-striped is-hoverable is-fullwidth text-center">
                                                <th
                                                    style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                    Class
                                                    Code</th>
                                                <th
                                                    style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                    Class
                                                    Section</th>
                                                <%if((allpersonallist[0].confirmation=="0"||allpersonallist[0].confirmation=="3") &&(date ==undefined || today < date)){%>
                                                    <th
                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">

                                                        Action</th>

                                                    <%}%>

                                                        <% allpersonallist.forEach(function(list){ var
                                                            stringstring=list.CID.split("_"); %>
                                                            <tr>
                                                                <%if(stringstring.length < 3){%>
                                                                    <td
                                                                        style="font-size:20px;text-align: center;vertical-align:middle;">
                                                                        <%=stringstring[0]%>
                                                                    </td>
                                                                    <td
                                                                        style="font-size:20px;text-align: center;vertical-align:middle;">
                                                                        <% if(stringstring[0]=="EMPTY" && (
                                                                            allpersonallist[0].confirmation=="0"
                                                                            ||allpersonallist[0].confirmation=="3" )){%>
                                                                            <strong style="color: red;">If you wish
                                                                                to input
                                                                                class, please first remove this
                                                                                entry</strong>
                                                                            <%}%>
                                                                                <%=stringstring[1]%>
                                                                    </td>
                                                                    
                                                                    <%if((allpersonallist[0].confirmation=="0" ||
                                                                        allpersonallist[0].confirmation=="3") && (date == undefined || today < date) ){%>
                                                                        <td
                                                                            style="font-size:20px;text-align: center;vertical-align:middle;">
                                                                            <button class="button" type="button"
                                                                                onclick="deleteclassinput('<%=stringstring[0]%>','<%=stringstring[1]%>')">Delete</button>
                                                                        </td>
                                                                        <%}%>

                                                                            <%} %>

                                                            </tr>
                                                            <%})%>

                                            </table>
                                            <!---if have input picture , display in a better view use-->
                                            <%if(allpersonallist[0].picdata!= null){%>
                                    </div>
                                    <!------------------------------------------------------------------>
                                    <%}%>
                                </div>
                            </div>
                            <%}else{%>
                                <!--- 0 input init -->
                                <br>
                                <div class="columns is-mobile">
                                    <div class="column is-one-fifth">

                                    </div>

                                    <div class="column is-three-fifths">
                                        <article class="message is-large">
                                            <div class="message-header">
                                                <p>Submission Deadline for Timetable<br>
                                                    
                                                    <%if(date != undefined){%>
                                                        <%=datedate.toLocaleDateString()%>
                                                            <%=datedate.toLocaleTimeString('en-US')%>
                                                                <%}%>
                                                </p>
                                            </div>
                                            <div class="message-body" style="font-size: 18px;">
                                                <strong>Currently there are no class inputted by you</strong>
                                                <% if(req.session.role!="sup" ){%>
                                                    <br><br>
                                                    Please be reminded that even if you enrolled <strong>0
                                                        course</strong>
                                                    this sememster
                                                    <br>
                                                    You are required to add an entry for declaring your
                                                    course
                                                    number
                                                    and
                                                    provide valid proof as well.
                                                    <br><br>
                                                    Please be reminded that if you input <strong>0</strong>
                                                    classes
                                                    <br>
                                                    Which means except for approved unavailable timeslots
                                                    <br>
                                                    You are <strong><u>fine to accept anytime</u></strong>
                                                    assigned
                                                    by
                                                    your
                                                    supervisor
                                                    <%}else{%>
                                                        <br><br>
                                                        <div class="text" style="color:red;">
                                                            Please be reminded that even if you teach
                                                            <strong>0
                                                                course</strong>
                                                            this sememster
                                                            <br>
                                                            You are required to <strong>add an entry for
                                                                declaring</strong> your
                                                            course
                                                            number
                                                            <br><br>
                                                            Please <strong><u>check the box</u></strong> in
                                                            the form by clicking the top
                                                            left button "Add Class"

                                                        </div>
                                                        <br><br>
                                                        Please be reminded that if you input
                                                        <strong>0</strong>
                                                        classes
                                                        <br>
                                                        Which means except for approved unavailable
                                                        timeslots
                                                        <br><br>
                                                        The presentation time will schduled at <strong>any
                                                            daytime
                                                            without limitations.</strong>


                                                        <%}%>

                                            </div>
                                        </article>
                                    </div>
                                    <div class="column is-one-fifth">

                                    </div>
                                </div>


                                <%}%>
                                    <br><br>
                                    <div class="columns is-mobile">
                                        
                                        <%if (allpersonallist.length>0 && allpersonallist[0].CID != "EMPTY_") {%>
                                            <% var lastbox; const mon=[]; const tue=[]; const wed=[]; const thu=[];
                                                const fri=[]; const sat=[]; const arraylist=[mon,tue,wed,thu,fri,sat];
                                                %>
                                                <% for (var y=0 ; y < allpersonallist.length;y++){%>

                                                    <%arraylist[allpersonallist[y].weekdays-1].push(allpersonallist[y])%>
                                                        <%}%>
                                                            <% for (var y=0 ; y < arraylist.length;y++){%>

                                                                <%if(arraylist[y].length==0){%>
                                                                    <%arraylist[y].push("EMPTY")%>
                                                                        <%}%>
                                                                            <%}%>
                                                                           
                                                                            <% for (var y=0 ; y < arraylist.length;y++){%>
                                                                                <%if(arraylist[y].length >=2){%>
                                                                                    <%for (var x=1 ; x < arraylist[y].length;x++){%>
                                                                                        <%if(arraylist[y][x].startTime == arraylist[y][x-1].startTime && arraylist[y][x].endTime == arraylist[y][x-1].endTime){%>
                                                                                            <%arraylist[y][x].CID = "SKIP"%>
                                                                                            <%}%>
                                                                                    <%}%>
                                                                                <%}%>
                                                                                
                                                                            <%}%>
                                                                            
                                                                                <table
                                                                                    class="table is-bordered is-striped is-hoverable is-halfwidth center">
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                    </th>
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                        MON</th>
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                        TUE</th>
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                        WED</th>
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                        THU</th>
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                        FRI</th>
                                                                                    <th
                                                                                        style="font-size:20px;text-align: center;vertical-align:middle; background-color: bisque;">
                                                                                        SAT</th>

                                                                                    <!---j = timebox-->
                                                                                    <%var firstbox=0;var lastbox=6;%>
                                                                                    <%var boxstr="";%>
                                                                                    
                                                                                        <% for(var j=8 ; j < 20;j++){ %>
                                                                                            <%let currenttime=new Date(); %>
                                                                                            <%currenttime.setHours(j, 30, 0, 0); %> 
                                                                                            <%let endend =new Date(); %>
                                                                                            <%endend.setHours(j+1,20,0,0) %>
                                                                                            
                                                                                            <tr>
                                                                                                <% if(j < 10){%>
                                                                                                    <td> 0<%=j%>:30</td>
                                                                                                <%}else{%>
                                                                                                    <td><%=j%>:30</td>
                                                                                                <%}%>
                                                                                                <!---i = arraybox-->
                                                                                                <%for(var a = 0 ; a <  arraylist.length;a++){%>
                                                                                                    <%if(arraylist[a] == "EMPTY"){%>
                                                                                                        <td></td>
                                                                                                        <%}else{%>
                                                                                                            
                                                                                                            <%var boxstr ="";%>
                                                                                                            <%for(var b = 0 ; b < arraylist[a].length;b++){%>
                                                                                                               <%if(arraylist[a][b].CID != "SKIP"){%>
                                                                                                                    <%if(arraylist[a][b].startTime == currenttime.toLocaleTimeString("en-GB")){%>
                                                                                                                        <%boxstr = arraylist[a][b].CID%>
                                                                                                                        <%var newstarttime = arraylist[a][b].startTime.split(":")%>
                                                                                                                        <%if(parseInt(newstarttime[0])+1< 10){newstarttime[0] = "0"+(parseInt(newstarttime[0])+1)}else{newstarttime[0] = parseInt(newstarttime[0])+1;}%>
                                                                                                                        <%arraylist[a][b].startTime = newstarttime[0]+":"+newstarttime[1]+":"+newstarttime[2]%>    
                                                                                                                    <%}%>
                                                                                                                    <%if(arraylist[a][b].endTime == endend.toLocaleTimeString("en-GB")){%>
                                                                                                                        <%arraylist[a][b].CID = "SKIP"%>   
                                                                                                                        
                                                                                                                    <%}%>
                                                                                                                <%}%>
                                                                                                               
                                                                                                                
                                                                                                            <%}%>
                                                                                                            <td><%=boxstr%></td>
                                                                                                        <%}%>
                                                                                                    
                                                                                                    <%}%>
                                                                                                    
                                                                                            </tr>
                                                                                            <%}%>


                                                                                </table>

                                                                                <%}%>

                                    </div>




                </div>
                <script>
                    async function submitstudentttb(picdata, date) {
                        var requestBody = JSON.stringify({ deadline: date });


                        if (picdata == "0") {
                            alert("Please go to \"Add Class\" and input the form of declaring you have enrolled 0 course this semester");
                            location.assign("/timetable/submitttb");
                        } else if (picdata == null || picdata == "") { return alert("Please Upload a vaild proof before submit"); }
                        else {
                            var r = confirm("This is student button\n\nPlease Confirm All Your Input Beofre Upload This Timetable. \n(Confirm the displayed Timetable Pic and Course Inputs) \n\n Once the Timetable has been uploaded to the System,\n the timetable cannot be modified.");

                            if (r) {

                                var response = await fetch("/timetable", {
                                    method: "POST",
                                    body: requestBody,
                                });

                                if (response.ok) {
                                    alert(" Your Timetable submitted.");
                                    location.reload();
                                } else if (response.status == 402) {
                                    var msg = await response.json();
                                    alert(msg);
                                    location.reload();
                                }

                            }
                        }

                    }

                    function savefile(myFile) {

                        var file = myFile.files[0];
                        var filetype = file.name.split(".")
                        filetype = filetype[filetype.length-1].toLowerCase(); 
                        console.log(filetype)
                        if (filetype != "png" && filetype != "jpg" && filetype != "jpeg") {
                            alert("Please Upload .png / .jpg / .jpeg format of image")
                            document.getElementById("uploadfileinput") = "";

                        } else {

                            document.getElementById("appearthebutton").innerHTML = "";
                            var newbutton = document.createElement("button");
                            newbutton.setAttribute("id", "upload");
                            newbutton.setAttribute("class", "button buttonlogout");
                            newbutton.setAttribute("onclick", "checkcheck()");
                            newbutton.innerText = "Upload"
                            document.getElementById("appearthebutton").appendChild(newbutton);
                        }

                    }

                    async function deleteclassinput(ccode, cseccode) {
                        var r = confirm("Confirm Delete " + ccode + "_" + cseccode + " ?");
                        var requestBody;
                        if (ccode != "EMPTY") {
                            requestBody = JSON.stringify({ cid: ccode + "_" + cseccode });

                        } else {
                            requestBody = JSON.stringify({ cid: ccode + "_" });

                        }

                        if (r) {

                            var response = await fetch("/timetable", {
                                method: "DELETE",
                                body: requestBody
                            });

                            if (response.ok) {
                                // var html = await response.text();
                                // alert(html);

                                alert("Class input deleted.");
                                location.assign("/timetable");
                            } else {
                                alert(response.status + ": " + response.statusText);
                            }

                        } else {
                            alert("cancelled");
                        }
                    };

                    async function submitttb(length) {
                        if (length == 0) {
                            alert("Please go to \"Add Class\" and input the form of declaring you have 0 course this semester");
                            location.assign("/timetable/submitttb");
                        } else {
                            var r = confirm("Confirm to Upload This Timetable? \n Once the Timetable has been uploaded to the System,\n the timetable cannot be modified.");
                            if (r) {

                                var response = await fetch("/timetable", {
                                    method: "POST",

                                });

                                if (response.ok) {

                                    alert("Timetable submitted.");
                                    location.reload();
                                } else {
                                    alert(response.status + ": " + response.statusText);
                                }


                            }


                        }}

                        async function checkcheck() {
                            //    console.log("get to here");
                            var response = await fetch("/timetable/deadline", {
                                method: "POST",
                            });
                            if (!response.ok) {
                                var msg = await response.json();
                                alert(msg);
                                location.reload();
                            }
                        }


                </script>