<div class = "Pagetitle">Presentation Schedule</div>
<div class = "columns is-mobile">
    <div class = "column is-half">
        <button class="button buttonlogout is-responsive is-left" onclick="backback()">
        Back
        </button>
    </div>
</div>

<% releasedate = new Date("2023-12-25");if(releasedate != null){%>
    <% var today = new Date(); var releasedday = new Date(releasedate);%>
    <%if(releasedday < today){%>
        

        <div id = "personalschdule" style="overflow-x: auto; overflow-y: auto;">
            <table class="table is-bordered is-striped center" style="width:80%">
                <thead >
                    <tr>
                        <th colspan="6" style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: rgb(216, 152, 33);">
                            Personal Schedule
                        </th>
                    </tr>
                
                <tr>
                    <th style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: blanchedalmond;">
                        Date
                    </th>
                    <th style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: blanchedalmond;">
                        Time
                    </th>
                    <th style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: blanchedalmond;">
                        Student
                    </th>
                    <th style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: blanchedalmond;">
                        Observer
                    </th>
                    <th style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: blanchedalmond;">
                        Campus
                    </th>
                    <th style ="text-align: center; font-size: calc(15px + 0.390625vw);;vertical-align:middle;background-color: blanchedalmond;">
                        RID
                    </th>
                    
                </tr>
            </thead>
            <%for(var a = 0 ; a < personalschedulebox.length;a++){%>
                <tr>
                    <td style ="text-align: center;vertical-align:middle;">
                        <%var boxdate = new Date(personalschedulebox[a].boxdate)%>
                        <%=boxdate.toLocaleDateString("en-GB")%>
                    </td>
                    <td style ="text-align: center;vertical-align:middle;">
                        <%=boxdate.toLocaleTimeString("en-GB")%>
                    </td>
                    <td style ="text-align: center;vertical-align:middle;">
                        <%=personalschedulebox[a].SID%>
                    </td>
                    <td style ="text-align: center;vertical-align:middle;">
                        <%=personalschedulebox[a].OID%>
                    </td>
                    <td style ="text-align: center;vertical-align:middle;">
                        <%=personalschedulebox[a].Campus%>
                    </td>
                    <td style ="text-align: center;vertical-align:middle;">
                        <%=personalschedulebox[a].RID%>
                    </td>
                </tr>
                <%}%>
            </table>
        </div>
        <%}else{%>
            <div class = "columns is-centered is-mobile">
                <div class = "column is-half">
                    <article class="message is-primary">
                        <div class="message-header">
                        <p style="font-size: 25px;">Release Date :   <%=releasedday.toLocaleDateString("en-GB");%>   <%=releasedday.toLocaleTimeString("en-US")%></p>
                        
                        </div>
                        <div class="message-body" style="font-size: 20px;">
                            The Presentation Schdeule has not been released.
                            <br>
                            The schedule will not be disclose until the date.
                        </div>
                    </article>
                </div>
            </div>
            

            <%}%>
    
    
    <%}else{%>
        <div class = "columns is-centered is-mobile">
            <div class = "column is-half">
                <article class="message is-primary">
                    <div class="message-header">
                      <p style="font-size: 25px;">Sorry</p>
                      
                    </div>
                    <div class="message-body" style="font-size: 20px;">
                        The Presentation Schdeule has not been released.
                    </div>
                  </article>
            </div>
        </div>


       
        <%}%>


<script>
    function backback(){
        location.assign("home")
    }
</script>
